force-app/main/default/flows/BLN_UserManagementV1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Base_Location_Changed</name>
        <label>Base Location Changed?</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BaseLocationChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_BaseLocation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BLN_NewBaseLocation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Found_Existing_Primary_Territory</name>
        <label>Check if Found Existing Primary Territory</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Check_if_Found_New_Base_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundPrimary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Primary_Membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Primary_Membership</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Found_New_Base_Location</name>
        <label>Check if Found New Base Location</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>No_Base_location_Match_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_New_Base_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BLN_NewBaseLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Base_Location_Assignment</targetReference>
            </connector>
            <label>Found_New Base Location</label>
        </rules>
    </decisions>
    <description>Flow Created under FOUK-10381</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMembershipEndDate</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Get_Current_Primary_Membership.Id}&lt;&gt;null,
IF({!Get_Current_Primary_Membership.EffectiveStartDate}&lt;{!$Flow.CurrentDateTime}-1/1440,
{!$Flow.CurrentDateTime}-1/1440,
{!Get_Current_Primary_Membership.EffectiveStartDate}+1/1440),
{!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>NewMembershipStartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!CurrentMembershipEndDate}+1/1440</expression>
    </formulas>
    <formulas>
        <name>Separator</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.MobilePhone}&lt;&gt;null &amp;&amp; {!$Record.PostalCode}&lt;&gt;null,
&apos; / &apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>YESTERDAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>User Management V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Management V1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Base_Location_Assignment</name>
        <label>Create New Base Location Assignment</label>
        <locationX>50</locationX>
        <locationY>1356</locationY>
        <faultConnector>
            <targetReference>Flow_Exception2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>NewMembershipStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>BLN_NewBaseLocation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritoryType</field>
            <value>
                <stringValue>P</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception1</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Close_Existing_Primary_Membership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Get_Current_Primary_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception2</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>1464</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>Create_New_Base_Location_Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Create_New_Base_Location_Assignment</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception3</name>
        <label>Flow Exception</label>
        <locationX>842</locationX>
        <locationY>1464</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>No_Base_location_Match_Found</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BLN_NewBaseLocation</name>
        <label>New Base Location</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Primary_Membership</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_BaseLocation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_MDMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_BaseLocation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Primary_Membership</name>
        <label>Get Current Primary Membership</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Found_Existing_Primary_Territory</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sync_ExistingResource</name>
        <label>Sync Existing Resource</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Base_Location_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Existing_Primary_Membership</name>
        <label>Close Existing Primary Membership</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Check_if_Found_New_Base_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Primary_Membership.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveEndDate</field>
            <value>
                <elementReference>CurrentMembershipEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_Base_location_Match_Found</name>
        <label>No Base location Match Found</label>
        <locationX>578</locationX>
        <locationY>1356</locationY>
        <faultConnector>
            <targetReference>Flow_Exception3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime} - The base location {!$Record.BLN_BaseLocation__c} could not be found for assignment.</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.BLN_ProcessDeactivation__c.BLN_DisableLightningFlows__c} = false 
&amp;&amp; ({!$Record.BLN_IsScheduledToModifyServiceResource__c} = true
)</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_min</name>
            <connector>
                <targetReference>Sync_ExistingResource</targetReference>
            </connector>
            <label>1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
