force-app/main/default/flows/BLN_CaptureUrethaneDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Grater_Time</name>
        <label>Assign Grater Time</label>
        <locationX>424</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate_Urethane_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Urethane_Details</name>
        <label>Concatenate Urethane Details</label>
        <locationX>688</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRequiredObj.ProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Urethane_Barcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application_Time_Bonded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Product_Required_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Grater_Time</name>
        <label>Assign Safe Time</label>
        <locationX>688</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate_Urethane_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Safe_Time</name>
        <label>Copy 1 of Assign Safe Time</label>
        <locationX>820</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMinutesNonBonded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Barcode_Should_Not_be_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Concatenate_Urethane_Details</name>
        <label>Copy 1 of Concatenate Urethane Details</label>
        <locationX>556</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRequiredObj.ProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Urethane_Barcode_NonBonded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application_Time_NonBonded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_UrethaneDetails__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_non_bonded_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Safe_Time</name>
        <label>Copy 1 of Copy 1 of Assign Safe Time</label>
        <locationX>556</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Barcode_Should_Not_be_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Grater_Time</name>
        <label>Copy 2 of Assign Grater Time</label>
        <locationX>292</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMinutesNonBonded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Barcode_Should_Not_be_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_bonded_Flag_Assignment</name>
        <label>Non bonded Flag Assignment</label>
        <locationX>1128</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>NonBondedFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Product_Required_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Start_Time</name>
        <label>Store Start Time</label>
        <locationX>589</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>U_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>U_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Barcode_Should_Not_be_Null</name>
        <label>Barcode Should Not be Null</label>
        <locationX>688</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>Iterate_non_bonded_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Barcode_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Urethane_Barcode_NonBonded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Concatenate_Urethane_Details</targetReference>
            </connector>
            <label>Barcode is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bonded</name>
        <label>Check Bonded</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Is_any_Product_Name_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bonded</defaultConnectorLabel>
        <rules>
            <name>If_Bonded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequiredObj.BLN_BondedNonBondedFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Urethane_Details</targetReference>
            </connector>
            <label>If Bonded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_non_bonded</name>
        <label>Check non bonded</label>
        <locationX>974</locationX>
        <locationY>3314</locationY>
        <defaultConnector>
            <targetReference>Iterate_non_bonded_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_non_bonded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequiredObj.BLN_BondedNonBondedFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRequiredObj.ProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUrethane_Details</targetReference>
            </connector>
            <label>If non bonded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_time_Grater</name>
        <label>Copy 1 of Is time Grater?</label>
        <locationX>688</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Barcode_Should_Not_be_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Time_is_Grater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>AddMinutesNonBonded</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Grater_Time</targetReference>
            </connector>
            <label>Copy 1 of Time is Grater</label>
        </rules>
        <rules>
            <name>Copy_1_of_Safe_Time_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Bonded_Product_has_any_Safe_Time</targetReference>
            </connector>
            <label>Copy 1 of Safe Time is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_any_Product_Name_blank</name>
        <label>Is any Product Name blank?</label>
        <locationX>1260</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Iterate_Product_Required_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Product_Name_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequiredObj.ProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_bonded_Flag_Assignment</targetReference>
            </connector>
            <label>If Product Name is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bonded_Product_has_any_Safe_Time</name>
        <label>Is Bonded Product has any Safe Time Decision</label>
        <locationX>688</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Safe_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMinutes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Safe_Time</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_List_has_any_NonBonded_Product</name>
        <label>Is List has any NonBonded Product?</label>
        <locationX>336</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Urethane_Used_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonBondedFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Urethane_Used</targetReference>
            </connector>
            <label>If true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_time_Grater</name>
        <label>Is time Grater?</label>
        <locationX>688</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Concatenate_Urethane_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_is_Grater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>AddMinutes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grater_Time</targetReference>
            </connector>
            <label>Time is Grater</label>
        </rules>
        <rules>
            <name>Safe_Time_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Grater_Time</targetReference>
            </connector>
            <label>Safe Time is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_And_Clock_In_Check_For_TimeSheet_Entry</name>
        <label>Null And Clock-In Check For TimeSheet Entry</label>
        <locationX>94</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check_For_Time_Sheet_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Timesheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Step</targetReference>
            </connector>
            <label>Null Check For Time Sheet Entry</label>
        </rules>
        <rules>
            <name>Null_Check_Plus_No_C_In_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Timesheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_CICO_Flow_1</targetReference>
            </connector>
            <label>Null Check Plus No C-In Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Service_Resource</name>
        <label>Null Check For Service Resource</label>
        <locationX>589</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Record_For_Current_Service_Resource</targetReference>
            </connector>
            <label>Service Resource Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Record_For_Current_Service_Resource</name>
        <label>Null Check For Time Sheet Record For Current Service Resource</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Open_CICO_Flow_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Sheet_Record_For_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Timesheet_Entry_Record</targetReference>
            </connector>
            <label>Time Sheet Record Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_WOLI_Decision</name>
        <label>Update WOLI Decision</label>
        <locationX>336</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Is_List_has_any_NonBonded_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Woli</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_UrethaneDetails__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Update Woli</label>
        </rules>
    </decisions>
    <decisions>
        <name>Urethane_Used_Decision</name>
        <label>Urethane Used</label>
        <locationX>336</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not used</defaultConnectorLabel>
        <rules>
            <name>Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Urethane_Used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_non_bonded_PR</targetReference>
            </connector>
            <label>Used</label>
        </rules>
    </decisions>
    <description>FOUK-3930,FOUK-11699</description>
    <environments>Default</environments>
    <formulas>
        <name>AddMinutes</name>
        <dataType>DateTime</dataType>
        <expression>{!Application_Time_Bonded} + ({!ProductRequiredObj.BLN_DriveAwayTimeFormula__c}/24/60)</expression>
    </formulas>
    <formulas>
        <name>AddMinutesNonBonded</name>
        <dataType>DateTime</dataType>
        <expression>{!Application_Time_NonBonded} + ({!ProductRequiredObj.BLN_DriveAwayTimeFormula__c}/24/60)</expression>
    </formulas>
    <interviewLabel>Capture Urethane Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Urethane Details</label>
    <loops>
        <name>Iterate_non_bonded_PR</name>
        <label>Iterate non bonded PR</label>
        <locationX>204</locationX>
        <locationY>3206</locationY>
        <assignNextValueToReference>ProductRequiredObj</assignNextValueToReference>
        <collectionReference>ProductReqRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_non_bonded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Woli_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Product_Required_Records</name>
        <label>Iterate Product Required Records</label>
        <locationX>336</locationX>
        <locationY>1598</locationY>
        <assignNextValueToReference>ProductRequiredObj</assignNextValueToReference>
        <collectionReference>ProductReqRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Bonded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WOLI_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Current_Service_Resource</name>
        <label>Get Current Service Resource</label>
        <locationX>589</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentServiceresource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PR_Records</name>
        <label>Get PR Records</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Woli_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsConsumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>ProductReqRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductName</queriedFields>
        <queriedFields>BLN_BondedNonBondedFormula__c</queriedFields>
        <queriedFields>BLN_DriveAwayTimeFormula__c</queriedFields>
        <queriedFields>BLN_ProductCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Record_For_Current_Service_Resource</name>
        <label>Get Time Sheet Record For Current Service Resource</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Record_For_Current_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceresource.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Woli_Record</name>
        <label>Get Woli Record</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Product_Required_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WoliRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>336</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>CurrentWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recent_Timesheet_Entry_Record</name>
        <label>Recent Timesheet Entry Record</label>
        <locationX>94</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_And_Clock_In_Check_For_TimeSheet_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Work_Step</name>
        <label>Copy 1 of Update Work Step</label>
        <locationX>468</locationX>
        <locationY>3206</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>204</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Is_List_has_any_NonBonded_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SafeDriveDateTime__c</field>
            <value>
                <elementReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_UrethaneDetails__c</field>
            <value>
                <elementReference>UpdateWoliObj.BLN_UrethaneDetails__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Woli_Record</name>
        <label>Update Woli Record</label>
        <locationX>204</locationX>
        <locationY>4490</locationY>
        <connector>
            <targetReference>Update_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SafeDriveDateTime__c</field>
            <value>
                <elementReference>UpdateWoliObj.BLN_SafeDriveDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_UrethaneDetails__c</field>
            <value>
                <elementReference>UpdateWoliObj.BLN_UrethaneDetails__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step</name>
        <label>Update Work Step</label>
        <locationX>204</locationX>
        <locationY>4598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Add_Urethane_Details</name>
        <label>Add Urethane Details</label>
        <locationX>688</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_time_Grater</targetReference>
        </connector>
        <fields>
            <name>ProductName</name>
            <fieldText>&lt;p&gt;Enter Urethane details for Product:-&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Product Name&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; : &lt;/strong&gt;&lt;strong&gt;{!ProductRequiredObj.ProductName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Code&lt;strong&gt; : {!ProductRequiredObj.BLN_ProductCode__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Urethane_Barcode</name>
            <dataType>String</dataType>
            <fieldText>Urethane Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application_Time_Bonded</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Application Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddUrethane_Details</name>
        <label>Add Urethane Details</label>
        <locationX>688</locationX>
        <locationY>3422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Is_time_Grater</targetReference>
        </connector>
        <fields>
            <name>ProductNameNonBonded</name>
            <fieldText>&lt;p&gt;Enter Urethane details for Product:-&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Name&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; : &lt;/strong&gt;&lt;strong&gt;{!ProductRequiredObj.ProductName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Code&lt;/span&gt;&lt;strong&gt; : {!ProductRequiredObj.BLN_ProductCode__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Urethane_Barcode_NonBonded</name>
            <dataType>String</dataType>
            <fieldText>Urethane Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Application_Time_NonBonded</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Application Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Open_CICO_Flow_1</name>
        <label>Copy 1 of Open CICO Flow 1</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Calling_CICO_Flow_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OpenCICO1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any action, you must Clock-In first. Click Next to Clock-In.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_Urethane_Used</name>
        <label>Is Urethane Used?</label>
        <locationX>204</locationX>
        <locationY>2906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Urethane_Used_Decision</targetReference>
        </connector>
        <fields>
            <name>Urethane_Used</name>
            <choiceReferences>U_Yes</choiceReferences>
            <choiceReferences>U_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Urethane Used ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow_1</name>
        <label>Open CICO Flow 1</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow_1</targetReference>
        </connector>
        <fields>
            <name>OpenCICO1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any action, you must Clock-In first. Click Next to Clock-In.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>463</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Start_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow_1</name>
        <label>Calling CICO Flow 1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceresource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Calling_CICO_Flow_1</name>
        <label>Copy 1 of Calling CICO Flow 1</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceresource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentServiceresource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>CurrentWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCheckedIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsProductNameBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NonBondedFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProductReqRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProductRequiredObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>UpdateWoliObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>UpdateWoliRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoliRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
