force-app/main/default/flows/BLN_ServiceAppointmentCancellationPart01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Error_1</name>
        <label>Apex Error</label>
        <locationX>1018</locationX>
        <locationY>1163</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BLN_ApexError</name>
        <label>Apex Error</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Cancel_SA_assignment</name>
        <label>Cancel SA assignment</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Loop_Dependant_SA_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Dependant_SA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Dependant_SA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dummy_Variable_Assignment</name>
        <label>Dummy Variable Assignment</label>
        <locationX>1293</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>DummyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>WorkType_Ids_store</name>
        <label>WorkType Ids store</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>WorkTypeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkType_Ids_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkType_Ids_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>FOUK-4576, This is created to check the Service Appointment Status</description>
        <name>BLN_CheckSAStatus</name>
        <label>Check SA Status</label>
        <locationX>1293</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Dummy_Variable_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLN_StatusIsChangedToCancelled</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9 AND 10 AND (11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Side &amp; Rear Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_WorkType_Query_Null</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.BLN_BypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed Before Arrive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkTypes</targetReference>
            </connector>
            <label>Status is Changed To Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>BLN_Null_Check</name>
        <label>Null Check</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Dummy_Variable_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_no_null_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BLN_GetSARecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Dependant_SA_Records</targetReference>
            </connector>
            <label>If no null records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkType_Query_Null</name>
        <label>Check WorkType Query Null</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Dummy_Variable_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkType_Ids_Loop</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status_Check</name>
        <label>SA Status Check</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Loop_Dependant_SA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Dependant_SA_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Dependant_SA_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Dependant_SA_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_SA_assignment</targetReference>
            </connector>
            <label>Check Status</label>
        </rules>
    </decisions>
    <description>FOUK-4576, This Flow is created for Service Appointment cancellation when we cancel the Main Appointment then all its related sub-appointments are also to be cancelled</description>
    <environments>Default</environments>
    <interviewLabel>Service Appointment Cancellation Part-01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Cancellation Part-01</label>
    <loops>
        <name>Loop_Dependant_SA_Records</name>
        <label>Loop Dependant SA Records</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>BLN_GetSARecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SA_Status_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WorkType_Ids_Loop</name>
        <label>WorkType Ids Loop</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionReference>GetWorkTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WorkType_Ids_store</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BLN_GetSARecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>BLN_ApexError</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ServiceAppointmentCancellationPart01</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Cancel_Dependent_SA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record_2</name>
        <label>Create Exception Record</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BLN_ApexError</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ServiceAppointmentCancellationPart01</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_PR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record_for_this</name>
        <label>Create Exception Record</label>
        <locationX>1018</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Apex_Error_1</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ServiceAppointmentCancellationPart01</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>FOUK-4576, This is created to get all the Service Appointment Records</description>
        <name>BLN_GetSARecords</name>
        <label>Get SA Records</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLN_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record_for_this</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_WorkOrderNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_WorkOrderNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>WorkTypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkTypes</name>
        <label>GetWorkTypes</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkType_Query_Null</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Record_for_this</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock Collect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Dependent_SA</name>
        <label>Cancel Dependent SA</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputReference>count</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PR</name>
        <label>Update Product Required</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Cancel_Dependent_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_WOLI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordUpdates>
    <start>
        <locationX>1167</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BLN_CheckSAStatus</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>DummyVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>FOUK-4576, This variable is created for storing the SA Records whose status is to be updated as cancelled</description>
        <name>SA_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Store the Stock Collect and Assist WT Ids</description>
        <name>WorkTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Stock Collect and Assist Work Type Ids</description>
        <name>WTIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
