force-app/main/default/flows/BLN_CreateInventoryForServiceResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>270</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>AssignPRIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PR_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_Start_to_PR</name>
        <label>Assign Schedule Start to PR</label>
        <locationX>270</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PR_Rec.BLN_ScheduledStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BLN_ScheduleStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_Assignment</name>
        <label>PT Assignment</label>
        <locationX>1326</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>PT_Assign.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unselected_VAPS.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT_Assign.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT_Assign.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BLN_AssignedServiceResource__r.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT_Assign.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unselected_VAPS.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT_Assign.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT_Assign.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unselected_VAPS.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PT_assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_assignment_Collection</name>
        <label>PT assignment Collection</label>
        <locationX>1326</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>PTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT_Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unselected_VAPS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_OI_found</name>
        <label>check OI found</label>
        <locationX>1667</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OI_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_order_product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_order</targetReference>
            </connector>
            <label>OI Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PR_Collection_not_null</name>
        <label>Check PR Collection not null</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignPRIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PR_Record</targetReference>
            </connector>
            <label>PR Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_PT_collect_not_null</name>
        <label>check PT collect not null</label>
        <locationX>1238</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_Collect_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_product_transfer</targetReference>
            </connector>
            <label>PT Collect is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA</name>
        <label>Check SA</label>
        <locationX>1914</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_is_scheduled</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.BLN_BypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_AssignedServiceResource__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_IsBranchAppointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_IsBranchAppointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_order_product</targetReference>
            </connector>
            <label>SA is scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA_Status</name>
        <label>Check SA Status</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Disipatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Product_Required</targetReference>
            </connector>
            <label>Status is Disipatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>PR_found_check</name>
        <label>PR found check</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Product_Required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_Rec</targetReference>
            </connector>
            <label>PR Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>unselected_VAPS_null_False</name>
        <label>unselected VAPS null False</label>
        <locationX>1436</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Unselected_VAPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unselected_VAPS</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>This. Flow will create inventory for VAN which is assigned to Service Resource</description>
    <environments>Default</environments>
    <interviewLabel>Create Inventory to Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inventory For Service Resource</label>
    <loops>
        <name>PR_Rec</name>
        <label>PR Rec</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <collectionReference>get_Product_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Schedule_Start_to_PR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_PR_Collection_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unselected_VAPS</name>
        <label>Unselected VAPS</label>
        <locationX>1238</locationX>
        <locationY>924</locationY>
        <collectionReference>get_Unselected_VAPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PT_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_PT_collect_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_product_transfer</name>
        <label>create product transfer</label>
        <locationX>1106</locationX>
        <locationY>1440</locationY>
        <inputReference>PTCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_order</name>
        <label>get order</label>
        <locationX>1436</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Unselected_VAPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_order_product.Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_order_product</name>
        <label>get order product</label>
        <locationX>1667</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_OI_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Product_Required</name>
        <label>get Product Required</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PR_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Unselected_VAPS</name>
        <label>get Unselected VAPS</label>
        <locationX>1436</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>unselected_VAPS_null_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_IsProductSelected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PR_Record</name>
        <label>Update PR Record</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <inputReference>AssignPRIds</inputReference>
    </recordUpdates>
    <start>
        <locationX>1136</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SA_Status</targetReference>
        </connector>
        <filterFormula>NOT({!$Permission.BLN_BypassFlows}) &amp;&amp;
(ISPICKVAL({!$Record.Status}, &apos;Scheduled&apos;) || ISPICKVAL({!$Record.Status}, &apos;Dispatched&apos;))&amp;&amp; 
NOT(ISNULL({!$Record.BLN_AssignedServiceResource__c}))</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Create_Product_Transfer_for_VAN</name>
            <connector>
                <targetReference>Check_SA</targetReference>
            </connector>
            <label>Create Product Transfer for VAN</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignPRIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>productRequired</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>PT_Assign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
</Flow>
