force-app/main/default/flows/BLN_CapturePayment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Error</name>
        <label>Apex Error</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Get_Records</name>
        <label>Check Get Records</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BLN_CapturePayment</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_PaymentMethod</name>
        <label>check PaymentMethod</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>isflowfinish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentmethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_Assisted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assistedPayScreen</targetReference>
            </connector>
            <label>Assisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>isflowfinish</name>
        <label>isflowfinish</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>flowFinish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>true</elementReference>
                </rightValue>
            </conditions>
            <label>flowFinish</label>
        </rules>
    </decisions>
    <description>FOUK-5568
This flow is used to call bln_PaymentScreenCmp lwc</description>
    <environments>Default</environments>
    <interviewLabel>CapturePayment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_record</name>
        <label>Create Exception record</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Capture Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>assistedPayScreen</name>
        <label>assistedPayScreen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>assistedPaymentScreen</name>
            <extensionName>c:bln_AssistedPayments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentId</name>
                <value>
                    <elementReference>paymentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BLN_CapturePayment</name>
        <label>CapturePayment</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_PaymentMethod</targetReference>
        </connector>
        <fields>
            <name>bln_PaymentScreen</name>
            <extensionName>c:bln_PaymentScreenCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>finishflow</assignToReference>
                <name>finishFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentId</assignToReference>
                <name>paymentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentmethod</assignToReference>
                <name>paymentmethod</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>finishflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentmethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>true</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.BLN_True</elementReference>
        </value>
    </variables>
</Flow>
