force-app/main/default/flows/BLN_PopulateWOLILinks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Exception</name>
        <label>Exception</label>
        <locationX>402</locationX>
        <locationY>3074</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_additionalLinks</name>
        <label>Assign additionalLinks</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>updatedWOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalLinkRecord.BLN_ParentId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_AdditionalInspectionLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>additionalLinks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_existing_PostLinks_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_additionalLinks_for_comparison</name>
        <label>Assign additionalLinks for comparison</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>compareAddLinks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WOLI.BLN_AdditionalInspectionLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>compareAddLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Additional_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PostLinks</name>
        <label>Assign PostLinks</label>
        <locationX>50</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>updatedWOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalLinkRecord.BLN_ParentId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_PostInspectionImagesVideosLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postLinks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_WOLI_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_postLinks_for_comparison</name>
        <label>Assign postLinks for comparison</label>
        <locationX>182</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>comparePostLinks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WOLI.BLN_PostInspectionImagesVideosLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comparePostLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Post_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PreLinks</name>
        <label>Assign PreLinks</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>updatedWOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalLinkRecord.BLN_ParentId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_PreInspectionImagesVideosLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preLinks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateWOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_existing_additionalLinks_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_preLinks_for_comparison</name>
        <label>Assign preLinks for comparison</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>comparePreLinks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_WOLI.BLN_PreInspectionImagesVideosLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comparePreLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Pre_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_Additional_Links</name>
        <label>make Additional Links</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>additionalLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_External_File_Links.BLN_S3BucketLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_External_File_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_Post_Links</name>
        <label>make Post Links</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>postLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_External_File_Links.BLN_S3BucketLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_External_File_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_Pre_Links</name>
        <label>make Pre Links</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>preLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_External_File_Links.BLN_S3BucketLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_External_File_Links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Additional_Links</name>
        <label>Check for Additional Links</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Check_If_existing_PostLinks_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>AdditionalLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>additionalLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>additionalLinks</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>compareAddLinks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_additionalLinks</targetReference>
            </connector>
            <label>AdditionalLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Post_Links</name>
        <label>Check for Post Links</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>check_for_WOLI_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>PostLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>postLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>postLinks</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>comparePostLinks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PostLinks</targetReference>
            </connector>
            <label>PostLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pre_Links</name>
        <label>Check for Pre Links</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Check_If_existing_additionalLinks_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>preLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>preLinks</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>comparePreLinks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreLinks</targetReference>
            </connector>
            <label>preLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_WOLI_update</name>
        <label>check for WOLI update</label>
        <locationX>402</locationX>
        <locationY>2750</locationY>
        <defaultConnectorLabel>Donot update the WOLI</defaultConnectorLabel>
        <rules>
            <name>Update_the_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateWOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_WOLI</targetReference>
            </connector>
            <label>Update the WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_existing_additionalLinks_not_null</name>
        <label>Check If existing additionalLinks not null</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_Additional_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>additionalLinks_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_WOLI.BLN_AdditionalInspectionLinks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_additionalLinks_for_comparison</targetReference>
            </connector>
            <label>additionalLinks not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_existing_PostLinks_not_null</name>
        <label>Check If existing PostLinks not null</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_Post_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PostLinks_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_WOLI.BLN_PostInspectionImagesVideosLinks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_postLinks_for_comparison</targetReference>
            </connector>
            <label>PostLinks not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_existing_PreLinks_not_null</name>
        <label>Check If existing PreLinks not null</label>
        <locationX>402</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_Pre_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_WOLI.BLN_PreInspectionImagesVideosLinks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_preLinks_for_comparison</targetReference>
            </connector>
            <label>PreLinks not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Work_Step</name>
        <label>Check the Work Step</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_over_External_File_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_External_File_Links.BLN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_Pre_Links</targetReference>
            </connector>
            <label>Pre-Inspection</label>
        </rules>
        <rules>
            <name>Additional_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_External_File_Links.BLN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_Additional_Links</targetReference>
            </connector>
            <label>Additional Inspection</label>
        </rules>
        <rules>
            <name>Post_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_External_File_Links.BLN_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_Post_Links</targetReference>
            </connector>
            <label>Post-Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Additional_Links</name>
        <label>Copy 1 of Check for Additional Links</label>
        <locationX>622</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Check_If_existing_PostLinks_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_AdditionalLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>additionalLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>additionalLinks</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>compareAddLinks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_additionalLinks</targetReference>
            </connector>
            <label>Copy 1 of AdditionalLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Post_Links</name>
        <label>Copy 1 of Check for Post Links</label>
        <locationX>622</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>check_for_WOLI_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_PostLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>postLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_PostLinks</targetReference>
            </connector>
            <label>Copy 1 of PostLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Pre_Links</name>
        <label>Copy 1 of Check for Pre Links</label>
        <locationX>622</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Check_If_existing_additionalLinks_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_preLinks_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_PreLinks</targetReference>
            </connector>
            <label>Copy 1 of preLinks update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_WOLI</name>
        <label>Got WOLI?</label>
        <locationX>666</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>WOLI is null</defaultConnectorLabel>
        <rules>
            <name>WOLI_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_existing_PreLinks_not_null</targetReference>
            </connector>
            <label>WOLI not null</label>
        </rules>
    </decisions>
    <description>FOUK-9361 Replace SF public links to S3 public links on Service Report</description>
    <environments>Default</environments>
    <interviewLabel>Populate WOLI Links {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate WOLI Links</label>
    <loops>
        <name>Loop_over_External_File_Links</name>
        <label>Loop over External File Links</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_ExternalLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_Work_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_WOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>402</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_PopulateWOLILinks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>update_WOLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>externalLinkRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_ExternalLinks</name>
        <label>Get All ExternalLinks</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_External_File_Links</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>BLN_ParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalLinkRecord.BLN_ParentId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Inspection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_ExternalFileLinks__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WOLI</name>
        <label>get WOLI</label>
        <locationX>666</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalLinkRecord.BLN_ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_WOLI</name>
        <label>update WOLI</label>
        <locationX>138</locationX>
        <locationY>2858</locationY>
        <faultConnector>
            <targetReference>Flow_Exception</targetReference>
        </faultConnector>
        <inputReference>updatedWOLI</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_ExternalLinks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>additionalLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>compareAddLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comparePostLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comparePreLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_ExternalFileLinks__c</objectType>
    </variables>
    <variables>
        <name>postLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>updateWOLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
