force-app/main/default/flows/BLN_UpdateProductRequiredTitle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>add_Except</name>
        <label>add Except</label>
        <locationX>314</locationX>
        <locationY>2243</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Appoint_No</name>
        <label>Add Appoint No</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>ProdReqTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AppointmentNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqAmountTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_all_prod_req.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Prod_req_number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_in_update_list</name>
        <label>Add in update list</label>
        <locationX>138</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>ProdReqToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_all_prod_req</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_all_prod_req</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Prod_Name</name>
        <label>Add Prod Name</label>
        <locationX>138</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>ProdReqTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - {!loop_on_all_prod_req.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_pr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Prod_req_number</name>
        <label>Add Prod req number</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>ProdReqTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - {!loop_on_all_prod_req.ProductRequiredNumber}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Prod_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Product_title</name>
        <label>Clear Product title</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>ProdReqTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqAmountTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Appoint_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_current_pr</name>
        <label>Update current pr</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>loop_on_all_prod_req.BLN_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>title_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_all_prod_req.BLN_ProductRequiredTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>custom_title_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_all_prod_req.BLN_ScheduledStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_work_type</name>
        <label>Check work type</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_type_not_stock_collect_or_assist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stock Collect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_woli</targetReference>
            </connector>
            <label>Work type not stock collect or assist</label>
        </rules>
    </decisions>
    <decisions>
        <name>PR_found</name>
        <label>PR found?</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRfound1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_all_prod_req</targetReference>
            </connector>
            <label>PR found</label>
        </rules>
    </decisions>
    <decisions>
        <name>woli_found</name>
        <label>woli found?</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wolifound1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_woli.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_product_required</targetReference>
            </connector>
            <label>woli found</label>
        </rules>
    </decisions>
    <description>This flow is used to update the title field, which is being used to show list of Product required in stock check out</description>
    <environments>Default</environments>
    <formulas>
        <name>custom_title_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProdReqAmountTitle},60)</expression>
    </formulas>
    <formulas>
        <name>title_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProdReqTitle},255)</expression>
    </formulas>
    <interviewLabel>BLN_UpdateProductRequiredTitle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Required Title</label>
    <loops>
        <name>loop_on_all_prod_req</name>
        <label>loop on all prod req</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <collectionReference>get_product_required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_order_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>add_Except</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateProductRequiredTitle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_PR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_order</name>
        <label>get order</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>woli_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WO.BLN_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_order_product</name>
        <label>get order product</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Product_title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_on_all_prod_req.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_product_required</name>
        <label>get product required</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PR_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_woli.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WO</name>
        <label>get WO</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_woli.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_woli</name>
        <label>get woli</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PR</name>
        <label>Update PR</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <faultConnector>
            <targetReference>Flow_Exception</targetReference>
        </faultConnector>
        <inputReference>ProdReqToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_work_type</targetReference>
        </connector>
        <filterFormula>NOT({!$Permission.BLN_BypassFlows})</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PriorityText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdReqAmountTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdReqTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdReqToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProrityBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
