force-app/main/default/flows/BLN_ShowProcedureOnCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Procedures_Arp</name>
        <label>Get Procedures Arp</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <actionName>BLN_ShowProcedures</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Rule_Parameter_is_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_ShowProcedures</nameSegment>
        <outputParameters>
            <assignToReference>arpWrapper</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_SB_Corporate_Site_Ids</name>
        <label>Assign SB Corporate Site Ids</label>
        <locationX>248</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_CorporateSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SB_Insurance_site_Ids</name>
        <label>Assign SB Insurance site Ids</label>
        <locationX>248</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_InsuranceSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Corporate_is_Spilt_Bill_and_Corporate_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>coporateSite_Assignment</name>
        <label>coporateSite Assignment</label>
        <locationX>116</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_CorporateSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Corporate_is_Spilt_Bill_and_Insurance_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corporate_legalEntity_Assignment</name>
        <label>Corporate legalEntity Assignment</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_CorporateLegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Corporate_is_Spilt_Bill_and_Insurance_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Issurance_Site</name>
        <label>Issurance Site</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_InsuranceSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CorporateSite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>legalEntity_Assignment</name>
        <label>legalEntity Assignment</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Corporate.BLN_InsuranceLegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CorporateSite</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Rule_Parameter_is_Null</name>
        <label>Check Account Rule Parameter is Null</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>ProcedureScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_is_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>arpWrapper</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_ArpWrapper_to_Arp</targetReference>
            </connector>
            <label>Check is Null False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AccountId</name>
        <label>Check AccountId</label>
        <locationX>380</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_ProcedureScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_accountId_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Procedures_Arp</targetReference>
            </connector>
            <label>If accountId Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Corporate_is_Spilt_Bill_and_Corporate_Site</name>
        <label>Check Corporate is Spilt Bill and Corporate Site</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Check_AccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SB_and_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_SplitBill</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SB_Corporate_Site_Ids</targetReference>
            </connector>
            <label>Check SB and CS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Corporate_is_Spilt_Bill_and_Insurance_Site</name>
        <label>Check Corporate is Spilt Bill and Insurance Site</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Check_Corporate_is_Spilt_Bill_and_Corporate_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SB_and_IS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_SpiltBill</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SB_Insurance_site_Ids</targetReference>
            </connector>
            <label>Check SB and IS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CorporateSite</name>
        <label>Check CorporateSite</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_Corporate_is_Spilt_Bill_and_Insurance_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>corporateSiteId_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_CorporateFleet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>coporateSite_Assignment</targetReference>
            </connector>
            <label>corporateSiteId is Not Null?</label>
        </rules>
        <rules>
            <name>corporateSite_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_CorporateFleet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate_legalEntity_Assignment</targetReference>
            </connector>
            <label>corporateSite null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_InsuranceSite_SplitBill</name>
        <label>Check InsuranceSite/SplitBill</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_CorporateSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>insuranceSiteId_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issurance_Site</targetReference>
            </connector>
            <label>insuranceSiteId is Not Null?</label>
        </rules>
        <rules>
            <name>insuranceSite_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>legalEntity_Assignment</targetReference>
            </connector>
            <label>insuranceSite Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BLN_ShowProcedureOnCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Procedures on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Corporate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corporate</name>
        <label>Get Corporate</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_InsuranceSite_SplitBill</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BLN_Corporate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLN_Corporate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Procedure</name>
        <label>Get Record Type Procedure</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_AccountRuleParameter__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_ARPProcedureRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_ProcedureScreen</name>
        <label>Copy 1 of ProcedureScreen</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ShowHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Procedures&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Display_Messgae</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;No Procedures available&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_message</name>
        <label>Fault_message</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProcedureScreen</name>
        <label>ProcedureScreen</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fault_message</targetReference>
        </connector>
        <fields>
            <name>ShowHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Procedures&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BLN_AccountRuleParameter__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Transform_ArpWrapper_to_Arp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;BLN_Account__c&quot;,&quot;guid&quot;:&quot;column-8e63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BLN_Procedure__c&quot;,&quot;guid&quot;:&quot;column-43f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Procedure Text&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProcedureScreen_0</name>
        <label>ProcedureScreen</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fault_message</targetReference>
        </connector>
        <fields>
            <name>ShowHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Procedures&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Messgae</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;No Procedures available&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Procedure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_ArpWrapper_to_Arp</name>
        <label>Transform ArpWrapper to Arp</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>ProcedureScreen</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>BLN_AccountRuleParameter__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>BLN_Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>arpWrapper[$EachItem].accountName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BLN_Procedure__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>arpWrapper[$EachItem].objARP.BLN_Procedure__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>arpList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_AccountRuleParameter__c</objectType>
    </variables>
    <variables>
        <name>arpWrapper</name>
        <apexClass>BLN_AccountRuleParameterWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
