force-app/main/default/flows/BLN_UpdateUserRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Error</name>
        <label>Apex Error</label>
        <locationX>106</locationX>
        <locationY>694</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>1233</locationX>
        <locationY>567</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ErrorMsg</name>
        <label>Error Handling</label>
        <locationX>1329</locationX>
        <locationY>815</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Gantt_Label</name>
        <label>Assign Gantt Label</label>
        <locationX>936</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Absence.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateGanttLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Absence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_no_absence_is_present</name>
        <label>Check if no absence is present</label>
        <locationX>884</locationX>
        <locationY>849</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Absence_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Absence_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Absence</targetReference>
            </connector>
            <label>Absence Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Record_Updation</name>
        <label>Decision For Record Updation</label>
        <locationX>616</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>updategantt_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Field_Update</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Mobile__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_PostCode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_PostCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updategantt</targetReference>
            </connector>
            <label>Field Update</label>
        </rules>
    </decisions>
    <description>FOUK-2469. To update the user record once the service resource record is updated.
FOUK-1524. Updated as a part of FOUK-8255</description>
    <environments>Default</environments>
    <formulas>
        <name>UpdateGanttLabel</name>
        <dataType>String</dataType>
        <expression>{!$Record.BLN_Mobile__c}+&apos;/&apos;+{!$Record.BLN_PostCode__c}</expression>
    </formulas>
    <interviewLabel>Update User Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Records</label>
    <loops>
        <name>Loop_over_Absence</name>
        <label>Loop over Absence</label>
        <locationX>981</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Resource_Absence_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Gantt_Label</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_gantt_label</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Exception_logs</name>
        <label>Error Exception logs</label>
        <locationX>1072</locationX>
        <locationY>562</locationY>
        <faultConnector>
            <targetReference>Error_Handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateUserRecords</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Exception</name>
        <label>Exception</label>
        <locationX>1124</locationX>
        <locationY>821</locationY>
        <faultConnector>
            <targetReference>ErrorMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateUserRecords</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_gantt_label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Loop_over_Absence.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>FlowException</name>
        <label>Flow Exception</label>
        <locationX>156</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateUserRecords</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>updategantt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Resource_Absence_Records</name>
        <label>Get Resource Absence Records</label>
        <locationX>938</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_no_absence_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID</name>
        <label>Get User ID</label>
        <locationX>622</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_gantt_label</name>
        <label>Update gantt label</label>
        <locationX>1100</locationX>
        <locationY>1102</locationY>
        <faultConnector>
            <targetReference>Exception</targetReference>
        </faultConnector>
        <inputReference>Get_Resource_Absence_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_ID</name>
        <label>Update User ID</label>
        <locationX>900</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Get_Resource_Absence_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_logs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.BLN_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.BLN_PostCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>updategantt</name>
        <label>updategantt</label>
        <locationX>331</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Get_User_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowException</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>UpdateGanttLabel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updategantt_0</name>
        <label>updategantt</label>
        <locationX>840</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Get_User_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision_For_Record_Updation</targetReference>
        </connector>
        <filterFormula>{!$Permission.BLN_BypassFlows} = False &amp;&amp; (!ISCHANGED({!$Record.Location.Name})) &amp;&amp;( ISCHANGED({!$Record.BLN_Mobile__c}) || ISCHANGED({!$Record.BLN_PostCode__c}) )</filterFormula>
        <object>ServiceResource</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SR_GanttLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;GetServiceResource.BLN_Mobile__c&lt;/span&gt;}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>GetServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ResouceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
