force-app/main/default/flows/BLN_SMSNExtMobileCustomerAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <faultConnector>
            <targetReference>create_Flow_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>BLN_FSNextMobileCustomerAppointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_to_Nominated_Person</name>
        <label>Send SMS to Nominated Person</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_create_Flow_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>BLN_FSNextMobileCustomerAppointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>get_SA.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_SA</name>
        <label>Check SA</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fields_having_data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.ArrivalWindowEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.BLN_AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.BLN_IsBranchAppointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.ServiceTerritory.BLN_ConsiderforR1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_no_present_or_not</targetReference>
            </connector>
            <label>fields having data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_no_present_or_not</name>
        <label>Phone no present or not</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nominated_Person_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA.BLN_Case__r.BLN_NominatedPerson__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_to_Nominated_Person</targetReference>
            </connector>
            <label>Nominated Person Present</label>
        </rules>
        <rules>
            <name>Phone_number_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_SA.BLN_Case__r.BLN_NominatedPerson__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS</targetReference>
            </connector>
            <label>Phone number present</label>
        </rules>
    </decisions>
    <description>FOUK-3918 Flow for sending SMS to customer when FS Tech starts travelling for next Appointment, as a part of Appointment Assistant</description>
    <environments>Default</environments>
    <interviewLabel>FS SMS to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS SMS to Next Mobile Customer Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_create_Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SMSNExtMobileCustomerAppointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Flow_Exception</name>
        <label>create Flow Exception</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SMSNExtMobileCustomerAppointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_SA</name>
        <label>get SA</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EnRoute</stringValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
