force-app/main/default/flows/BLN_CheckSLARecordsOnContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>376</locationX>
        <locationY>1847</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_SLA_to_update</name>
        <label>Add SLA to update</label>
        <locationX>666</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>SLAtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_SLA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_SLA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA_values_from_contract</name>
        <label>Assign SLA values from contract</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_SLA_Records.BLN_ActiveFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_SLA_Records.BLN_ActiveTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_SLA_Records.BLN_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SLA_to_update</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Person_Acc</name>
        <label>Person Acc not allowed</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>Account on Contract is Person Account which cannot be copied to SLA</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>SLA_not_Approved</name>
        <label>SLA not Approved</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>Please approve all SLAs related to this contract before changing status to Activated of contract</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Assign_SLA_values_from_contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Acc</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLA_Approved</name>
        <label>Check SLA Approved</label>
        <locationX>435</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>SLA_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_SLA_Records.BLN_SLAApproved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_SLA_Records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_not_Approved</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLA_Records_Found</name>
        <label>Check SLA Records Found</label>
        <locationX>345</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SLA_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_SLA_Records</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Record</name>
        <label>SLA Record</label>
        <locationX>732</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_on_SLA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non SLA</defaultConnectorLabel>
        <rules>
            <name>SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_SLA_Records</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_SLA_Records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Check</targetReference>
            </connector>
            <label>SLA</label>
        </rules>
    </decisions>
    <description>FOUK-6522 Flow to check if SLA records are approved for contract status change to activated</description>
    <environments>Default</environments>
    <interviewLabel>Check SLA Records On Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check SLA Records On Contract</label>
    <loops>
        <name>Loop_on_SLA_Records</name>
        <label>Loop on SLA Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_SLA_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SLA_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sync_SLA_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Exception_Log</name>
        <label>Error Exception Log</label>
        <locationX>376</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Error_Handling</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_CheckSLA_RecordsOnContract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Sync_SLA_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SLA_Records</name>
        <label>Get SLA Records</label>
        <locationX>345</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SLA_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sync_SLA_Records</name>
        <label>Sync SLA Records</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <faultConnector>
            <targetReference>Error_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>SLAtoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activated_By_And_Date_Fields</name>
        <label>Update Activated By And Date Fields</label>
        <locationX>345</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_SLA_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivatedById</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivatedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>219</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Activated_By_And_Date_Fields</targetReference>
        </connector>
        <filterFormula>AND( 
    NOT({!$Permission.BLN_BypassFlows}),
   ISCHANGED({!$Record.Status}),
    ISPICKVAL({!$Record.Status}, &apos;Activated&apos;)
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SLAtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_AccountRuleParameter__c</objectType>
    </variables>
</Flow>
