force-app/main/default/flows/BLN_SendSMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Action</name>
        <label>Apex Action</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_MT</name>
        <label>Apex Action for MT</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Trigger_SMS</name>
        <label>Apex Action for Trigger SMS</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Apex_Action_for_Trigger_SMS</name>
        <label>Apex Action for Trigger SMS For Nominated</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_template_names</name>
        <label>Add template names</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>templateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.BLN_SendSMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_record_developer_name_to_selectedTemplate</name>
        <label>Assign selected record developer name to selectedTemplate</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>selectedTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable.firstSelectedRow.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Not_Blank_For_Nominated_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Template_Assignment</name>
        <label>Template Assignment</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TemplateName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Messaging_Templates_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messaging_Templates_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Not_Blank_For_Nominated_Person</name>
        <label>If Not Blank For Nominated Person</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_record.Contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Messaging_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_record.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_number</targetReference>
            </connector>
            <label>If not blank</label>
        </rules>
        <rules>
            <name>If_Not_Blank_For_Nominated_Person1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_record.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_record.BLN_NominatedPerson__r.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Messaging_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_number_for_Nominated_person</targetReference>
            </connector>
            <label>If Not Blank For Nominated Person1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Name_Check</name>
        <label>Template Name Check</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Messaging_Templates_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.BLN_SendSMS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Messaging_Templates_Loop.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Assignment</targetReference>
            </connector>
            <label>If Found</label>
        </rules>
    </decisions>
    <description>FOUK-7752: This flow is created for Send SMS action.</description>
    <environments>Default</environments>
    <interviewLabel>Send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS</label>
    <loops>
        <name>Messaging_Templates_Loop</name>
        <label>Messaging Templates Loop</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Messaging_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Template_Name_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Messaging_Template_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Exception_Record_for_Trigger_SMS</name>
        <label>Create Exception Record for Trigger SMS For Nominated</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Copy_1_of_Apex_Action_for_Trigger_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendSMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendSMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record_for_MT</name>
        <label>Create Exception Record for MT</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Apex_Action_for_MT</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendSMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record_for_Trigger_SMS</name>
        <label>Create Exception Record for Trigger SMS</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Apex_Action_for_Trigger_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendSMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Trigger_SMS</name>
        <label>Trigger SMS</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record_for_Trigger_SMS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>selectedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>Get_Case_record.Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>Get_Case_record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Trigger_SMS_For_Nominated_Person</name>
        <label>Trigger SMS For Nominated Person</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Exception_Record_for_Trigger_SMS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>selectedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>Get_Case_record.BLN_NominatedPerson__r.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>Get_Case_record.BLN_NominatedPerson__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_record</name>
        <label>Get Case record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Confirm_Team_s_Phone_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Template</name>
        <label>Get Messaging Template</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Messaging_Templates_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record_for_MT</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Phone_number</name>
        <label>Update Phone number</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Trigger_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_TeamsPhoneNumber__c</field>
            <value>
                <elementReference>phoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phone_number_for_Nominated_person</name>
        <label>Update Phone number for Nominated person</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Trigger_SMS_For_Nominated_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_TeamsPhoneNumber__c</field>
            <value>
                <elementReference>phoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Enter_Confirm_Team_s_Phone_Number</name>
        <label>Enter/Confirm Team’s Phone Number</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Messaging_Template</targetReference>
        </connector>
        <fields>
            <name>phoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Team&apos;s Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid Phone Number&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(REGEX({!phoneNumber.value}, &quot;.*[^0-9+() -].*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Messaging_Template_Details</name>
        <label>Messaging Template Details</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_record_developer_name_to_selectedTemplate</targetReference>
        </connector>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MessagingTemplate</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>TemplateName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-8865&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Message&quot;,&quot;guid&quot;:&quot;column-1e03&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Message&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_template_names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingTemplate</objectType>
    </variables>
    <variables>
        <name>templateNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
