force-app/main/default/flows/BLN_ProvisionalQualityThemeCheckFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Fault1</name>
        <label>Copy 1 of Fault1</label>
        <locationX>2426</locationX>
        <locationY>816</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action</name>
        <label>Invoke BLN_FlowExceptionLogger Action for RT</label>
        <locationX>842</locationX>
        <locationY>5052</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_BVT</name>
        <label>Invoke BLN_FlowExceptionLogger Action for Task</label>
        <locationX>314</locationX>
        <locationY>5268</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_RT</name>
        <label>Invoke BLN_FlowExceptionLogger Action for BVT</label>
        <locationX>578</locationX>
        <locationY>5160</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_Update_Case</name>
        <label>Invoke BLN_FlowExceptionLogger Action for Provisional Queue</label>
        <locationX>578</locationX>
        <locationY>3540</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Invoke_BLN_FlowExceptionLogger_Action_for_RT</name>
        <label>Invoke BLN_FlowExceptionLogger Action for Update Case</label>
        <locationX>1370</locationX>
        <locationY>4836</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Invoke_BLN_FlowExceptionLogger_Action_for_Update_Case</name>
        <label>Invoke BLN_FlowExceptionLogger Action for Quality Queue</label>
        <locationX>578</locationX>
        <locationY>4188</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fault1</name>
        <label>Fault1</label>
        <locationX>2162</locationX>
        <locationY>1224</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_BLN_FlowExceptionLogger_Action</name>
        <label>Invoke BLN_FlowExceptionLogger Action</label>
        <locationX>1898</locationX>
        <locationY>2016</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AllOICheck</name>
        <label>AllOICheck</label>
        <locationX>798</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>allOiNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_POA_and_Price_not_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OIThemeCheckNumber</name>
        <label>Assign OIThemeCheckNumber</label>
        <locationX>666</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>OIThemeCheckNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_OrderItem_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PricingTheme</name>
        <label>Assign PricingTheme</label>
        <locationX>446</locationX>
        <locationY>3024</locationY>
        <assignmentItems>
            <assignToReference>PricingTheme</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Billing_Method_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_Theme</name>
        <label>Assign SA Theme</label>
        <locationX>974</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>SATheme</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Provisional_queue</name>
        <label>Assign to Provisional queue</label>
        <locationX>314</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_BookingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provisional</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provisional_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quality_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Quality</name>
        <label>Assign to Quality</label>
        <locationX>314</locationX>
        <locationY>4080</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_BookingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quality_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_on_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_on_Case</name>
        <label>Assign Values on Case</label>
        <locationX>578</locationX>
        <locationY>4512</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_OverrideReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_PricingTheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricingThemeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_ProvisionalDriver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>provisionalDriverFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_QuoteAcceptanceTheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteThemeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.BLN_ServiceAppointmentTheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SATheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BLN_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_QuoteThemeCheckNumber</name>
        <label>Assigning QuoteThemeCheckNumber</label>
        <locationX>1130</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>QuoteThemeCheckNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_Order_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_to_QuoteTheme</name>
        <label>Assigning to QuoteTheme</label>
        <locationX>446</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>QuoteTheme</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_to_check_OIThemeCheckNumber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_subtype_check</name>
        <label>Case subtype check</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ISP_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.BLN_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_Records</targetReference>
            </connector>
            <label>Not ISP Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Billing_Method_Details</name>
        <label>Check Billing Method Details</label>
        <locationX>578</locationX>
        <locationY>3216</locationY>
        <defaultConnector>
            <targetReference>Check_Quality_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>((1 AND (2 OR 3 OR 4 OR 5)) OR (6 AND (7 OR 8 OR 9))) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_BillingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance / Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_CoverageVerificationTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_AccountRulesTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_StockDetailsTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_PricingTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_BillingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_OutstandingLiabilityTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_StockDetailsTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_PricingTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_Vehicle__r.BLN_SpecialVehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provisional_Queue</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quality_Details</name>
        <label>Check Quality Details</label>
        <locationX>578</locationX>
        <locationY>3864</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check1</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5) OR (6 AND 7 AND 8 AND 9)) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_BillingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance / Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_CoverageVerificationTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_AccountRulesTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_StockDetailsTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_PricingTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_BillingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_OutstandingLiabilityTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_StockDetailsTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_PricingTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_Vehicle__r.BLN_SpecialVehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quality_queue</targetReference>
            </connector>
            <label>Check1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Pricingtheme</name>
        <label>Decision for Pricingtheme</label>
        <locationX>578</locationX>
        <locationY>4728</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricingtheme_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingTheme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_task_RecordType</targetReference>
            </connector>
            <label>Pricingtheme Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Status_Accepted</name>
        <label>Decision for Status = Accepted</label>
        <locationX>1262</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Looping_through_Order_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_Order_records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_QuoteThemeCheckNumber</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_OIThemeCheckNumber</name>
        <label>Decision to check OIThemeCheckNumber</label>
        <locationX>578</locationX>
        <locationY>2916</locationY>
        <defaultConnector>
            <targetReference>Check_Billing_Method_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OIThemeCheckNumber_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OIThemeCheckNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allOiNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OIThemeCheckNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PricingTheme</targetReference>
            </connector>
            <label>OIThemeCheckNumber Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision - ( QuoteThemeCheckNumber &gt; 0 )</description>
        <name>Decision_to_check_QuoteThemeCheckNumber_0</name>
        <label>Decision to check QuoteThemeCheckNumber &gt; 0</label>
        <locationX>578</locationX>
        <locationY>2616</locationY>
        <defaultConnector>
            <targetReference>Decision_to_check_OIThemeCheckNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteThemeCheckNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_to_QuoteTheme</targetReference>
            </connector>
            <label>GreaterThan0</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_POA_and_Price_not_found</name>
        <label>If POA and Price not found</label>
        <locationX>798</locationX>
        <locationY>2232</locationY>
        <defaultConnector>
            <targetReference>Iterate_OrderItem_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_OrderItem_Records.BLN_PriceFound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_OrderItem_Records.BLN_POA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OIThemeCheckNumber</targetReference>
            </connector>
            <label>If found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Proceed Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Null_SA</name>
        <label>Not Null SA</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Theme</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_OrderItem_Records</name>
        <label>Null Check for OrderItem Records</label>
        <locationX>1106</locationX>
        <locationY>1908</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItem_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_OrderItem_Records</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Order_Record</name>
        <label>Null Check Order Record</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Get_OrderItem_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_through_Order_records</targetReference>
            </connector>
            <label>Is Null?</label>
        </rules>
    </decisions>
    <description>Created as a part of FOUK-5387. Updated in 5389 and 5391 .
In this flow we are updating service appointment theme field on Case Object.FOUK-5486 this flow is updated for booking status</description>
    <environments>Default</environments>
    <formulas>
        <name>arRuleFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((NOT({!ARTheme} = {!$Record.BLN_Case__r.BLN_AccountRulesTheme__c})), {!ARTheme}, {!$Record.BLN_Case__r.BLN_AccountRulesTheme__c})</expression>
    </formulas>
    <formulas>
        <name>bookingStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!BookingStatus})), NOT({!BookingStatus} = {!BSValue})), {!BookingStatus}, {!BSValue})</expression>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Flow.CurrentDateTime}) + 1</expression>
    </formulas>
    <formulas>
        <name>ownerFormula</name>
        <dataType>String</dataType>
        <expression>IF((AND(NOT(ISBLANK({!$Record.BLN_Case__r.OwnerId})), NOT({!OwnerId} = {!$Record.BLN_Case__r.OwnerId}))), {!OwnerId}, {!$Record.BLN_Case__r.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>pricingThemeFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!PricingTheme} &lt;&gt;{!$Record.BLN_Case__r.BLN_PricingTheme__c}, {!PricingTheme}, {!$Record.BLN_Case__r.BLN_PricingTheme__c})</expression>
    </formulas>
    <formulas>
        <name>provisionalDriverFormula</name>
        <dataType>String</dataType>
        <expression>IF(({!PricingTheme}=False), &apos;Belron Driven&apos;, {!currentProvisionalDriver})</expression>
    </formulas>
    <formulas>
        <name>QuoteThemeFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!QuoteTheme} != {!$Record.BLN_Case__r.BLN_QuoteAcceptanceTheme__c}, {!QuoteTheme}, {!$Record.BLN_Case__r.BLN_QuoteAcceptanceTheme__c})</expression>
    </formulas>
    <formulas>
        <name>ServiceAppointmentFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!SATheme} != {!$Record.BLN_Case__r.BLN_ServiceAppointmentTheme__c}, {!SATheme} , {!$Record.BLN_Case__r.BLN_ServiceAppointmentTheme__c})</expression>
    </formulas>
    <interviewLabel>Provisional/Quality Theme Check Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provisional/Quality Theme Check Flow</label>
    <loops>
        <name>Iterate_OrderItem_Records</name>
        <label>Iterate OrderItem Records</label>
        <locationX>578</locationX>
        <locationY>2016</locationY>
        <collectionReference>Get_OrderItem_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AllOICheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_to_check_QuoteThemeCheckNumber_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_through_Order_records</name>
        <label>Looping through Order records</label>
        <locationX>1042</locationX>
        <locationY>1224</locationY>
        <collectionReference>Get_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_Status_Accepted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_OrderItem_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_exception_Records_for_BVT</name>
        <label>Create exception Records for Create task</label>
        <locationX>314</locationX>
        <locationY>5160</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_BVT</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Create_Task_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_exception_Records_for_Provisional_Queue</name>
        <label>Create exception Records for Quality Queue</label>
        <locationX>578</locationX>
        <locationY>4080</locationY>
        <connector>
            <targetReference>Copy_2_of_Invoke_BLN_FlowExceptionLogger_Action_for_Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Get_Quality_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_exception_Records_for_Task_RT</name>
        <label>Create exception Records for BVT</label>
        <locationX>578</locationX>
        <locationY>5052</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_RT</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Get_BVT_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Flow_Error_Records1</name>
        <label>Copy 2 of Flow Error Records1</label>
        <locationX>2426</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Fault1</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>Get SA Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_exception_Records_for_OI</name>
        <label>Create exception Records for OI</label>
        <locationX>1898</locationX>
        <locationY>1908</locationY>
        <connector>
            <targetReference>Invoke_BLN_FlowExceptionLogger_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_exception_Records_for_Provisional_Queue</name>
        <label>Create exception Records for Provisional Queue</label>
        <locationX>578</locationX>
        <locationY>3432</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action_for_Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Get_Provisional_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_exception_Records_for_Task_RT</name>
        <label>Create exception Records for Task RT</label>
        <locationX>842</locationX>
        <locationY>4944</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_BLN_FlowExceptionLogger_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Get_task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_exception_Records_for_Update_Case</name>
        <label>Create exception Records for Update Case</label>
        <locationX>1370</locationX>
        <locationY>4728</locationY>
        <connector>
            <targetReference>Copy_2_of_Invoke_BLN_FlowExceptionLogger_Action_for_RT</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>CaseToUpdate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>50</locationX>
        <locationY>5052</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Create_exception_Records_for_BVT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Account__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>$Record.BLN_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_IsAutomated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Subtype__c</field>
            <value>
                <stringValue>BVT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TaskSubjectType__c</field>
            <value>
                <stringValue>Pricing Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BVT_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pricing details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>BVT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.BLN_Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Error_Records1</name>
        <label>Flow Error Records1</label>
        <locationX>2162</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Fault1</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ProvisionalQualityThemeCheckFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>Get Order Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BVT_Queue</name>
        <label>Get BVT Queue</label>
        <locationX>50</locationX>
        <locationY>4944</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_exception_Records_for_Task_RT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_subtype_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error_Records1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItem_Records</name>
        <label>Get OrderItem Records</label>
        <locationX>1106</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_OrderItem_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_exception_Records_for_OI</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsProductSelected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provisional_Queue</name>
        <label>Get Provisional Queue</label>
        <locationX>314</locationX>
        <locationY>3324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Provisional_queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_exception_Records_for_Provisional_Queue</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_Provisional</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quality_queue</name>
        <label>Get Quality queue</label>
        <locationX>314</locationX>
        <locationY>3972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Quality</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_exception_Records_for_Provisional_Queue</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_Quality</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Records</name>
        <label>Get SA Records</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Null_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Flow_Error_Records1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_task_RecordType</name>
        <label>Get task RecordType</label>
        <locationX>50</locationX>
        <locationY>4836</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BVT_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_exception_Records_for_Task_RT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record_Assignment</name>
        <label>Update Case Record Assignment</label>
        <locationX>578</locationX>
        <locationY>4620</locationY>
        <connector>
            <targetReference>Decision_for_Pricingtheme</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_exception_Records_for_Update_Case</targetReference>
        </faultConnector>
        <inputReference>CaseToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
         NOT({!$Permission.BLN_BypassFlows}),
         ISPICKVAL({!$Record.Status}, &quot;Accepted&quot;),
         NOT(ISBLANK({!$Record.BLN_Case__c})),
	 ISPICKVAL({!$Record.BLN_Case__r.Type},&apos;Job Request&apos;),
	ISPICKVAL({!$Record.BLN_Case__r.BLN_SubType__c}, &apos;Job Request&apos;)
)</filterFormula>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>Main_Decision</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllARDCNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>allOiNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AllTaskNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ARDCCheckNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ARTheme</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BookingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BSValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.BLN_Case__r.BLN_BookingStatus__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CloseTaskNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentProvisionalDriver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.BLN_Case__r.BLN_ProvisionalDriver__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OIThemeCheckNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingTheme</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuoteTheme</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuoteThemeCheckNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SATheme</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
