force-app/main/default/flows/BLN_OpenInitiativesPastDueDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Increase_Count_by_1</name>
        <label>Increase Count by 1</label>
        <locationX>475</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Account</targetReference>
        </connector>
    </assignments>
    <description>FOUK-5354. Created for the use of report.</description>
    <environments>Default</environments>
    <interviewLabel>Open Initiative Past Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Open Initiative Past Due Date</label>
    <loops>
        <name>Count_Account</name>
        <label>Count Account</label>
        <locationX>387</locationX>
        <locationY>587</locationY>
        <collectionReference>Records_matching_Criteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Count_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_record_Element</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Records_matching_Criteria</name>
        <label>Records matching Criteria</label>
        <locationX>387</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3 AND 4</filterLogic>
        <filters>
            <field>BLN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_EndDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_AccountPlanName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_AccountPlanName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_record_Element</name>
        <label>Update record Element</label>
        <locationX>387</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>BLN_OpenInitiativesthatarepastduedate_c__c</field>
            <value>
                <elementReference>RecordCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>393</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Records_matching_Criteria</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Permission.BLN_BypassFlows}),
ISCHANGED({!$Record.BLN_Status__c}))</filterFormula>
        <object>BLN_Initiative__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
