force-app/main/default/flows/BLN_ShiftCICOManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Error_Handling2</name>
        <label>Copy 1 of Error Handling2</label>
        <locationX>7178</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Error_Handling_3</name>
        <label>Copy 1 of Error Handling 3</label>
        <locationX>4274</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling0</name>
        <label>Error Handling</label>
        <locationX>7706</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling2</name>
        <label>Error Handling2</label>
        <locationX>2162</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling6</name>
        <label>Error Handling6</label>
        <locationX>6650</locationX>
        <locationY>2006</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_00</name>
        <label>Error Handling</label>
        <locationX>4010</locationX>
        <locationY>2222</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_1</name>
        <label>Error Handling 1</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_10</name>
        <label>Error Handling 10</label>
        <locationX>5858</locationX>
        <locationY>2438</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_3</name>
        <label>Error Handling 3</label>
        <locationX>3482</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_4</name>
        <label>Error Handling 4</label>
        <locationX>3218</locationX>
        <locationY>2222</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_5</name>
        <label>Error Handling 5</label>
        <locationX>5330</locationX>
        <locationY>2006</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_7</name>
        <label>Error Handling 7</label>
        <locationX>6386</locationX>
        <locationY>2114</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_8</name>
        <label>Error Handling 8</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Handling_9</name>
        <label>Error Handling 9</label>
        <locationX>2690</locationX>
        <locationY>2654</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <assignments>
        <name>Assigning_True_Value_to_Variable_if_found_break_record</name>
        <label>Assigning True Value to Variable if found break record</label>
        <locationX>4562</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TrueFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Through_All_Time_Sheet_Entry_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Clocked_Inn</name>
        <choiceText>Clock-In</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Clocked_Out</name>
        <choiceText>Clock-Out from Shift</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>inDayAbsence</name>
        <choiceText>In Day Absence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Day Absence</stringValue>
        </value>
    </choices>
    <choices>
        <name>LunchBreak</name>
        <choiceText>Clock-Out for Lunch</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_for_Clocked_Out_or_Lunch_Break</name>
        <label>Check for  Clocked Out or Lunch Break</label>
        <locationX>3086</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked_Out_Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clocked_Out</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Time_Sheet_Entry</targetReference>
            </connector>
            <label>Checked Out Exceute</label>
        </rules>
        <rules>
            <name>Lunch_Break_Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LunchBreak</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Time_Sheet_Entry_0</targetReference>
            </connector>
            <label>Lunch Break Execute</label>
        </rules>
        <rules>
            <name>In_Day_Absence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inDayAbsence</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Time_Sheet_Entry</targetReference>
            </connector>
            <label>In Day Absence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Shift_end_or_Day_Absence</name>
        <label>Check For Shift end or Day Absence</label>
        <locationX>7442</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shift_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clocked_Out</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Time_Sheet_Entry</targetReference>
            </connector>
            <label>Shift End</label>
        </rules>
        <rules>
            <name>Day_Absence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inDayAbsence</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Time_sheet_entry_on_day_absence</targetReference>
            </connector>
            <label>Day Absence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_mileage_value</name>
        <label>Check mileage value</label>
        <locationX>2030</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Update_location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mileage_is_less_than_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mileage1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LocationRec.BLN_Mileage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>less_than_prior_value</targetReference>
            </connector>
            <label>Mileage is less than prior</label>
        </rules>
        <rules>
            <name>Mileage_is_greater_than_1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mileage1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MileageAdd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_greater_than_1000</targetReference>
            </connector>
            <label>Mileage is greater than 1000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_If_Existing_Lunch_Break_rec_is_present_or_not</name>
        <label>Checking If Existing Lunch Break rec is present or not</label>
        <locationX>4694</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Looping_Through_All_Time_Sheet_Entry_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_existing_lunch_break_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopvariable.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_True_Value_to_Variable_if_found_break_record</targetReference>
            </connector>
            <label>Check for existing lunch break rec</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResource</name>
        <label>Check Resource</label>
        <locationX>2294</locationX>
        <locationY>3230</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Resource_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrectServiceResource.BLN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrectServiceResource.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mileage</targetReference>
            </connector>
            <label>Check Resource Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_mileage_value</name>
        <label>Copy 1 of Check mileage value</label>
        <locationX>1370</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Mileage_is_less_than_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Mileage1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LocationRec.BLN_Mileage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_less_than_prior_value</targetReference>
            </connector>
            <label>Copy 1 of Mileage is less than prior</label>
        </rules>
        <rules>
            <name>Copy_1_of_Mileage_is_greater_than_1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Mileage1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MileageAdd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_error_greater_than_1000</targetReference>
            </connector>
            <label>Copy 1 of Mileage is greater than 1000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Resource</name>
        <label>Copy 1 of Check Resource</label>
        <locationX>1634</locationX>
        <locationY>2114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Resource_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrectServiceResource.BLN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrectServiceResource.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mileage</targetReference>
            </connector>
            <label>Copy 1 of Check Resource Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Null_Check_for_Absence_rec</name>
        <label>Copy 1 of Copy 1 of Null Check for Absence rec</label>
        <locationX>5858</locationX>
        <locationY>2114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Resource_Absence_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Resource_Absence_Record_For_Break</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Resource_Absence_Record_Update</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Resource Absence Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>4538</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clock_In_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clocked_In_Screen</targetReference>
            </connector>
            <label>Clock In Decision</label>
        </rules>
        <rules>
            <name>Clock_Out_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clocked_Out_Or_Lunch_Break</targetReference>
            </connector>
            <label>Clock Out Decision</label>
        </rules>
        <rules>
            <name>New_Clock_In_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BRK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COUTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clocked_In_Screen_0</targetReference>
            </connector>
            <label>New Clock In Decision</label>
        </rules>
        <rules>
            <name>Lunch_Break_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clocked_In_Screen_0_0</targetReference>
            </connector>
            <label>Lunch Break End</label>
        </rules>
        <rules>
            <name>Decision_After_Lunch_Break</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Clocked_Out_Or_Lunch_Break</targetReference>
            </connector>
            <label>Decision After Lunch Break</label>
        </rules>
        <rules>
            <name>In_Day_absence_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Clocked_In_Screen</targetReference>
            </connector>
            <label>In Day absence End</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_absence</name>
        <label>if absence</label>
        <locationX>4934</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Absence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CINA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Time_Sheet_Entry</targetReference>
            </connector>
            <label>Absence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_Absence_rec</name>
        <label>Null Check for Absence rec</label>
        <locationX>2690</locationX>
        <locationY>2330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Absence_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Absence_Record_For_Break</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Absence_Record_Update</targetReference>
            </connector>
            <label>Resource Absence Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_all_time_sheet_entry_record</name>
        <label>Null Check for all time sheet entry record</label>
        <locationX>4538</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check_for_all_timesheetentry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Time_Sheet_Entries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Through_All_Time_Sheet_Entry_Record</targetReference>
            </connector>
            <label>Null Check for all timesheetentry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Current_Service_Resource</name>
        <label>Null Check For Current Service Resource</label>
        <locationX>5528</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrectServiceResource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Sheet_Decision</name>
        <label>Time Sheet Decision</label>
        <locationX>2294</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Time_Sheet_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Time_Sheet_Exist_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet_Record</targetReference>
            </connector>
            <label>IS Time Sheet Exist Decision</label>
        </rules>
    </decisions>
    <description>Created as a part of US FOUK-1526 &amp; Modified as a part of FOUK-2674 and FOUK-5557 and 6467</description>
    <environments>Default</environments>
    <formulas>
        <name>EndTimeCalculation</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>MileageAdd</name>
        <dataType>Number</dataType>
        <expression>{!LocationRec.BLN_Mileage__c}+1000</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Technician Shift CICO Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technician Shift CICO Management</label>
    <loops>
        <name>Looping_Through_All_Time_Sheet_Entry_Record</name>
        <label>Looping Through All Time Sheet Entry Record</label>
        <locationX>4474</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>Loopvariable</assignNextValueToReference>
        <collectionReference>AllTimeSheetEntryRecord</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_If_Existing_Lunch_Break_rec_is_present_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Clock_In</name>
        <label>Clock In</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>CheckResource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_8</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CIN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>CreatedTimesheetId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Clock_In_0</name>
        <label>Clock In</label>
        <locationX>4934</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>if_absence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ClockedOutForDay__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CIN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Clock_In_0_0</name>
        <label>Clock In</label>
        <locationX>2690</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Success_Message_For_Lunch_Break</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>BRK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Clock_In_0_0_0</name>
        <label>Clock In</label>
        <locationX>5858</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Resource_Absence_Record_For_Break</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_7</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CIN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Clock_In</name>
        <label>Copy 1 of Clock In</label>
        <locationX>8234</locationX>
        <locationY>1898</locationY>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CIN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Error_Exception_Log_2</name>
        <label>Copy 1 of Error Exception Log 2</label>
        <locationX>7178</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Copy_1_of_Error_Handling2</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_1_of_Update_Time_Sheet_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Error_Exception_Log_3</name>
        <label>Copy 1 of Error Exception Log 3</label>
        <locationX>4274</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Copy_1_of_Error_Handling_3</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_2_of_Update_Time_Sheet_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Clock_In</name>
        <label>Copy 2 of Copy 1 of Clock In</label>
        <locationX>7442</locationX>
        <locationY>2006</locationY>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CINA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_In_Day_Absence</name>
        <label>Create In Day Absence</label>
        <locationX>3746</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Copy_1_of_Success_Message_For_in_day_Absence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_00</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>CINA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Record</name>
        <label>Create Time Sheet Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedTimesheetId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_2_of_Clocked_In_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_TimesheetCreatedbyTechnician__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_0</name>
        <label>Error Exception Log 2</label>
        <locationX>7706</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Error_Handling0</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Time_sheet_entry_on_day_absence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_00</name>
        <label>Error Exception Log</label>
        <locationX>4010</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Error_Handling_00</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Create_In_Day_Absence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_1</name>
        <label>Error Exception Log 1</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Error_Handling_1</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Create_Time_Sheet_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_10</name>
        <label>Error Exception Log 10</label>
        <locationX>5858</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Error_Handling_10</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Resource_Absence_Record_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>ResourceAbsenceRec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_2</name>
        <label>Error Exception Log 2</label>
        <locationX>2162</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Error_Handling2</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Time_Sheet_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_3</name>
        <label>Error Exception Log 3</label>
        <locationX>3482</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Error_Handling_3</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Time_Sheet_Entry_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_4</name>
        <label>Error Exception Log 4</label>
        <locationX>3218</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Error_Handling_4</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Clock_In_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_5</name>
        <label>Error Exception Log 5</label>
        <locationX>5330</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Error_Handling_5</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Clock_In_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_6</name>
        <label>Error Exception Log 6</label>
        <locationX>6650</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Error_Handling6</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Time_Sheet_Entry_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_7</name>
        <label>Error Exception Log 7</label>
        <locationX>6386</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Error_Handling_7</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Clock_In_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_8</name>
        <label>Error Exception Log 8</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Error_Handling_8</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Clock_In</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_Log_9</name>
        <label>Error Exception Log 9</label>
        <locationX>2690</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Error_Handling_9</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ShiftCICOManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Resource_Absence_Record_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>ResourceAbsenceRec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Resource_Absence_Record_For_Break</name>
        <label>Copy 1 of Get Resource Absence Record For Break</label>
        <locationX>5858</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Null_Check_for_Absence_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_StartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <outputReference>ResourceAbsenceRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Time_Sheet_Entries</name>
        <label>Get All Time Sheet Entries</label>
        <locationX>4538</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_all_time_sheet_entry_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>AllTimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Location</name>
        <label>get Location</label>
        <locationX>5528</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Current_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocationRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Mileage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Absence_Record_For_Break</name>
        <label>Get Resource Absence Record For Break</label>
        <locationX>2690</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_Absence_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_StartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <outputReference>ResourceAbsenceRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start</queriedFields>
        <queriedFields>End</queriedFields>
        <queriedFields>BLN_LunchBreakCheck__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Will get the Time Sheet Record</description>
        <name>Get_Time_Sheet</name>
        <label>Get Time Sheet</label>
        <locationX>2294</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Sheet_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Will get the Timesheet Entry Records.</description>
        <name>Get_Time_Sheet_Entry</name>
        <label>Get Time Sheet Entry</label>
        <locationX>4538</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Time_Sheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getCurrentServiceResourceId</name>
        <label>getCurrentServiceResourceId</label>
        <locationX>5528</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrectServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>BLN_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Resource_Absence_Record_Update</name>
        <label>Copy 1 of Copy 1 of Resource Absence Record Update</label>
        <locationX>5594</locationX>
        <locationY>2222</locationY>
        <faultConnector>
            <targetReference>Error_Exception_Log_10</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_StartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_location</name>
        <label>Copy 1 of Update location</label>
        <locationX>1634</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_Mileage__c</field>
            <value>
                <elementReference>Copy_1_of_Mileage1</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Time_Sheet_Entry</name>
        <label>Copy 1 of Update Time Sheet Entry</label>
        <locationX>6914</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Copy_1_of_Confirmation_Message_For_Clocked_Out_For_Shift</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Exception_Log_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ClockedOutForDay__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Time_Sheet_Entry</name>
        <label>Update Time Sheet Entry</label>
        <locationX>3746</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Create_In_Day_Absence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Exception_Log_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Time_Sheet_Entry</name>
        <label>Copy 3 of Update Time Sheet Entry</label>
        <locationX>8234</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Copy_1_of_Clock_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Time_Sheet_Entry</name>
        <label>Copy 4 of Update Time Sheet Entry</label>
        <locationX>4802</locationX>
        <locationY>2006</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Resource_Absence_Record_Update</name>
        <label>Resource Absence Record Update</label>
        <locationX>2426</locationX>
        <locationY>2438</locationY>
        <faultConnector>
            <targetReference>Error_Exception_Log_9</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrectServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shift Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_StartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_LunchBreakCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>EndTimeCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_location</name>
        <label>Update location</label>
        <locationX>2294</locationX>
        <locationY>3554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_Mileage__c</field>
            <value>
                <elementReference>Mileage1</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Entry</name>
        <label>Update Time Sheet Entry</label>
        <locationX>1634</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Confirmation_Message_For_Clocked_Out_For_Shift</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ClockedOutForDay__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Entry_0</name>
        <label>Update Time Sheet Entry</label>
        <locationX>2690</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Clock_In_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Entry_0_0</name>
        <label>Update Time Sheet Entry</label>
        <locationX>5858</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Clock_In_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>BRK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_sheet_entry_on_day_absence</name>
        <label>Update Time sheet entry on day absence</label>
        <locationX>7442</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Clock_In</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_Log_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ShiftStatus__c</field>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <screens>
        <name>Clocked_In_Screen</name>
        <label>Clocked-In Screen</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clock_In</targetReference>
        </connector>
        <fields>
            <name>FirstTimeClockedIn</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(11, 234, 41);&quot;&gt;You have successfully clocked-In for shift.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clocked_In_Screen_0</name>
        <label>Clocked-In Screen</label>
        <locationX>4934</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clock_In_0</targetReference>
        </connector>
        <fields>
            <name>HeaderMessages</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You have already logged out for the day. Would you like to clock in again?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Clocked-In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clocked_In_Screen_0_0</name>
        <label>Clocked-In Screen</label>
        <locationX>5858</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Time_Sheet_Entry_0_0</targetReference>
        </connector>
        <fields>
            <name>Confirmation_0</name>
            <choiceReferences>Clocked_Inn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Clocked-In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clocked_Out_Or_Lunch_Break</name>
        <label>Clocked-Out Or Lunch Break</label>
        <locationX>3086</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Clocked_Out_or_Lunch_Break</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <choiceReferences>Clocked_Out</choiceReferences>
            <choiceReferences>LunchBreak</choiceReferences>
            <choiceReferences>inDayAbsence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Clocked-Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message_For_Clocked_Out_For_Shift</name>
        <label>Confirmation Message For Clocked-Out For Shift</label>
        <locationX>1634</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_Resource</targetReference>
        </connector>
        <fields>
            <name>SuccessMessageForClockedOut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 234, 41);&quot;&gt;You have successfully clocked-out for the day.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Clocked_In_Screen</name>
        <label>Copy 1 of Clocked-In Screen</label>
        <locationX>8234</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_3_of_Update_Time_Sheet_Entry</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirmation_0</name>
            <choiceReferences>Clocked_Inn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Clocked-In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Clocked_Out_Or_Lunch_Break</name>
        <label>Copy 1 of Clocked-Out Or Lunch Break</label>
        <locationX>7442</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_For_Shift_end_or_Day_Absence</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirmation</name>
            <choiceReferences>Clocked_Out</choiceReferences>
            <choiceReferences>inDayAbsence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Clocked-Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirmation_Message_For_Clocked_Out_For_Shift</name>
        <label>Copy 1 of Confirmation Message For Clocked-Out For Shift</label>
        <locationX>6914</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessageForClockedOut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 234, 41);&quot;&gt;You have successfully clocked-out for the day.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_error_greater_than_1000</name>
        <label>Copy 1 of error greater than 1000</label>
        <locationX>1370</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Mileage</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The mileage you have entered is 1000 miles greater than the previous mileage - please enter a valid mileage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_less_than_prior_value</name>
        <label>Copy 1 of less than prior value</label>
        <locationX>1106</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Mileage</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The mileage you enter should be greater or equal to the previously saved mileage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Mileage</name>
        <label>Copy 1 of Mileage</label>
        <locationX>1370</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_mileage_value</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Mileage1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>LocationRec.BLN_Mileage__c</elementReference>
            </defaultValue>
            <fieldText>Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success_Message_For_in_day_Absence</name>
        <label>Copy 1 of Success Message For In Day Absence</label>
        <locationX>3746</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessageForInDayAbsence</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 234, 11);&quot;&gt;You have successfully clocked-out for in day absence.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Clocked_In_Screen</name>
        <label>Copy 2 of Clocked-In Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckResource</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FirstTimeClockedIn</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(11, 234, 41);&quot;&gt;You have successfully clocked-In for shift.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_greater_than_1000</name>
        <label>error greater than 1000</label>
        <locationX>2030</locationX>
        <locationY>3554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Mileage</targetReference>
        </connector>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The mileage you have entered is 1000 miles greater than the previous mileage - please enter a valid mileage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>less_than_prior_value</name>
        <label>less than prior value</label>
        <locationX>1766</locationX>
        <locationY>3554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Mileage</targetReference>
        </connector>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The mileage you enter should be greater or equal to the previously saved mileage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mileage</name>
        <label>Mileage</label>
        <locationX>2030</locationX>
        <locationY>3338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_mileage_value</targetReference>
        </connector>
        <fields>
            <name>Mileage1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>LocationRec.BLN_Mileage__c</elementReference>
            </defaultValue>
            <fieldText>Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message_For_Lunch_Break</name>
        <label>Success Message For Lunch Break</label>
        <locationX>2690</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Resource_Absence_Record_For_Break</targetReference>
        </connector>
        <fields>
            <name>SuccessMessageForLunchBreak</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 234, 11);&quot;&gt;You have successfully clocked-out for lunch break.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>5402</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentServiceResourceId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllTimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>CreatedTimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrectServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>LocationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>Loopvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>ResourceAbsenceRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>shiftRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shift</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <description>Will store the record of Time Sheet</description>
        <name>TimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>TrueFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
