force-app/main/default/flows/BLN_FinalSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Store_No</name>
        <label>Store No</label>
        <locationX>710</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>updatedWOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_IsCustomerPresentHandover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_IsCustomerPresentPreInspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIRec.BLN_IsCustomerPresentPreInspection__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_HandoverNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Handover_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Start_Time</name>
        <label>Store Start Time</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Id_And_UserId_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Yes</name>
        <label>Store Yes</label>
        <locationX>446</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>updatedWOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_IsCustomerPresentHandover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedWOLI.BLN_IsCustomerPresentPreInspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIRec.BLN_IsCustomerPresentPreInspection__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_SA</name>
        <label>update SA</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>saRec.BLN_SubStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Handover Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>saRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post</name>
        <choiceText>Post</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Account_Email</name>
        <label>Check Account Email</label>
        <locationX>578</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Display_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRec.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Final_Service_Report_Delivery_Method</targetReference>
            </connector>
            <label>Email is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>314</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>Update_default_as_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_type_is_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Service_Report_Sharing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Screen</targetReference>
            </connector>
            <label>Delivery type is mail</label>
        </rules>
        <rules>
            <name>Delivery_Type_is_post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Service_Report_Sharing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Post</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_WOli_as_post</targetReference>
            </connector>
            <label>Delivery Type is post</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clock_In_Check</name>
        <label>Clock In Check?</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>InstructionsForCICO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCheckedIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Work_Step_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Selected_Choice</name>
        <label>Get Selected Choice</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Handover_NotesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Customer_Present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Yes</targetReference>
            </connector>
            <label>Yes Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_And_UserId_Null_Check</name>
        <label>Id And UserId Null Check</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Id_And_UserId_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Clock_In</targetReference>
            </connector>
            <label>Check if Id And UserId is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_For_Case</name>
        <label>Null check For Case</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Case_not_found_on_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case not found</defaultConnectorLabel>
        <rules>
            <name>Case_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Case found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_For_Case_on_SA</name>
        <label>Null check For Case on SA</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Case_not_found_on_App2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case not found on SA</defaultConnectorLabel>
        <rules>
            <name>Case_found_on_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>saRec.BLN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case found on SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_SA_Record</name>
        <label>Null Check For SA Record</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <defaultConnectorLabel>SAdoesnot exist</defaultConnectorLabel>
        <rules>
            <name>SA_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>saRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_PresentScreen</targetReference>
            </connector>
            <label>SA exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_WOLI_Record</name>
        <label>Null Check For WOLI Record</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>WOLI doesnot exist</defaultConnectorLabel>
        <rules>
            <name>WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>WOLI exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Work_Step_Record</name>
        <label>Null Check For Work Step Record</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Step_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Work_Step_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_Rec</targetReference>
            </connector>
            <label>Work Step Null Check</label>
        </rules>
    </decisions>
    <description>FOUK-2244 - Handover Summary of Completed Work,FOUK-11210</description>
    <environments>Default</environments>
    <interviewLabel>Final Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_SA_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>saRec.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_For_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>saRec.BLN_Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>BLN_IsRepricingRequired__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_For_Case_on_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>saRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_SubStatus__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>ParentRecordType</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>BLN_Case__c</queriedFields>
        <queriedFields>BLN_IsBranchAppointment__c</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Rec</name>
        <label>Get WOLI Rec</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_WOLI_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_IsCustomerPresentPreInspection__c</queriedFields>
        <queriedFields>BLN_IsCustomerPresentHandover__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>BLN_AccountEmail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Getting_Work_Step_Record</name>
        <label>Getting Work Step Record</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Work_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_default_as_email</name>
        <label>Copy 1 of Update default as email</label>
        <locationX>842</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>update_SA_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_FinalSummaryReportDeliveryMethod__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>update_SA_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Enter_Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Present_Handover_on_WOLI</name>
        <label>Update Customer Present Handover on WOLI</label>
        <locationX>578</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Calling_Service_Report</targetReference>
        </connector>
        <inputReference>updatedWOLI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_default_as_email</name>
        <label>Update default as email</label>
        <locationX>578</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>update_SA_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_FinalSummaryReportDeliveryMethod__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA_Rec</name>
        <label>update SA Rec</label>
        <locationX>578</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Update_Customer_Present_Handover_on_WOLI</targetReference>
        </connector>
        <inputReference>saRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_WOli_as_post</name>
        <label>update WOli as post</label>
        <locationX>314</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>update_SA_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_FinalSummaryReportDeliveryMethod__c</field>
            <value>
                <stringValue>Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_PrintStatus__c</field>
            <value>
                <stringValue>Ready For Print</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_To_Complete</name>
        <label>Update Work Step To Complete</label>
        <locationX>578</locationX>
        <locationY>3602</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Calling_Service_Report</name>
        <label>Service Report</label>
        <locationX>578</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Work_Step_To_Complete</targetReference>
        </connector>
        <fields>
            <name>CallSrviceReport</name>
            <fieldText>&lt;p&gt;{!displayLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_not_found_on_App</name>
        <label>Case not found on App</label>
        <locationX>1370</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseNotFoundBanner</name>
            <fieldText>&lt;p&gt;Case not found on the appointment. Please Try Again!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_not_found_on_App2</name>
        <label>Missing Information Alert</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_CaseNotFoundBanner</name>
            <fieldText>&lt;p&gt;We couldn&apos;t find the associated case information. Please contact support.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Final_Service_Report_Delivery_Method</name>
        <label>Check Final Service Report Delivery Method</label>
        <locationX>314</locationX>
        <locationY>2678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Output</targetReference>
        </connector>
        <fields>
            <name>Select_Service_Report_Sharing_Type</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Post</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred option to receive the service report?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Email</name>
        <label>Display Email</label>
        <locationX>842</locationX>
        <locationY>2678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_default_as_email</targetReference>
        </connector>
        <fields>
            <name>DisplayEmail</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Email will be delivered to this email: {!AccountRec.PersonEmail}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>50</locationX>
        <locationY>2894</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>Enter_Email</name>
            <dataType>String</dataType>
            <fieldText>Enter Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Email Address&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Enter_Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Handover_NotesScreen</name>
        <label>Handover Notes</label>
        <locationX>710</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_No</targetReference>
        </connector>
        <fields>
            <name>Handover_Notes</name>
            <fieldText>Handover Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InstructionsForCICO</name>
        <label>InstructionsForCICO</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow</targetReference>
        </connector>
        <fields>
            <name>OpenCICO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_Customer_PresentScreen</name>
        <label>Customer Confirmation</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <fields>
            <name>Is_Customer_Present</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Customer Present?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Start_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow</name>
        <label>Calling CICO Flow</label>
        <locationX>1986</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Getting_Work_Step_Record</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Check_Clock_In</name>
        <label>Check Clock In</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Clock_In_Check</targetReference>
        </connector>
        <flowName>BLN_ClockInCheck</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsCheckedIn</assignToReference>
            <name>OutputOfTheFlow</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>assignAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>caseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>displayLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;com.salesforce.fieldservice://v1/sObject/{!WorkStepRecord.WorkOrderLineItemId}/createservicereport&quot;&gt;Create Service Report&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailnew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCheckedIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>updatedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
