force-app/main/default/flows/BLN_UserManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Exception</name>
        <label>Apex Exception</label>
        <locationX>2162</locationX>
        <locationY>816</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_if_Territory_Found</name>
        <label>Check if Territory Found?</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>No_Base_location_Match_Found_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePrimarySTM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>CreateServiceResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found - Create New Resource</defaultConnectorLabel>
        <rules>
            <name>BLN_UserReactivationAsync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Async_ExistingResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BLN_UpdateResourceRecord</targetReference>
            </connector>
            <label>User Reactivation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Found</name>
        <label>Resource Found</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sync_ExistingResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Information_Updated</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Information_Updated</name>
        <label>User Information Updated?</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_InformationUpdated</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Async_ExistingResource.BLN_Mobile__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Async_ExistingResource.BLN_PostCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FOUK-617/618</description>
    <environments>Default</environments>
    <formulas>
        <name>Separator</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.MobilePhone}&lt;&gt;null &amp;&amp; {!$Record.PostalCode}&lt;&gt;null,
&apos; / &apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>YESTERDAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePrimarySTM</name>
        <label>Create Primary STM</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <faultConnector>
            <targetReference>Flow_Exception6</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>CreateServiceResource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>GetTerritory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritoryType</field>
            <value>
                <stringValue>P</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceResource</name>
        <label>Create Service Resource</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>GetTerritory</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_Mobile__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_PostCode__c</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Type__c</field>
            <value>
                <stringValue>Technician</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <stringValue>{!$Record.MobilePhone}{!Separator}{!$Record.PostalCode}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceType</field>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>2162</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Apex_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Service_Resource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception4</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>BLN_UpdateResourceRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>Async_ExistingResource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception5</name>
        <label>Flow Exception</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>CreateServiceResource</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>CreateServiceResource</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception6</name>
        <label>Flow Exception</label>
        <locationX>842</locationX>
        <locationY>924</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>CreatePrimarySTM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>CreatePrimarySTM</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception7</name>
        <label>Flow Exception</label>
        <locationX>1370</locationX>
        <locationY>924</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UserManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>No_Base_location_Match_Found_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>CreateServiceResource</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Async_ExistingResource</name>
        <label>Async Existing Resource</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTerritory</name>
        <label>GetTerritory</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Territory_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_BaseLocation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_MDMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_BaseLocation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sync_ExistingResource</name>
        <label>Sync Existing Resource</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BLN_UpdateResourceRecord</name>
        <label>Update Resource Record</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>Flow_Exception4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Async_ExistingResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_Base_location_Match_Found_1</name>
        <label>No Base location Match Found</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <faultConnector>
            <targetReference>Flow_Exception7</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateServiceResource</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Flow.CurrentDateTime} - The base location {!$Record.BLN_BaseLocation__c} could not be found for assignment.</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Resource</name>
        <label>Update Service Resource</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <faultConnector>
            <targetReference>Flow_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sync_ExistingResource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_Mobile__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_PostCode__c</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <stringValue>{!$Record.MobilePhone}{!Separator}{!$Record.PostalCode}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.BLN_ProcessDeactivation__c.BLN_DisableLightningFlows__c} = false 
&amp;&amp; ({!$Record.BLN_IsScheduledToModifyServiceResource__c} = true
)</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Minute</name>
            <connector>
                <targetReference>Async_ExistingResource</targetReference>
            </connector>
            <label>2 Minute</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_min</name>
            <connector>
                <targetReference>Sync_ExistingResource</targetReference>
            </connector>
            <label>1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
