force-app/main/default/flows/BLN_PreInspectionSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Store_Start_Time</name>
        <label>Store Start Time</label>
        <locationX>847</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Work_Step_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_Check_For_SR</name>
        <label>Null Check For SR</label>
        <locationX>589</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Record_For_Current_Service_Resource</targetReference>
            </connector>
            <label>SR Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Entry_Record</name>
        <label>Null Check For Time Sheet Entry Record</label>
        <locationX>94</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Entry_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Time_Sheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Service_Report</targetReference>
            </connector>
            <label>Time Sheet Entry Null Check</label>
        </rules>
        <rules>
            <name>Null_Check_Plus_No_C_In_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Time_Sheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_CICO_Flow</targetReference>
            </connector>
            <label>Null Check Plus No C-In Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Record</name>
        <label>Null Check For Time Sheet Record</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Open_CICO_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Sheet_Record_For_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Time_Sheet_Entry_Record</targetReference>
            </connector>
            <label>Time Sheet Record Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Work_Step_Record</name>
        <label>Null Check For Work Step Record</label>
        <locationX>847</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Step_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Work_Step_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Current_Service_Resource</targetReference>
            </connector>
            <label>Work Step Null Check</label>
        </rules>
    </decisions>
    <description>FOUK-1588 &amp; FOUK-1587</description>
    <environments>Default</environments>
    <interviewLabel>Pre Inspection Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre Inspection Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Time_Sheet_Record_For_Current_Service_Resource</name>
        <label>Get Time Sheet Record For Current Service Resource</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceResource.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Getting_Current_Service_Resource</name>
        <label>Getting Current Service Resource</label>
        <locationX>589</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Getting_Work_Step_Record</name>
        <label>Getting Work Step Record</label>
        <locationX>847</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Work_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recent_Time_Sheet_Entry_Record</name>
        <label>Recent Time Sheet Entry Record</label>
        <locationX>94</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Entry_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Step_To_Complete</name>
        <label>Update Work Step To Complete</label>
        <locationX>336</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_WorkStepUniqueName__c</field>
            <value>
                <stringValue>PreInspectionSummary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Calling_Service_Report</name>
        <label>Calling Service Report</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Work_Step_To_Complete</targetReference>
        </connector>
        <fields>
            <name>CallSrviceReport</name>
            <fieldText>&lt;p&gt;{!displayLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Open_CICO_Flow</name>
        <label>Copy 1 of Open CICO Flow</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OpenCICO1</name>
            <fieldText>&lt;p&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow</name>
        <label>Open CICO Flow</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow_1</targetReference>
        </connector>
        <fields>
            <name>OpenCICO1</name>
            <fieldText>&lt;p&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>721</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Start_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow2</name>
        <label>Calling CICO Flow2</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Calling_Service_Report</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calling_CICO_Flow_1</name>
        <label>Calling CICO Flow 1</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Calling_Service_Report</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>displayLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;com.salesforce.fieldservice://v1/sObject/{!WorkStepRecord.WorkOrderLineItemId}/createservicereport&quot;&gt;Create Service Report&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDeeplinkFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&apos;com.salesforce.fieldservice://v1/sObject/{!WorkStepRecord.WorkOrderLineItemId}/flow/RepairResinFlow?WSIds={!WorkStepRecord.Id}&apos;&gt;Invoke Flow&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
