force-app/main/default/flows/BLN_SendFinalSummaryEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>exception</name>
        <label>exception</label>
        <locationX>314</locationX>
        <locationY>3059</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assing_brand</name>
        <label>Assing brand</label>
        <locationX>182</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_BU_Mdt.BLN_BrandName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_recipient_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Summary_In_Body</name>
        <label>Final Summary In Body</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>PreOrFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Inp_Summary_In_Body</name>
        <label>Pre Inp Summary In Body</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>PreOrFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Pre-Job </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recipient_Email</name>
        <label>Set recipient Email</label>
        <locationX>314</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreOrFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Summary for:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.BLN_Vehicle__r.BLN_VehicleRegNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_check_for_Email_and_public_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_SRL_Ids</name>
        <label>Store SRL Ids</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SRLIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_SRL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_SRL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Id_is_null</name>
        <label>Case Id is null</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Case is null</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_WOLI_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_the_SR_Name</targetReference>
            </connector>
            <label>Case is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_ST</name>
        <label>check ST</label>
        <locationX>314</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Set_recipient_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ST_is_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA.ServiceTerritory.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BU_Mdt.BLN_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_brand</targetReference>
            </connector>
            <label>ST is UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_the_SR_Name</name>
        <label>Decide the SR Name</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>None of These</defaultConnectorLabel>
        <rules>
            <name>Final_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_of_SR.ServiceReportTemplate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_FinalSRTempName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Summary_In_Body</targetReference>
            </connector>
            <label>Final Summary</label>
        </rules>
        <rules>
            <name>Pre_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_of_SR.ServiceReportTemplate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_PreInspectionSRLName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Inp_Summary_In_Body</targetReference>
            </connector>
            <label>Pre Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Pre_and_Final_SRL_Ids</name>
        <label>Got Pre and Final SRL Ids</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pre_And_Final_Service_Report_Layout</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_SRL</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_WOLI_Id_null_check</name>
        <label>If WOLI Id null check</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>WOLI is null</defaultConnectorLabel>
        <rules>
            <name>WOLI_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_of_SR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>WOLI is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_Email_and_public_link</name>
        <label>Null check for Email and public link</label>
        <locationX>314</locationX>
        <locationY>2735</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_and_Public_Link_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailRecipient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Public_Link.PdfDownloadUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Is_Final_Service_Report_Email_Sent_on_WOLI</targetReference>
            </connector>
            <label>Email and Public Link is not null</label>
        </rules>
    </decisions>
    <description>FOUK-6305, FOUK-7619 (VAPS Repricing)</description>
    <environments>Default</environments>
    <interviewLabel>Send Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Final Summary Email</label>
    <loops>
        <name>loop_over_SRL</name>
        <label>loop over SRL</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Pre_And_Final_Service_Report_Layout</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_SRL_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_WOLI_of_SR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Delivery</name>
        <label>Create Content Delivery</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Get_Public_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>$Record.ContentVersionDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ServiceReportNumber</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendFinalSummaryEmail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Is_Final_Service_Report_Email_Sent_on_WOLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_And_Final_Service_Report_Layout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BU_Mdt</name>
        <label>get BU Mdt</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_ST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLN_BU__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Id_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI_of_SR.WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_And_Final_Service_Report_Layout</name>
        <label>Get Pre And Final Service Report Layout</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_Pre_and_Final_SRL_Ids</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_FinalSRTempName</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_PreInspectionSRLName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceReportLayout</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Link</name>
        <label>Get Public Link</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_BU_Mdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_Delivery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA</name>
        <label>get SA</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_WOLI_Id_null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI_of_SR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOli</name>
        <label>Get WOli</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_of_SR</name>
        <label>Get WOLI of SR</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceReportTemplateId</field>
            <operator>In</operator>
            <value>
                <elementReference>SRLIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_order</name>
        <label>Get Work order</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOli.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>FOUK-7619, VAPS Repricing</description>
        <name>Update_Is_Final_Service_Report_Email_Sent_on_WOLI</name>
        <label>Update Is Final Service Report Email Sent on WOLI</label>
        <locationX>50</locationX>
        <locationY>2843</locationY>
        <faultConnector>
            <targetReference>Flow_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI_of_SR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_IsFinalServiceReportEmailSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WOli</targetReference>
        </connector>
        <object>ServiceReport</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://belronint--ukst2.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;versionId=0689K000002fS2P&amp;operationContext=DELIVERY&amp;contentId=05T9K000004jHon&amp;page=0&amp;d=/a/9K00000060jh/XWj_omfpdsvBZqFzoT93OCvqTzHvaxZSFdO5ii6SX8A&amp;oid=00D7E000000AknK&amp;dpt=null&amp;viewId=&quot; style=&quot;height:80px; width:160px;&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Booking reference: {!Get_Case.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Case.Contact.FirstName} {!Get_Case.Contact.LastName},&lt;/p&gt;&lt;p&gt;Thanks again for choosing {!Brand}.&amp;nbsp;&lt;/p&gt;&lt;p&gt;You can view your {!PreOrFinal} Summary by clicking the link below:&lt;/p&gt;&lt;p&gt;{!Get_Public_Link.PdfDownloadUrl}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Brand}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataofSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreOrFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRLIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
