force-app/main/default/flows/BLN_AddAdditionalProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_ids</name>
        <label>add ids</label>
        <locationX>314</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>ListofProdReq</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdReqRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTCollect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PTRecordAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_product_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_in_Product_List</name>
        <label>Add Product in Product List</label>
        <locationX>380</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product2_2nd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductGlassRepair3rd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempGlazingProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WarrantyProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Warranty_Type_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Mobile_Location</name>
        <label>assign Mobile Location</label>
        <locationX>347</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResourceRecord.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Transfer</name>
        <label>Assign Product Transfer</label>
        <locationX>314</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>PTRecordAssign.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTRecordAssign.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTRecordAssign.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTRecordAssign.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTRecordAssign.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTRecordAssign.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_Mobile_Location</name>
        <label>Copy 1 of assign Mobile Location</label>
        <locationX>611</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assign_Product_List</name>
        <label>Final Assign Product List</label>
        <locationX>468</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>ProductListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PRToGetSelectedProd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_selected_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductReqAssigment</name>
        <label>ProductReqAssigment</label>
        <locationX>314</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ProdReqRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.QuantityRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_IsConsumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_WOLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_QuantityUsedByTech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_ProductChangeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Upsold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdReqRec.BLN_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>GlassRepair</name>
        <choiceText>PSER00200A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSER00200A</stringValue>
        </value>
    </choices>
    <choices>
        <name>GlassRepair2nd</name>
        <choiceText>PSER00202A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSER00202A</stringValue>
        </value>
    </choices>
    <choices>
        <name>GlassRepair3rd</name>
        <choiceText>PSER00202B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSER00202B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tempglazingjob</name>
        <choiceText>PSER00176A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSER00176A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warrantytechniciansavedglass</name>
        <choiceText>PSERUK00005A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSERUK00005A</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_PR_Found</name>
        <label>check PR Found</label>
        <locationX>446</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>check_product_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PR_Already_Created.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductReqAssigment</targetReference>
            </connector>
            <label>PR Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PT_Collect_not_null</name>
        <label>Check PT Collect not null</label>
        <locationX>226</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>If_other_is_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTCollect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_transfer</targetReference>
            </connector>
            <label>PT not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_product_in_Record</name>
        <label>Check Selected product in Record</label>
        <locationX>600</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>get_selected_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SP_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Additional_Product</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PRToGetSelectedProd.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PRToGetSelectedProd.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Assign_Product_List</targetReference>
            </connector>
            <label>SP record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Territory_Found</name>
        <label>Check Territory Found</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Territory_Found_and_mobile_territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STRecord.BLN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOBILE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Mobile_Location</targetReference>
            </connector>
            <label>Territory Found and mobile territory</label>
        </rules>
        <rules>
            <name>Territory_Found_and_branch_territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STRecord.BLN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location</targetReference>
            </connector>
            <label>Territory Found and branch territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Warranty_Type_Products</name>
        <label>Check Warranty Type Products</label>
        <locationX>380</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Product_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Warranty</defaultConnectorLabel>
        <rules>
            <name>isWarranty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>workTpye.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workTpye.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Product_List</targetReference>
            </connector>
            <label>isWarranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOLI_Found</name>
        <label>Check WOLI Found</label>
        <locationX>858</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WoliRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_service_territory</targetReference>
            </connector>
            <label>WOLI Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Not_null</name>
        <label>Check Work Order Not null</label>
        <locationX>611</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_glass_repair</targetReference>
            </connector>
            <label>Work Order Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_other_is_selected</name>
        <label>If other is selected</label>
        <locationX>380</locationX>
        <locationY>4154</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>other_is_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>If_other_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_other_Product_warranty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Product_screen</targetReference>
            </connector>
            <label>other is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Other_PR_is_True</name>
        <label>IF Other PR is True</label>
        <locationX>182</locationX>
        <locationY>4586</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PROtherProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_other_PR</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>not_null_2</name>
        <label>not null</label>
        <locationX>380</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>If_other_is_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductListFinal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_product_selected</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>FOUK-2259. This flow will trigger when technician used additional products.</description>
    <dynamicChoiceSets>
        <name>ProdList</name>
        <collectionReference>ProductList</collectionReference>
        <dataType>String</dataType>
        <displayField>ProductCode</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Additional Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Additional Products</label>
    <loops>
        <name>check_product_selected</name>
        <label>check product selected</label>
        <locationX>226</locationX>
        <locationY>2846</locationY>
        <assignNextValueToReference>ProdVar</assignNextValueToReference>
        <collectionReference>ProductListFinal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_product_required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>get_selected_products</name>
        <label>get selected products</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <assignNextValueToReference>PRToGetSelectedProd</assignNextValueToReference>
        <collectionReference>ProductList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Selected_product_in_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>not_null_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Product_transfer</name>
        <label>Copy 1 of Create Product transfer</label>
        <locationX>50</locationX>
        <locationY>5018</locationY>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>LastPR.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>LastPR.QuantityRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>LastPR.QuantityRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <elementReference>LastPR.QuantityUnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>create_other_PR</name>
        <label>create other PR</label>
        <locationX>50</locationX>
        <locationY>4694</locationY>
        <assignRecordIdToReference>IDofPR</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PR</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_IsConsumed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WOLI__c</field>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WorkOrder__c</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>OtherProductId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_required</name>
        <label>Create Product required</label>
        <locationX>226</locationX>
        <locationY>3662</locationY>
        <connector>
            <targetReference>Check_PT_Collect_not_null</targetReference>
        </connector>
        <inputReference>ListofProdReq</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_transfer</name>
        <label>Create Product transfer</label>
        <locationX>94</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>If_other_is_selected</targetReference>
        </connector>
        <inputReference>PTCollect</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Current_Service_resource</name>
        <label>get Current Service resource</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>611</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_assign_Mobile_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>STRecord.BLN_GUID__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocationRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PR</name>
        <label>Get PR</label>
        <locationX>50</locationX>
        <locationY>4802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDofPR</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>LastPR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityRequired</queriedFields>
        <queriedFields>QuantityUnitOfMeasure</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_glass_repair</name>
        <label>Get Product- glass repair</label>
        <locationX>380</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_product_Glass_repair_2nd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSER00200A</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_product_Glass_repair_2nd</name>
        <label>get product Glass repair 2nd</label>
        <locationX>380</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_product_glass_repair_3rd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSER00202A</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product2_2nd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_product_glass_repair_3rd</name>
        <label>get product glass repair 3rd</label>
        <locationX>380</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Temporary_Glazing_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSER00202B</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductGlassRepair3rd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Product_other</name>
        <label>get Product other</label>
        <locationX>182</locationX>
        <locationY>4370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Required_other</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Product_code</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>OtherProductId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_product_required</name>
        <label>get product required</label>
        <locationX>446</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_PR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdVar.ProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>PR_Already_Created</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Required_other</name>
        <label>Get Product Required</label>
        <locationX>182</locationX>
        <locationY>4478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Other_PR_is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherProductId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>PROtherProductId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_service_territory</name>
        <label>get service territory</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Territory_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>STRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_GUID__c</queriedFields>
        <queriedFields>BLN_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Temporary_Glazing_Job</name>
        <label>get Temporary Glazing Job</label>
        <locationX>380</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Warranty_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSER00176A</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>TempGlazingProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Warranty_Product</name>
        <label>get Warranty Product</label>
        <locationX>380</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Product_in_Product_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSERUK00005A</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>WarrantyProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_WOLI</name>
        <label>get WOLI</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WOLI_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRec.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WoliRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_work_Order</name>
        <label>get work Order</label>
        <locationX>611</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Order_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_work_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WoliRecord.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workTpye</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>50</locationX>
        <locationY>4910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_Product_transfer</targetReference>
        </connector>
        <fields>
            <name>DispMessage</name>
            <fieldText>&lt;p&gt;Product Required has been created for selected additional product.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>4694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This Product is already required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Product_screen</name>
        <label>Other Product screen</label>
        <locationX>182</locationX>
        <locationY>4262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Product_other</targetReference>
        </connector>
        <fields>
            <name>Enter_Product_code</name>
            <dataType>String</dataType>
            <fieldText>Enter Product code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_List</name>
        <label>Product List</label>
        <locationX>512</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_selected_products</targetReference>
        </connector>
        <fields>
            <name>Select_Additional_Product</name>
            <choiceReferences>GlassRepair</choiceReferences>
            <choiceReferences>GlassRepair2nd</choiceReferences>
            <choiceReferences>GlassRepair3rd</choiceReferences>
            <choiceReferences>Tempglazingjob</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Additional Product</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_other_Product</name>
            <dataType>Boolean</dataType>
            <fieldText>If other Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warranty_Product_List</name>
        <label>Warranty Product List</label>
        <locationX>248</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_selected_products</targetReference>
        </connector>
        <fields>
            <name>Additional_Product</name>
            <choiceReferences>GlassRepair</choiceReferences>
            <choiceReferences>GlassRepair2nd</choiceReferences>
            <choiceReferences>GlassRepair3rd</choiceReferences>
            <choiceReferences>Tempglazingjob</choiceReferences>
            <choiceReferences>Warrantytechniciansavedglass</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Additional Product</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_other_Product_warranty</name>
            <dataType>Boolean</dataType>
            <fieldText>If other Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Current_Service_resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDofPR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ListofProdReq</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OtherProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>otherrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>PIAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>PR_Already_Created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProdRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProdReqRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>Product1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product2_2nd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductGlassRepair3rd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>ProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProduReqListAfterMarked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProdVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>PROtherProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>PRToGetSelectedProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>PTCollect</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTRecordAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>RecordFinalList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>STRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>TempGlazingProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>WarrantyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>WoliRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WoliRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>workTpye</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
