force-app/main/default/flows/BLN_SendProvisionalBookingSMSForSANextDay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Apex_Action</name>
        <label>Invoke Apex Action</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Apex_Action01</name>
        <label>Invoke Apex Action</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Apex_Action02</name>
        <label>Invoke Apex Action</label>
        <locationX>1106</locationX>
        <locationY>900</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Apex_Action03</name>
        <label>Invoke Apex Action</label>
        <locationX>1370</locationX>
        <locationY>792</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_template</name>
        <label>Assign template</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BLN_ProvisionalReminder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_mobile_and_template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_mobile_and_template</name>
        <label>Check mobile and template</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Record</targetReference>
            </connector>
            <label>If present</label>
        </rules>
        <rules>
            <name>If_Present_For_Nominated_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Record_For_Nominated_Person</targetReference>
            </connector>
            <label>If Present For Nominated Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provisional_Reminder</name>
        <label>Provisional Reminder</label>
        <locationX>1370</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_Corporate__r.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.Account.BLN_PreferredContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_template</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <description>FOUK-5539: This scheduled flow is created to Send Provisional Booking SMS For SA Next Day.</description>
    <environments>Default</environments>
    <interviewLabel>Send Provisional Booking SMS For SA Next Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Provisional Booking SMS For SA Next Day</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Records</name>
        <label>Create Exception Records</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendProvisionalBookingSMSForSANextDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records01</name>
        <label>Create Exception Records</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action01</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendProvisionalBookingSMSForSANextDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records02</name>
        <label>Create Exception Records</label>
        <locationX>1106</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action02</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendProvisionalBookingSMSForSANextDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records03</name>
        <label>Create Exception Records</label>
        <locationX>1370</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action03</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendProvisionalBookingSMSForSANextDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Record</name>
        <label>Create SMS Record</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_SA_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records01</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.Account.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Record_For_Nominated_Person</name>
        <label>Create SMS Record For Nominated Person</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_SA_Record_For_Nominated_Person</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records03</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_SA_Record</name>
        <label>Update SA Record</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ProvisionalBookingSMSSentNextDay__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Record_For_Nominated_Person</name>
        <label>Update SA Record For Nominated Person</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Records02</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ProvisionalBookingSMSSentNextDay__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provisional_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ProvisionalBookingSMSSentNextDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-31</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>templateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
