force-app/main/default/flows/BLN_IndividualCreationOnPersonAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_String_Action_1</name>
        <label>Split String Action 1</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>BLN_SplitStringForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_related_CPTC_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>$Record.BLN_ConsentToMarketChannels__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_SplitStringForFlow</nameSegment>
        <outputParameters>
            <assignToReference>selectedConsentValues</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Throw_Flow_Error</name>
        <label>Throw Flow Error</label>
        <locationX>1634</locationX>
        <locationY>2495</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>CPTC_value_assignment</name>
        <label>CPTC value assignment</label>
        <locationX>1458</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>CPTC_Var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTC_Name_New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonIndividualId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_CPTC_to_create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Marketing_DUP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.EffectiveTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDatePlus10Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC_Var.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTCList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_CPTC_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Opt_out</name>
        <label>Mark Opt out</label>
        <locationX>2162</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.EffectiveTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTCList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_related_CPTC_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_related_CPTC_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_existing_Consent_Values_From_Text_Collection</name>
        <label>Remove existing Consent Values From Text Collection</label>
        <locationX>1854</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>selectedConsentValues</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>All_related_CPTC_records.BLN_ContactChannelType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Already_Opt_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_consented_channels</name>
        <label>Store consented channels</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>consentAsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BLN_ConsentToMarketChannels__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_String_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Opt_In_Records</name>
        <label>Store Opt In Records</label>
        <locationX>1722</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.EffectiveTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDatePlus10Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Marketing_DUP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_related_CPTC_records.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTCList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_related_CPTC_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_related_CPTC_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Marketing_DUP_exists</name>
        <label>Active Marketing DUP exists</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DUP_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Marketing_DUP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_consented_channels</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_consent</name>
        <label>Check for consent</label>
        <locationX>2074</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Opt_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_Opt_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_ConsentToMarketChannels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>All_related_CPTC_records.BLN_ContactChannelType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_existing_Consent_Values_From_Text_Collection</targetReference>
            </connector>
            <label>Mark Opt in</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_any_CPTC_remaining_to_create</name>
        <label>If any CPTC remaining to create</label>
        <locationX>1634</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_CPTC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_create_cptc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedConsentValues</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remaining_CPTC_to_create</targetReference>
            </connector>
            <label>Yes - create cptc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Already_Opt_In</name>
        <label>Is Already Opt In</label>
        <locationX>1854</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>All_related_CPTC_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Optin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_related_CPTC_records.PrivacyConsentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OptIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Opt_In_Records</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opt_In</name>
        <label>Is Opt In</label>
        <locationX>2294</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>All_related_CPTC_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Optout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_related_CPTC_records.PrivacyConsentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Opt_out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual_Record_On_Person_Account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonIndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateIndividualRecord</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateIndividualRecord</targetReference>
            </connector>
            <label>Individual Record On Person Account is Null</label>
        </rules>
        <rules>
            <name>Handle_consent_records</name>
            <conditionLogic>2 AND (1 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_ConsentToMarketChannels__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Active_Marketing_DUP</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_ConsentToMarketChannels__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Marketing_DUP</targetReference>
            </connector>
            <label>Handle consent records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_CPTC_found</name>
        <label>Related CPTC found</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Remaining_CPTC_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_CPTC_records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_related_CPTC_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created Under browse FOUK-9614</description>
    <environments>Default</environments>
    <formulas>
        <name>CPTC_Name_New</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; : Marketing : &apos;+{!Remaining_CPTC_to_create}</expression>
    </formulas>
    <formulas>
        <name>CurrentDatePlus10Days</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+10</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>IndividualCreationOnPersonAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Creation On Person Account</label>
    <loops>
        <name>All_related_CPTC_records</name>
        <label>All related CPTC records</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_related_CPTC_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_any_CPTC_remaining_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remaining_CPTC_to_create</name>
        <label>Remaining CPTC to create</label>
        <locationX>1370</locationX>
        <locationY>1979</locationY>
        <collectionReference>selectedConsentValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CPTC_value_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CPTC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CPTC</name>
        <label>Create CPTC</label>
        <locationX>1370</locationX>
        <locationY>2279</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_CPTC_Error</targetReference>
        </faultConnector>
        <inputReference>CPTCList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CPTC_Error</name>
        <label>Create CPTC Error</label>
        <locationX>1634</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>Throw_Flow_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_IndividualCreationOnPersonAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Create_CPTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_ExceptionLogger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual_Error</name>
        <label>Create Individual Error</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Flow_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_IndividualCreationOnPersonAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>CreateIndividualRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_ExceptionLogger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateIndividualRecord</name>
        <label>Create Individual Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Individual_on_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Individual_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Individual_Error</name>
        <label>Update Individual Error</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Flow_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_IndividualCreationOnPersonAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Individual_on_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_ExceptionLogger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Marketing_DUP</name>
        <label>Get Active Marketing DUP</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Marketing_DUP_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ConsentPurpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_CPTC_records</name>
        <label>Get related CPTC records</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_CPTC_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonIndividualId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Marketing_DUP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Individual_on_Account</name>
        <label>Update Individual on Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Individual_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PersonIndividualId</field>
            <value>
                <elementReference>CreateIndividualRecord</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <filterFormula>AND( NOT({!$Permission.BLN_BypassFlows}), {!$Record.RecordType.Name}== &apos;Person Account&apos; ,{!$Record.IsPersonAccount})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>consentAsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>constentedChannels</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPTC_CreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTCList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptInCPTCList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>selectedConsentValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
