force-app/main/default/flows/BLN_DamageAssessmentHasDamageBeenRepairedBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BLN_ApexError</name>
        <label>Apex Error</label>
        <locationX>1634</locationX>
        <locationY>2378</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BLN_ApexError_0</name>
        <label>Apex Error</label>
        <locationX>842</locationX>
        <locationY>2486</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BLN_ApexError_0_0</name>
        <label>Apex Error</label>
        <locationX>2690</locationX>
        <locationY>2054</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CallBomId</name>
        <label>CallBomId</label>
        <locationX>1828</locationX>
        <locationY>1190</locationY>
        <actionName>BLN_ConnectWithGPS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Append_ReturnBom</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOfBom</name>
            <value>
                <elementReference>TranAndHoleId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_ConnectWithGPS</nameSegment>
        <outputParameters>
            <assignToReference>ReturnBomAdd</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Append_ReturnBom</name>
        <label>Append ReturnBom</label>
        <locationX>1828</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ReturnBom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReturnBomAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FOUK-5209</description>
        <name>Assign2BomId</name>
        <label>Assign2BomId</label>
        <locationX>4398</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.BLN_Repair1Branch},{!$Label.BLN_Repair1Mobile},{!$Label.BLN_Repair2}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfChips</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutComeTypeAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FOUK-5209</description>
        <name>Assign3BomId</name>
        <label>Assign3BomId</label>
        <locationX>4662</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.BLN_Repair1Branch},{!$Label.BLN_Repair1Mobile},{!$Label.BLN_Repair2},{!$Label.BLN_Repair3}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfChips</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutComeTypeAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Holetype</name>
        <label>Assign Holetype</label>
        <locationX>1696</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>HoleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>holeTypeInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Old_TranAndHoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBomApiHole</name>
        <label>AssignBomApiHole</label>
        <locationX>1828</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>TranAndHoleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transactionidInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TranAndHoleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vehicleholeIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TranAndHoleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallBomId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BomIdAssign</name>
        <label>BomIdAssign</label>
        <locationX>4354</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.BLN_Repair1Branch},{!$Label.BLN_Repair1Mobile}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfChips</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Damage_Result_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caseRec_Assignment</name>
        <label>caseRec Assignment</label>
        <locationX>4613</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CaseRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_input_from_parent_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Old_TranAndHoleId</name>
        <label>Clear Old TranAndHoleId</label>
        <locationX>1828</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>TranAndHoleId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnBomAdd</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignBomApiHole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dummy_Assignment</name>
        <label>Dummy Assignment</label>
        <locationX>4618</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>finishFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>outCome_Type_Assignment</name>
        <label>outCome Type Assignment</label>
        <locationX>3870</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>OutcomeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replacement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>outCome_Type_Assignment_0</name>
        <label>outCome Type Assignment</label>
        <locationX>1960</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OutcomeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Old_TranAndHoleId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutComeTypeAssignment</name>
        <label>OutComeType Assignment</label>
        <locationX>4662</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>OutcomeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RepairableScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Visited</name>
        <label>Question Visited</label>
        <locationX>4178</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>QuestionVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>StoreQuestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Result_Visited_True</name>
        <label>Result Visited True</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>ResultVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreBomLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TransactionVisited2_True</name>
        <label>Set TransactionVisited2 True</label>
        <locationX>4702</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>TransactionVisited2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreTransId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TransactionVisited_True</name>
        <label>Set TransactionVisited True</label>
        <locationX>4438</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>TransactionVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>StoreTransId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreBomId</name>
        <label>Store Bom Id</label>
        <locationX>1634</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>StoredBomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBomLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createDaRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoredQuestionId</name>
        <label>StoredQuestion</label>
        <locationX>4750</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>StoredQuestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreQuestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pidquestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoredTransId</name>
        <label>Stored Trans Id</label>
        <locationX>4090</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>TransIdStored</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreTransId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionVisited</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionVisited2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreQuestion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dont_Know_Not_Sure</name>
        <choiceText>Don&apos;t Know/Not Sure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t Know/Not Sure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_More</name>
        <choiceText>4 or More</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 or More</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BomID_Check</name>
        <label>BomID Check</label>
        <locationX>886</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>StoreBomId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_BOM_ID_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreBomLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESULT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultVisited</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Visited_True</targetReference>
            </connector>
            <label>No BOM ID RESULT</label>
        </rules>
        <rules>
            <name>No_BOM_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultVisited</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreBomLoop</targetReference>
            </connector>
            <label>No BOM ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Accepted_Order</name>
        <label>Check for Accepted Order</label>
        <locationX>2030</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Book_Appointment_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Accepted Order Found</defaultConnectorLabel>
        <rules>
            <name>Accepted_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accepted_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebook_Flow</targetReference>
            </connector>
            <label>Accepted Order Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Questions</name>
        <label>Check Questions</label>
        <locationX>4464</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>StoredQuestionId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question_Keyword</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QUESTIONS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuestionVisited</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Visited</targetReference>
            </connector>
            <label>Question Keyword</label>
        </rules>
        <rules>
            <name>Question_Visited_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionVisited</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreQuestion</targetReference>
            </connector>
            <label>Question Visited False</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsStatus</name>
        <label>Contains Status</label>
        <locationX>1828</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>DAQuestionError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnBom</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RESULT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreBomLoop</targetReference>
            </connector>
            <label>Check Result</label>
        </rules>
        <rules>
            <name>check_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnBom</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>QUESTIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreTransId</targetReference>
            </connector>
            <label>check Question</label>
        </rules>
    </decisions>
    <decisions>
        <name>Damage_Result_Decision</name>
        <label>Damage Result Decision</label>
        <locationX>4486</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Work_Replacment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X4_More</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_6_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_6_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_7_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_7_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_8_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_8_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>outCome_Type_Assignment</targetReference>
            </connector>
            <label>Work Replacment</label>
        </rules>
        <rules>
            <name>Work_No_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmallToRepairable</targetReference>
            </connector>
            <label>Work No Repair</label>
        </rules>
        <rules>
            <name>Work_Repair</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_8_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_8_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dont_Know_Not_Sure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q_Choice_8_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNumberOfChips2</targetReference>
            </connector>
            <label>Work Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_is_additional_button_clicked</name>
        <label>Decision to check is additional button clicked</label>
        <locationX>1634</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Additional_Button_Clicked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>customfooter.IsAdditionalGlass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DamageTooSmallFooter.IsAdditionalGlass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditonalGlassRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsRepairCheck</targetReference>
            </connector>
            <label>Is Additional Button Clicked</label>
        </rules>
        <rules>
            <name>Is_Finished</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>customfooter.IsFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DamageTooSmallFooter.IsFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateVehicleDamageRecord</targetReference>
            </connector>
            <label>Is Finished</label>
        </rules>
        <rules>
            <name>IsContinue_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>IsContinue is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_input_from_parent_flow</name>
        <label>Get input from parent flow</label>
        <locationX>4613</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>outCome_Type_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>transactionIdAndHoleId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionidInput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vehicleholeIdInput</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>IsWindScreen</targetReference>
            </connector>
            <label>transactionIdAndHoleId</label>
        </rules>
    </decisions>
    <decisions>
        <description>FOUK-5209</description>
        <name>IsNumberOfChips2</name>
        <label>IsNumberOfChips2?</label>
        <locationX>4662</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>OutComeTypeAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChipsChoice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign2BomId</targetReference>
            </connector>
            <label>IsChipsChoice2</label>
        </rules>
        <rules>
            <name>IsChipsChoice3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign3BomId</targetReference>
            </connector>
            <label>IsChipsChoice3</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRepairCheck</name>
        <label>Is Repair Check</label>
        <locationX>842</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SchematicScreenfromRepair</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRepair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateVehicleDamageRecord_0</targetReference>
            </connector>
            <label>Check Repair</label>
        </rules>
    </decisions>
    <decisions>
        <description>FOUK-4753</description>
        <name>IsWindScreen</name>
        <label>IsWindScreen</label>
        <locationX>3597</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RepairtoReplacement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkWindScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTypeReplacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RepairtoReplacement</targetReference>
            </connector>
            <label>check WindScreen</label>
        </rules>
        <rules>
            <name>service_Type_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTypeReplacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queationaries</targetReference>
            </connector>
            <label>service Type Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_exit_1</name>
        <label>Need exit 1</label>
        <locationX>4750</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exit_flow_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finishFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Assignment</targetReference>
            </connector>
            <label>exit flow 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>NumberOfChips</name>
        <label>NumberOfChips?</label>
        <locationX>4486</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Damage_Result_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChipsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q_Choice_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BomIdAssign</targetReference>
            </connector>
            <label>IsChipsYes</label>
        </rules>
    </decisions>
    <decisions>
        <description>FOUK - 8107</description>
        <name>RepairtoReplacement</name>
        <label>Repair to Replacement</label>
        <locationX>1828</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>outCome_Type_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>repairReplacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTypeReplacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SchematicScreenfromRepair</targetReference>
            </connector>
            <label>repairReplacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Check</name>
        <label>Transaction Check</label>
        <locationX>4396</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Set_TransactionVisited2_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_Visited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionVisited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransactionVisited2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoredTransId</targetReference>
            </connector>
            <label>Transaction Visited</label>
        </rules>
        <rules>
            <name>Transaction_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionVisited</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransactionVisited2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TransactionVisited_True</targetReference>
            </connector>
            <label>Transaction 1</label>
        </rules>
    </decisions>
    <description>FOUK=&gt;855 And 856(Damage Assessment: &quot;Number of Chips?&quot;) Damage Assessment Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>WorkTypeMapping</name>
        <dataType>String</dataType>
        <expression>IF(AND({!HoleType}!= null ,{!HoleType}!= {!$Label.BLN_WindScreenInitials}), {!$Label.BLN_SideAndRear}, {!OutcomeType})</expression>
    </formulas>
    <interviewLabel>Damage Assessment Has The Damage Been Repaired Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Damage Assessment Has Damage Been Repaired Before</label>
    <loops>
        <name>StoreBomLoop</name>
        <label>Store Bom Loop</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <collectionReference>ReturnBom</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BomID_Check</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>StoreQuestion</name>
        <label>Store Question</label>
        <locationX>4090</locationX>
        <locationY>1838</locationY>
        <collectionReference>ReturnBom</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Questions</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>StoreTransId</name>
        <label>StoreTransId</label>
        <locationX>3342</locationX>
        <locationY>1514</locationY>
        <collectionReference>ReturnBom</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transaction_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BLN_CreateExceptionRecord</name>
        <label>Create Exception Record</label>
        <locationX>2690</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>BLN_ApexError_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_DamageAssessmentHasDamageBeenRepairedBefore</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>createDaRecords</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>BLN_CreateExceptionRecord0</name>
        <label>Create Exception Record</label>
        <locationX>1634</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>BLN_ApexError</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_DamageAssessmentHasDamageBeenRepairedBefore</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>CreateVehicleDamageRecord</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>BLN_CreateExceptionRecord1</name>
        <label>Create Exception Record</label>
        <locationX>842</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>BLN_ApexError_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_DamageAssessmentHasDamageBeenRepairedBefore</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>CreateVehicleDamageRecord_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDaRecords</name>
        <label>createDaRecords</label>
        <locationX>1634</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Show_Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BLN_CreateExceptionRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_AssessmentStatus__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_BOMID__c</field>
            <value>
                <elementReference>StoredBomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>CaseRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_GlassHoleType__c</field>
            <value>
                <elementReference>HoleType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_OutcomeType__c</field>
            <value>
                <elementReference>OutcomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Vehicle__c</field>
            <value>
                <elementReference>CaseRec.BLN_Vehicle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WorkType__c</field>
            <value>
                <elementReference>WorkTypeMapping</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_VehicleDamage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateVehicleDamageRecord</name>
        <label>Create VehicleDamage Record</label>
        <locationX>1370</locationX>
        <locationY>2162</locationY>
        <faultConnector>
            <targetReference>BLN_CreateExceptionRecord0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_AssessmentStatus__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>CaseRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_GlassHoleType__c</field>
            <value>
                <elementReference>HoleType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_NoOfChips__c</field>
            <value>
                <elementReference>NoOfChips</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_OutcomeType__c</field>
            <value>
                <elementReference>OutcomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ProductId__c</field>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Vehicle__c</field>
            <value>
                <elementReference>CaseRec.BLN_Vehicle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WorkType__c</field>
            <value>
                <elementReference>WorkTypeMapping</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_VehicleDamage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateVehicleDamageRecord_0</name>
        <label>Create VehicleDamage Record</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SchematicScreenfromRepair</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BLN_CreateExceptionRecord1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_AssessmentStatus__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_BOMID__c</field>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>CaseRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_GlassHoleType__c</field>
            <value>
                <elementReference>HoleType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_OutcomeType__c</field>
            <value>
                <elementReference>OutcomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Vehicle__c</field>
            <value>
                <elementReference>CaseRec.BLN_Vehicle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WorkType__c</field>
            <value>
                <elementReference>WorkTypeMapping</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_VehicleDamage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accepted_Order</name>
        <label>Get Accepted Order</label>
        <locationX>2030</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Accepted_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>2030</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accepted_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>Get Case RecordVOne</label>
        <locationX>4613</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseRec_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordIdInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DAQuestionError</name>
        <label>DAQuestionError</label>
        <locationX>3606</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DAError</name>
            <extensionName>c:bln_CreateDaError</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>returnBom</name>
                <value>
                    <elementReference>ReturnBom</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pidquestion</name>
        <label>PIdQuestion</label>
        <locationX>4750</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_exit_1</targetReference>
        </connector>
        <fields>
            <name>gpsPidQuestions</name>
            <extensionName>c:bln_DamageAsmtQuestionsScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Question</name>
                <value>
                    <elementReference>StoredQuestion</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseRecordIdInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>TransIdStored</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleHoleId</name>
                <value>
                    <elementReference>vehicleholeIdInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleHoleType</name>
                <value>
                    <elementReference>HoleType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>finishFlow</assignToReference>
                <name>finishFlow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Queationaries</name>
        <label>Queationaries</label>
        <locationX>4486</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>NumberOfChips</targetReference>
        </connector>
        <fields>
            <name>Queationaries_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>belronLogo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>BLN_AutoglassLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>40px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>transactionidInput</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_WePreferToRepairRatherReplace}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_HasTheDamageBeenRepaired}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Queationaries_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_NumberOfChips}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_MoreThanOneAreaOfDamage}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_3_1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_AreaOfDamage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_AreasOfDamages}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!numberOfDamages}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_4</name>
                    <choiceReferences>X2</choiceReferences>
                    <choiceReferences>X3</choiceReferences>
                    <choiceReferences>X4_More</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_3_2_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_DamageAreaSpreadV1}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_AreasOfDamageMoreThan10}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_6_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>X2</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Q_Choice_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>X3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_SizeOfDamage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_TotalBiggerDamage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!golfBall}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Q_Choice_6_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_5</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_MinimumSizeOfDamage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_DamageSmallerMatchStick}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!matchStick}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_5</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_6</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_WithinBlackBorder}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_FallWithinBlackBorder}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!damageWithBlackBorder}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_6</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_7</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_LocationDriver}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_LocationDriverQuestion}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!locationDriverSide}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_7</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_7_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_DriversSideImage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.BLN_SideDamageCracks}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!coinImage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_7_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_8_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_LocationHeadsUpDisplay}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_DisplayOnYourWindscreen}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!headsUpDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_8_0</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_7_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queationaries_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queationaries_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_8_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_Questions}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.BLN_LocationWithinHeadsUpDisplay}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_DamageFallWithinTheArea}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!headsUpDisplay}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queationaries_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q_Choice_8_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Dont_Know_Not_Sure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q_Choice_8_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RepairableScreen</name>
        <label>Repairable</label>
        <locationX>4662</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_to_check_is_additional_button_clicked</targetReference>
        </connector>
        <fields>
            <name>AutoGlassLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BLN_AutoglassLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>40px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>transactionidInput</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RepairableTag</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_RepairableText1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepairableText</name>
            <fieldText>&lt;p&gt;&lt;em&gt;{!$Label.BLN_RepairableScreenText}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepairableImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BLN_Repairable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>customfooter</name>
            <extensionName>c:bln_CustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Replacement</name>
        <label>Replacement</label>
        <locationX>3870</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RepairtoReplacement</targetReference>
        </connector>
        <fields>
            <name>damageBeenRepairedLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BLN_AutoglassLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>40px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>transactionidInput</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Replacment_Output_Screen</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_ReplacementOfWindScreen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>replacementOfWindScreen</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BLN_ReplacementWindScreen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SchematicScreenfromRepair</name>
        <label>Schematic Screen from Repair</label>
        <locationX>1696</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Holetype</targetReference>
        </connector>
        <fields>
            <name>repairReplacementsScreen</name>
            <extensionName>c:bln_DamageAssesmentSchematicScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseRecordIdInput</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>transactionidInput</assignToReference>
                <name>transactionId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vehicleholeIdInput</assignToReference>
                <name>vehicleHoleId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>holeTypeInput</assignToReference>
                <name>holetype</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Confirmation_Screen</name>
        <label>Show Confirmation Screen</label>
        <locationX>1634</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_to_check_is_additional_button_clicked</targetReference>
        </connector>
        <fields>
            <name>ShowText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.BLN_EndScreen}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessPageFooter</name>
            <extensionName>c:bln_NoRepairFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AdditonalGlassRequired</assignToReference>
                <name>IsAdditionalGlass</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>IsContinue</assignToReference>
                <name>IsContinue</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SmallToRepairable</name>
        <label>No Repairable</label>
        <locationX>4134</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_to_check_is_additional_button_clicked</targetReference>
        </connector>
        <fields>
            <name>SmallToRepair</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.BLN_DamageTooSmall}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Label.BLN_BasedOnThisInformation}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReapirlableImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BLN_ReplacementWindScreen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>100px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DamageTooSmallFooter</name>
            <extensionName>c:bln_CustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>4487</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Book_Appointment_Flow</name>
        <label>Book Appointment Flow</label>
        <locationX>2162</locationX>
        <locationY>2486</locationY>
        <flowName>BLN_QuotePresentation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Rebook_Flow</name>
        <label>Rebook Flow</label>
        <locationX>1898</locationX>
        <locationY>2486</locationY>
        <flowName>BLN_Rebook</flowName>
        <inputAssignments>
            <name>caseExternalIds</name>
            <value>
                <elementReference>Get_Case_Record.BLN_CPQQuoteIdCollection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsRebooking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AdditonalGlassRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bomIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coinImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_Coin&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>creditCardDamage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_CreditCardDamageArea&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>damageWithBlackBorder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_DamageInBlackBorder&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>finishFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>golfBall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_GolfBall&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>headsUpDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_HeadsUpDisplay&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>HoleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>holeTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAdditionalGlass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsContinue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will take input from Damage Assessment Flow</description>
        <name>IsWindScreenInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BLN_DamageAssessmentFlow.Iswindscreen</stringValue>
        </value>
    </variables>
    <variables>
        <name>locationDriverSide</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_LocationDriversSide&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>matchStick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_MatchStickMinimumSize&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <description>FOUK-5209</description>
        <name>NoOfChips</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfDamages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/BLN_NumberOfDamage&quot; width=&quot;150&quot; height=&quot;100&quot;/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>OutcomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pidQuestionInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>FOUK-5209</description>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestionVisited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultVisited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnBom</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnBomAdd</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTypeReplacement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoredBomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoredQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Bom API</description>
        <name>TranAndHoleId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transactionidInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionVisited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TransactionVisited2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TransIdStored</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleholeIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
