force-app/main/default/flows/BLN_BvtTaskCreationOnCaseUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Error</name>
        <label>Apex Error</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Call_Apex_Action</name>
        <label>Call Apex Action</label>
        <locationX>1238</locationX>
        <locationY>1139</locationY>
        <actionName>BLN_ProductAuthorisation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Bvt_Rec_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_ProductAuthorisation</nameSegment>
        <outputParameters>
            <assignToReference>automaticDiverttoAuthorisation</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Apex_Error</name>
        <label>Copy 1 of Apex Error</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_3_of_Apex_Error</name>
        <label>Copy 1 of Copy 3 of Apex Error</label>
        <locationX>2426</locationX>
        <locationY>1787</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Apex_Error</name>
        <label>Copy 2 of Apex Error</label>
        <locationX>1370</locationX>
        <locationY>2003</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Apex_Error</name>
        <label>Copy 3 of Apex Error</label>
        <locationX>1898</locationX>
        <locationY>2003</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>coporateSiteAssignment</name>
        <label>coporateSite Assignment</label>
        <locationX>1700</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCorporateRecords.BLN_CorporateSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_accountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_legalEntity_Assignment</name>
        <label>Copy 1 of legalEntity Assignment</label>
        <locationX>1964</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCorporateRecords.BLN_CorporateLegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_accountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Issurance_Site</name>
        <label>Issurance Site</label>
        <locationX>1700</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCorporateRecords.BLN_InsuranceSite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCorporateSite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>legalEntityAssignment</name>
        <label>legalEntity Assignment</label>
        <locationX>1964</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCorporateRecords.BLN_InsuranceLegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCorporateSite</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_accountId</name>
        <label>check accountId</label>
        <locationX>1964</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>accountId_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_Action</targetReference>
            </connector>
            <label>accountId not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AutomaticDiverttoAuthorisationTeam</name>
        <label>Check AutomaticDiverttoAuthorisationTeam</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Case_AR1_AR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Non_PDS_Cases_for_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>automaticDiverttoAuthorisation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-PDS Cases for Validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Records</targetReference>
            </connector>
            <label>if Non-PDS Cases for Validation</label>
        </rules>
        <rules>
            <name>if_All_Cases_for_Validation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>automaticDiverttoAuthorisation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Cases for Validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Task_Records</targetReference>
            </connector>
            <label>if All Cases for Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_task_already_created</name>
        <label>Check If task already created</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_Bvt_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_BVT_task</targetReference>
            </connector>
            <label>Not created</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCorporateSite</name>
        <label>Check CorporateSite</label>
        <locationX>1964</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>check_accountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>corporateSiteId_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_CorporateFleet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>coporateSiteAssignment</targetReference>
            </connector>
            <label>corporateSiteId is Not Null?</label>
        </rules>
        <rules>
            <name>corporateSite_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_CorporateFleet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_legalEntity_Assignment</targetReference>
            </connector>
            <label>corporateSite null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInsuranceSite</name>
        <label>Check InsuranceSite</label>
        <locationX>1964</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckCorporateSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>insuranceSiteId_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issurance_Site</targetReference>
            </connector>
            <label>insuranceSiteId is Not Null?</label>
        </rules>
        <rules>
            <name>insuranceSite_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCorporateRecords.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCorporateRecords.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLN_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>legalEntityAssignment</targetReference>
            </connector>
            <label>insuranceSite Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_task_already_created</name>
        <label>Copy 1 of Check If task already created</label>
        <locationX>1370</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Bvt_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Task_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_a_BVT_task</targetReference>
            </connector>
            <label>Copy 1 of Not created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>activityDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + VALUE({!$Label.BLN_BVTBufferTime})</expression>
    </formulas>
    <interviewLabel>Bvt Task Creation on Case Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bvt Task Creation on Case Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_3_of_Create_Exception_Record</name>
        <label>Copy 1 of Copy 3 of Create Exception Record</label>
        <locationX>2426</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Bvt Task Creation on Case Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_2_of_Update_Bvt_Task</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_a_BVT_task</name>
        <label>Copy 1 of Create a BVT task</label>
        <locationX>1106</locationX>
        <locationY>1787</locationY>
        <faultConnector>
            <targetReference>Copy_2_of_Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_IsAutomated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Subtype__c</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TaskSubjectType__c</field>
            <value>
                <elementReference>$Label.BLN_AssignedDirectSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Bvt_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Bvt_Rec_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Label.BLN_TaskStatusOpen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Label.BLN_BVTAuthorisationSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Exception_Record</name>
        <label>Copy 1 of Create Exception Record</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Copy_1_of_Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Bvt Task Creation on Case Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Bvt_Task</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Exception_Record</name>
        <label>Copy 2 of Create Exception Record</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Copy_2_of_Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Bvt Task Creation on Case Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_1_of_Create_a_BVT_task</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Exception_Record</name>
        <label>Copy 3 of Create Exception Record</label>
        <locationX>1898</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Copy_3_of_Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Bvt Task Creation on Case Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Copy_2_of_Update_Bvt_Task</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_BVT_task</name>
        <label>Create a BVT task</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_IsAutomated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Subtype__c</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TaskSubjectType__c</field>
            <value>
                <elementReference>$Label.BLN_AssignedDirectSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Bvt_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Bvt_Rec_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Label.BLN_TaskStatusOpen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Label.BLN_BVTAuthorisationSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Apex_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>Bvt Task Creation on Case Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Create_a_BVT_task</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Task_Records</name>
        <label>Copy 1 of Get Task Records</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_If_task_already_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTAuthorisationSubject</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bvt_Queue</name>
        <label>Get Bvt Queue</label>
        <locationX>1238</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AutomaticDiverttoAuthorisationTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTQueue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bvt_Rec_Type</name>
        <label>Get Bvt Rec Type</label>
        <locationX>1238</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bvt_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_task_already_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_BVTAuthorisationSubject</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCorporateRecords</name>
        <label>Get Corporate Records</label>
        <locationX>1964</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckInsuranceSite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLN_Corporate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Bvt_Task</name>
        <label>Copy 2 of Update Bvt Task</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <faultConnector>
            <targetReference>Copy_3_of_Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Task_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Subtype__c</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TaskSubjectType__c</field>
            <value>
                <elementReference>$Label.BLN_AssignedDirectSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Bvt_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bvt_Task</name>
        <label>Update Bvt Task</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Subtype__c</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TaskSubjectType__c</field>
            <value>
                <elementReference>$Label.BLN_AssignedDirectSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Bvt_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Label.BLN_BVTTaskType</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_AR1_AR2</name>
        <label>Update Case AR1 AR2</label>
        <locationX>2162</locationX>
        <locationY>1571</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_3_of_Create_Exception_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ARCheck1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1838</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCorporateRecords</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Permission.BLN_BypassFlows}),
ISCHANGED({!$Record.BLN_Corporate__c}),
ISPICKVAL({!$Record.BLN_BillingMethod__c}, &apos;Insurance / Account&apos;),
ISPICKVAL({!$Record.Type}, &apos;Job Request&apos;),
ISPICKVAL({!$Record.BLN_SubType__c}, &apos;Job Request&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>automaticDiverttoAuthorisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Insurance</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Time</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
