force-app/main/default/flows/BLN_DailyAutoClockOutScheduledProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>704</locationX>
        <locationY>1992</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>All_Auto_Clock_Out</name>
        <label>All Auto Clock Out</label>
        <locationX>704</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>AutoClockOutCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AutoClockOut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_related_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Auto_Clock_Out</name>
        <label>Create Auto Clock Out</label>
        <locationX>704</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>AutoClockOut.BLN_ShiftStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COUT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AutoClockOut.BLN_IsAutoClockedOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AutoClockOut.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AutoClockOut.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Timesheet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AutoClockOut.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_related_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Auto_Clock_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TimesheetIds_Collection</name>
        <label>TimesheetIds Collection</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TimesheetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllTimesheetLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllTimesheetLoop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Related_Entries</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Related Entries</label>
        <locationX>616</locationX>
        <locationY>876</locationY>
        <assignNextValueToReference>currentItem_Related_Entries</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Entries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Related_Entries.TimeSheetId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Timesheet.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sort_Entries</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Entries</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Entries</label>
        <locationX>616</locationX>
        <locationY>984</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Related_Entries</collectionReference>
        <connector>
            <targetReference>iterate_related_entries</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>StartTime</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_for_clock_out</name>
        <label>check for clock out</label>
        <locationX>836</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>iterate_related_entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clock_Out</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>iterate_related_entries.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iterate_related_entries.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CINA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Clock_Out</targetReference>
            </connector>
            <label>Clock Out</label>
        </rules>
    </decisions>
    <description>FOUK-1527 Technician Shift Clock out &amp; modified as part of FOUK-5557</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Daily Auto Clock-Out Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Auto Clock-Out Process</label>
    <loops>
        <name>AllTimesheetLoop</name>
        <label>All Timesheet Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>GetAllTimesheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TimesheetIds_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_related_entries</name>
        <label>iterate related entries</label>
        <locationX>616</locationX>
        <locationY>1092</locationY>
        <collectionReference>Related_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_clock_out</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Timesheet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Timesheet</name>
        <label>Iterate Timesheet</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>GetAllTimesheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Auto_Clock_Out</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Exception_logs</name>
        <label>Error Exception logs</label>
        <locationX>440</locationX>
        <locationY>1884</locationY>
        <faultConnector>
            <targetReference>Error_Handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_DailyAutoClockOutScheduledProcess</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Auto_Clock_Out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Entries</name>
        <label>Get All Entries</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>In</operator>
            <value>
                <elementReference>TimesheetIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllTimesheet</name>
        <label>Get All Timesheet</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllTimesheetLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Auto_Clock_Out</name>
        <label>Update Auto Clock Out</label>
        <locationX>176</locationX>
        <locationY>1776</locationY>
        <faultConnector>
            <targetReference>Error_Exception_logs</targetReference>
        </faultConnector>
        <inputReference>AutoClockOutCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllTimesheet</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-21</startDate>
            <startTime>23:59:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AutoClockOut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>AutoClockOutCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Related_Entries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimesheetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
