force-app/main/default/flows/BLN_ValidateServiceAddressFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Address</name>
        <label>Assign Billing Address</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputbillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_BillingCounty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputbillingCounty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_BillingPostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputbillingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputbillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_BillingTown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputbillingTown</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Billing_Adress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_Address</name>
        <label>Assign service Address</label>
        <locationX>1414</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputserviceStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServicePostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputservicePostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceTown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputserviceTown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputserviceCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceCounty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputserviceCounty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceGeolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceoutputlatitudeNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ServiceGeolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceoutputlongitudeNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ISPAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputServiceISPAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ISP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ispPickListFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatingSubtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_ISPAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputServiceISPAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ISPCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updating isp to job request</description>
        <name>ISP_Subtype_Reset</name>
        <label>ISP Subtype Reset</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_the_current_case_record.BLN_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>billing_Adress_flow_Decision</name>
        <label>billing Adress flow Decision</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_service_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>boolean_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callAderessFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Address</targetReference>
            </connector>
            <label>Boolean check</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Data_Collect</name>
        <label>check Data Collect</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Collect_From_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callDataCollectFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Collect_SubFlow</targetReference>
            </connector>
            <label>Data Collect From Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is used to check if get record is null or not</description>
        <name>Check_get_Current_CaseRecord</name>
        <label>Check get Current CaseRecord</label>
        <locationX>1667</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_current_case_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Update_Screen</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_Data_Collect</name>
        <label>Copy 1 of check Data Collect</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Data_Collect_From_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callDataCollectFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Data_Collect_SubFlow</targetReference>
            </connector>
            <label>Copy 1 of Data Collect From Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_isSaved</name>
        <label>Decision to check isSaved</label>
        <locationX>1084</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_check_Data_Collect</targetReference>
            </connector>
            <label>is Cancelled</label>
        </rules>
        <rules>
            <name>is_Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSave</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billing_Adress_flow_Decision</targetReference>
            </connector>
            <label>is Save</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is checking ISP checked or not</description>
        <name>ISPCheck</name>
        <label>ISPCheck</label>
        <locationX>1414</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>update_Case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISPReverese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outputServiceISPAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_current_case_record.BLN_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISP_Subtype_Reset</targetReference>
            </connector>
            <label>ISPReverese</label>
        </rules>
    </decisions>
    <description>FOUK-3004, 335, 360, 7199 This screen flow is used to update the service address on Case record page change under stroy 11617</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula is used to update the ISP picklist value based on the ISPAddress checkbox selection</description>
        <name>ispPickListFormula</name>
        <dataType>String</dataType>
        <expression>IF({!outputServiceISPAddress}, &apos;Y&apos;, &apos;N&apos;)</expression>
    </formulas>
    <formulas>
        <name>updatingSubtype</name>
        <dataType>String</dataType>
        <expression>IF({!outputServiceISPAddress}, &apos;ISP&apos;, TEXT({!Get_the_current_case_record.BLN_SubType__c}))</expression>
    </formulas>
    <interviewLabel>Validate Service Address Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_the_current_case_record</name>
        <label>Get the current case record</label>
        <locationX>1667</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_get_Current_CaseRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Flow_logger</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Billing_Adress</name>
        <label>Update Case Billing Adress</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>check_Data_Collect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_logger</targetReference>
        </faultConnector>
        <inputReference>Get_the_current_case_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Case_record</name>
        <label>update Case record</label>
        <locationX>1414</locationX>
        <locationY>1082</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Flow_logger</targetReference>
        </faultConnector>
        <inputReference>Get_the_current_case_record</inputReference>
    </recordUpdates>
    <screens>
        <name>Address_Update_Screen</name>
        <label>Address Update Screen</label>
        <locationX>1084</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_to_check_isSaved</targetReference>
        </connector>
        <fields>
            <name>LWCAddressCmp</name>
            <extensionName>c:bln_ValidateMelissaAddressCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceCountry</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceCountry__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceCounty</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceCounty__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceLatitudeNum</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceGeolocation__Latitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceLongitudeNum</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceGeolocation__Longitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>servicePostCode</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServicePostCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceStreet</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceStreet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTown</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ServiceTown__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ispAddress</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_ISPAddress__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callAderessFlow</name>
                <value>
                    <elementReference>callAderessFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pdsPostalCode</name>
                <value>
                    <elementReference>responsePostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseSubtype</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_SubType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>booleanVariableForFlow</name>
                <value>
                    <elementReference>booleanVariableForFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callDataCollectFlow</name>
                <value>
                    <elementReference>callDataCollectFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>unhappyAddressFlow</name>
                <value>
                    <elementReference>unhappyAddressFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCheckFlow</name>
                <value>
                    <elementReference>callAderessFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingCountry</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_BillingCountry__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingCounty</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_BillingCounty__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingPostCode</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_BillingPostCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingStreet</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_BillingStreet__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingTown</name>
                <value>
                    <elementReference>Get_the_current_case_record.BLN_BillingTown__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isCancel</assignToReference>
                <name>IsCancelled</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSave</assignToReference>
                <name>isSave</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputserviceCountry</assignToReference>
                <name>outputserviceCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputserviceCounty</assignToReference>
                <name>outputserviceCounty</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceoutputlatitudeNum</assignToReference>
                <name>outputserviceLatitudeNum</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceoutputlongitudeNum</assignToReference>
                <name>outputserviceLongitudeNum</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputservicePostCode</assignToReference>
                <name>outputservicePostCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputserviceStreet</assignToReference>
                <name>outputserviceStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputserviceTown</assignToReference>
                <name>outputserviceTown</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputServiceISPAddress</assignToReference>
                <name>outputserviceISPAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputbillingCountry</assignToReference>
                <name>outputbillingCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputbillingCounty</assignToReference>
                <name>outputbillingCounty</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputbillingStreet</assignToReference>
                <name>outputbillingStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputbillingTown</assignToReference>
                <name>outputbillingTown</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputbillingPostCode</assignToReference>
                <name>outputbillingPostCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>callAderessFlow</assignToReference>
                <name>isAddressType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1541</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_current_case_record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Copy_1_of_Data_Collect_SubFlow</name>
        <label>Copy 1 of Data Collect SubFlow</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>BLN_CaptureDataCollect</flowName>
        <inputAssignments>
            <name>booleanVariableForFlow</name>
            <value>
                <elementReference>callDataCollectFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_1_of_Flow_logger</name>
        <label>Copy 1 of Flow logger</label>
        <locationX>1722</locationX>
        <locationY>1190</locationY>
        <flowName>BLN_ExceptionLoggerFlow</flowName>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <stringValue>{!user.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EntityName</name>
            <value>
                <stringValue>Update Service Address  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogType</name>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodStep</name>
            <value>
                <elementReference>update_Case_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordIdIdentifier</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Data_Collect_SubFlow</name>
        <label>Data Collect SubFlow</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <flowName>BLN_CaptureDataCollect</flowName>
        <inputAssignments>
            <name>booleanVariableForFlow</name>
            <value>
                <elementReference>callDataCollectFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Flow_logger</name>
        <label>Flow logger</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <flowName>BLN_ExceptionLoggerFlow</flowName>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <stringValue>{!user.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EntityName</name>
            <value>
                <stringValue>Update Service Address  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogType</name>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MethodStep</name>
            <value>
                <elementReference>Update_Case_Billing_Adress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordIdIdentifier</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>booleanVariableForFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callAderessFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>callDataCollectFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSave</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputbillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputbillingCounty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputbillingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputbillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputbillingTown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputserviceCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputserviceCounty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputServiceISPAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store Service Postcode entered in LWC</description>
        <name>outputservicePostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputserviceStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputserviceTown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store case record id</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>responsePostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceoutputlatitudeNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>serviceoutputlongitudeNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <description>Used to pass value as True</description>
        <name>True</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.BLN_True</elementReference>
        </value>
    </variables>
    <variables>
        <name>unhappyAddressFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
