force-app/main/default/flows/BLN_PolicyExpiredNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>primaryEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Org_Id.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email2</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>primaryEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Org_Id.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email3</name>
        <label>Send Email</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>primaryEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Org_Id.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Active_Date</name>
        <label>Check Active Date</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_4Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_ActiveTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>week4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Before 4Week</label>
        </rules>
        <rules>
            <name>Before_2Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_ActiveTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>week2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email2</targetReference>
            </connector>
            <label>Before 2Week</label>
        </rules>
        <rules>
            <name>Before_1Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_ActiveTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>week1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email3</targetReference>
            </connector>
            <label>Before 1Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact</name>
        <label>Check Primary Contact</label>
        <locationX>776</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Active_Date</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SplitBill_RecordType</name>
        <label>Check SplitBill RecordType</label>
        <locationX>1073</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_SplitBill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FOUK - 6460</description>
    <environments>Default</environments>
    <formulas>
        <name>primaryEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Primary_Contact.Email}</expression>
    </formulas>
    <formulas>
        <name>week1</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <name>week2</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <name>week4</name>
        <dataType>Date</dataType>
        <expression>TODAY()+28</expression>
    </formulas>
    <interviewLabel>Policy Expired Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Expired Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>776</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_Id</name>
        <label>Org Id</label>
        <locationX>776</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.BLN_AutomatedCommsOrgWideEmailName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SplitBill_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BLN_AccountRuleParameter__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-27</startDate>
            <startTime>00:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Primary_Contact.Name},&lt;/p&gt;&lt;br&gt;&lt;p&gt;Our records show that the current Motor Insurance Policy details that are attached to your Account –{!$Record.BLN_Account__r.Name}, are due to expire on {!$Record.BLN_ActiveTo__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To allow us to continue splitting the cost of your vehicle glass repair, replacement and recalibration work between your insurance company and your own direct account, can you please send your up-to-date Motor Insurance details to ca.onlineapplications@belronuk.com.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The details we require are:&lt;/p&gt;&lt;p&gt;Insurance Company Name&lt;/p&gt;&lt;p&gt;Policy No.&lt;/p&gt;&lt;p&gt;Glass Replacement Excess&lt;/p&gt;&lt;p&gt;Glass Repair Excess&lt;/p&gt;&lt;p&gt;Recalibration Excess (if applicable)&lt;/p&gt;&lt;p&gt;Any Limits that apply to your Glass Policy&lt;/p&gt;&lt;p&gt;Expiry Date&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unfortunately, if we do not receive your updated details before your current policy expiry date, any future jobs will automatically be charged in full to your account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you no longer wish to split the cost with your insurance company please get in touch with us via https://www.autoglassbusiness.co.uk/contact-us, to discuss a direct billing relationship and any possible discounts that can be applied to your Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note – if we do not have a billing relationship with your new insurer, we will get in contact with you to discuss the options.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Autoglass® Sales Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Autoglass® - Updated Insurance Details required&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Autoglass® - Updated Insurance Details required</stringValue>
        </value>
    </variables>
</Flow>
