force-app/main/default/flows/BLN_CheckDuplicateProductsByVehicleHole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>isDuplicateFound</name>
        <label>isDuplicateFound</label>
        <locationX>336</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>isDuplicateFoundVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Through_All_Product_Consumed_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_To_Create_Task_Or_Not</name>
        <label>Check To Create Task Or Not</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Don_Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos; Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_If_Duplicate_Product_Found</name>
        <label>Checking If Duplicate Product Found</label>
        <locationX>248</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDuplicateFoundVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Record</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_If_Product_Consumed_On_Same_Product_Or_Not</name>
        <label>Checking If Product Consumed On Same Product Or Not</label>
        <locationX>468</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Looping_Through_All_Product_Consumed_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Product_Consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Through_All_Product_Consumed_Records.ProductItem.Product2.LAD_Vehicle_Hole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ProductItem.Product2.LAD_Vehicle_Hole__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductItem.Product2.LAD_Vehicle_Hole__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isDuplicateFound</targetReference>
            </connector>
            <label>Same Product Consumed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Associate_Service_Appointment</name>
        <label>Null Check For Get Associate Service Appointment</label>
        <locationX>982</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Associate_Service_Appointment_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Based_On_Region</targetReference>
            </connector>
            <label>Get Associate Service Appointment Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Product_Consumed_Records</name>
        <label>Null Check For Get Product Consumed Records</label>
        <locationX>479</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Product_Consumed_Records_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Consumed_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Through_All_Product_Consumed_Records</targetReference>
            </connector>
            <label>Get Product Consumed Records Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Queue_Based_On_Region</name>
        <label>Null Check For Get Queue Based On Region</label>
        <locationX>726</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Queue_Based_On_Region_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Based_On_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Consumed_Records</targetReference>
            </connector>
            <label>Get Queue Based On Region Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Work_Order_Record</name>
        <label>Null Check For Get Work Order Record</label>
        <locationX>1242</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Work_Order_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Service_Appointment</targetReference>
            </connector>
            <label>Get Work Order Record Null Check</label>
        </rules>
    </decisions>
    <description>Created as a part of FOUK-5032, This flow is used to create task if any product is consumed more than once.</description>
    <environments>Default</environments>
    <interviewLabel>Check Duplicate Products By Vehicle Hole {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Duplicate Products By Vehicle Hole</label>
    <loops>
        <name>Looping_Through_All_Product_Consumed_Records</name>
        <label>Looping Through All Product Consumed Records</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_Product_Consumed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_If_Product_Consumed_On_Same_Product_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_If_Duplicate_Product_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>$Record.WorkOrder.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ServiceTerritory__c</field>
            <value>
                <elementReference>Get_Associated_Service_Appointment.ServiceTerritory.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Duplicate Products are found with respect to Vehicle Hole, please check.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Based_On_Region.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Duplicate Products Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WorkOrder.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Service_Appointment</name>
        <label>Get Associated Service Appointment</label>
        <locationX>982</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Associate_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_WorkOrderNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Consumed_Records</name>
        <label>Get Product Consumed Records</label>
        <locationX>479</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Product_Consumed_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Based_On_Region</name>
        <label>Get Queue Based On Region</label>
        <locationX>726</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Queue_Based_On_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Service_Appointment.BLN_Reigion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_To_Create_Task_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Record.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Products Found</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>1242</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1116</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
        <object>ProductConsumed</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isDuplicateFoundVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
