force-app/main/default/flows/BLN_CaseLastAssignedQueueCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Any_other_queue_false</name>
        <label>Any other queue false</label>
        <locationX>2074</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_NoStockToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromNoStockTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_cases_to_Owner_Group</name>
        <label>Assign cases to Owner Group</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_LastAssignedQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_prior_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_provisional_to_other_queues_false</name>
        <label>assign provisional to other queues false</label>
        <locationX>2338</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToRecovery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Digital_to_Any_Other_Queue</name>
        <label>Check Digital to Any Other Queue</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_cases_from_Digital_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Digital_to_Any_Other_Queues</name>
        <label>Check Digital to Any Other Queue</label>
        <locationX>2030</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToRecovery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToNoStock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Owner_Is_Provisional</name>
        <label>Copy 1 of Owner Is Provisional</label>
        <locationX>3086</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FLTR_to_any_other_queue_false</name>
        <label>FLTR to any other queue false</label>
        <locationX>1810</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_FLTRToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromFLTRTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_FLTR_to_other_queue_true</name>
        <label>Mark FLTR to other queue true</label>
        <locationX>1546</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_FLTRToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromFLTRTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_FLTR_to_other_queue_true_Current</name>
        <label>Mark FLTR to other queue true Current</label>
        <locationX>2294</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_FLTRToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromFLTRTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Mark_Provisional_to_any_other_queue_true</name>
        <label>Mark Provisional to any other queue true</label>
        <locationX>3130</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Stock_to_any_other_queue</name>
        <label>No Stock to any other queue</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromNoStockTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currenttime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_NoStockToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Stock_to_any_other_queue_Current</name>
        <label>No Stock to any other queue Current</label>
        <locationX>2558</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_NoStockToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_MovedFromNoStockTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Provisional_To_Quality</name>
        <label>Provisional To Quality</label>
        <locationX>2602</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recoverytoQuality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Provisional_To_Recovery</name>
        <label>Provisional To Recovery</label>
        <locationX>3394</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToRecovery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Provisional_to_Specials</name>
        <label>Provisional to Specials</label>
        <locationX>2866</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recoverytother</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Provisional_To_Warranty</name>
        <label>Provisional To Warranty</label>
        <locationX>3130</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_ProvisionalToWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recoverytootherqieue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qualitys</name>
        <label>Qualitys</label>
        <locationX>3350</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recovery_Queue</name>
        <label>Recovery Queue</label>
        <locationX>4802</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recovery_To_any_other_queue</name>
        <label>Recovery To any other queue</label>
        <locationX>2822</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recovery_To_Quality</name>
        <label>Recovery To Quality</label>
        <locationX>3834</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recovery_To_Specials</name>
        <label>Recovery To Specials</label>
        <locationX>4098</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecoveryOwner</name>
        <label>Recovery Owner</label>
        <locationX>4230</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OwnerGroupProvisional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecoveryToanyotherQueue</name>
        <label>RecoveryToanyotherQueue</label>
        <locationX>5066</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recoverytootherqieue</name>
        <label>recoverytootherqieue</label>
        <locationX>3130</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecoverytoProvisional</name>
        <label>RecoverytoProvisional</label>
        <locationX>4362</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToSpecials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recoverytoQuality</name>
        <label>recoverytoQuality</label>
        <locationX>2602</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recoverytoSpecial</name>
        <label>recoverytoSpecial</label>
        <locationX>3614</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recoverytother</name>
        <label>Recoverytother</label>
        <locationX>2866</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Digital_to_NoStock</name>
        <label>Update the Digital to  NoStock</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToNoStock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Digital_to_Provisional</name>
        <label>Update the Digital to Provisional</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToProvisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Digital_to_Quality</name>
        <label>Update the Digital to Quality</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Digital_to_Recovery</name>
        <label>Update the Digital to Recovery</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.BLN_DigitalToRecovery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BLN_RecoveryToAnyOtherQueue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Current_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_Owner</name>
        <label>Check Current Owner</label>
        <locationX>3130</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_the_Current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>owner_is_quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisional_To_Quality</targetReference>
            </connector>
            <label>owner is quality</label>
        </rules>
        <rules>
            <name>Owner_is_Special</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisional_to_Specials</targetReference>
            </connector>
            <label>Owner is Special</label>
        </rules>
        <rules>
            <name>Owner_is_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisional_To_Warranty</targetReference>
            </connector>
            <label>Owner is Warranty</label>
        </rules>
        <rules>
            <name>Owner_is_Recovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisional_To_Recovery</targetReference>
            </connector>
            <label>Owner is Recovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OwnerId</name>
        <label>Check OwnerId</label>
        <locationX>4230</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_starts_with_00G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_cases_to_Owner_Group</targetReference>
            </connector>
            <label>Is starts with 00G</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Current_record</name>
        <label>Check the Current record</label>
        <locationX>2954</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Current_Digital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Digital_to_Any_Other_Queues</targetReference>
            </connector>
            <label>Is Current Digital</label>
        </rules>
        <rules>
            <name>Is_Current_FLTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FLTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_FLTR_to_other_queue_true_Current</targetReference>
            </connector>
            <label>Is Current FLTR</label>
        </rules>
        <rules>
            <name>Is_Current_No_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Stock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Stock_to_any_other_queue_Current</targetReference>
            </connector>
            <label>Is Current No Stock</label>
        </rules>
        <rules>
            <name>Is_Current_Recovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recovery_To_any_other_queue</targetReference>
            </connector>
            <label>Is Current Recovery</label>
        </rules>
        <rules>
            <name>Is_Current_is_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Owner_Is_Provisional</targetReference>
            </connector>
            <label>Is Current is Provisional</label>
        </rules>
        <rules>
            <name>current_is_quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualitys</targetReference>
            </connector>
            <label>current is quality</label>
        </rules>
        <rules>
            <name>last_Assign_Special</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>specials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recoverytoSpecial</targetReference>
            </connector>
            <label>last Assign Special</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_prior_record</name>
        <label>Check the prior record</label>
        <locationX>2954</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_the_Current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Digital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Digital_to_Any_Other_Queue</targetReference>
            </connector>
            <label>Is Digital</label>
        </rules>
        <rules>
            <name>Is_No_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Stock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Stock_to_any_other_queue</targetReference>
            </connector>
            <label>Is No Stock</label>
        </rules>
        <rules>
            <name>If_last_Assigned_queue_was_FLTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FLTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_FLTR_to_other_queue_true</targetReference>
            </connector>
            <label>If last Assigned queue was FLTR</label>
        </rules>
        <rules>
            <name>Current_owner_is_FLTR_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FLTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FLTR_to_any_other_queue_false</targetReference>
            </connector>
            <label>Current owner is FLTR Queue</label>
        </rules>
        <rules>
            <name>Current_Owner_is_no_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Stock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_other_queue_false</targetReference>
            </connector>
            <label>Current Owner is no Stock</label>
        </rules>
        <rules>
            <name>Current_Owner_is_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_provisional_to_other_queues_false</targetReference>
            </connector>
            <label>Current Owner is Provisional</label>
        </rules>
        <rules>
            <name>Prior_Value_is_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Provisional_to_any_other_queue_true</targetReference>
            </connector>
            <label>Prior Value is Provisional</label>
        </rules>
        <rules>
            <name>CurrentOwnerisRecovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BLN_LastAssignedQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecoveryOwner</targetReference>
            </connector>
            <label>Current Owner is Recovery</label>
        </rules>
        <rules>
            <name>Current_owner_Recovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recovery_Queue</targetReference>
            </connector>
            <label>Current owner Recovery</label>
        </rules>
        <rules>
            <name>OwnerISNotRecovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_RecoveryToAnyOtherQueue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecoveryToanyotherQueue</targetReference>
            </connector>
            <label>Owner IS Not Recovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerGroupProvisional</name>
        <label>Owner Group Provisional</label>
        <locationX>4230</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_the_Current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerisQuality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recovery_To_Quality</targetReference>
            </connector>
            <label>Owner is Quality</label>
        </rules>
        <rules>
            <name>Owners_is_Special</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recovery_To_Specials</targetReference>
            </connector>
            <label>Owner is Special</label>
        </rules>
        <rules>
            <name>Owner_is_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecoverytoProvisional</targetReference>
            </connector>
            <label>Owner is Provisional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_the_cases_from_Digital_to</name>
        <label>Update the cases from Digital to</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_the_Current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Digital_to_Provisional</targetReference>
            </connector>
            <label>Provisional</label>
        </rules>
        <rules>
            <name>Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Digital_to_Quality</targetReference>
            </connector>
            <label>Quality</label>
        </rules>
        <rules>
            <name>Recovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_RecoveryTeamQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Digital_to_Recovery</targetReference>
            </connector>
            <label>Recovery</label>
        </rules>
        <rules>
            <name>No_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_NoStock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Digital_to_NoStock</targetReference>
            </connector>
            <label>No Stock</label>
        </rules>
    </decisions>
    <description>FOUK:6896 - This flow is created to update the cases moved from Digital Queue</description>
    <environments>Default</environments>
    <formulas>
        <name>Currenttime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Moved from Digital Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>4104</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_OwnerId</targetReference>
        </connector>
        <filterFormula>AND(
          NOT {!$Permission.BLN_BypassFlows},
          OR ( ISNEW(), 
                  ISCHANGED({!$Record.OwnerId}))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
