force-app/main/default/flows/BLN_UpdateWOLIDescriptionForCapturedResinDateTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Current_Date_Time_Of_User</name>
        <label>Get Current Date Time Of User</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>BLN_CurrentDateTimeOfUserAccToLocalTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_CurrentDateTimeOfUserAccToLocalTime</nameSegment>
        <outputParameters>
            <assignToReference>currentDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_BLN_FlowExceptionLogger_Action</name>
        <label>Invoke BLN_FlowExceptionLogger Action</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assigning_Date_Time_To_Description</name>
        <label>Assigning Date Time To Description</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>updatedDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modifiedDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_Check_For_Get_WOLI</name>
        <label>Null Check For Get WOLI</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Date_Time_To_Description</targetReference>
            </connector>
            <label>Get WOLI Null Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>modifiedDescription</name>
        <dataType>String</dataType>
        <expression>LEFT(
    {!existingDescription}, 
    FIND(&quot;Date Time of captured details :-&quot;, {!existingDescription}) + LEN(&quot;Date Time of captured details :-&quot;)
) + {!currentDateTime}+ 
MID(
    {!existingDescription}, 
    FIND(&quot;Date Time of captured details :-&quot;, {!existingDescription}) + LEN(&quot;Date Time of captured details :-&quot;) + 1, 
    LEN({!existingDescription}) - FIND(&quot;Date Time of captured details :-&quot;, {!existingDescription}) - LEN(&quot;Date Time of captured details :-&quot;)
)</expression>
    </formulas>
    <interviewLabel>Update WOLI Description For Captured Resin Date Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update WOLI Description For Captured Resin Date Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Invoke_BLN_FlowExceptionLogger_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateWOLIDescriptionForCapturedResinDateTime</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_FlowExceptionError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>woliId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>existingDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>updatedDescription</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Date_Time_Of_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woliId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
