force-app/main/default/flows/BLN_CheckMandatoryAPR_Case_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_answers</name>
        <label>get answers</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <actionName>BLN_DataCollectAnswers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>answerblank</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIdList</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BLN_DataCollectAnswers</nameSegment>
        <outputParameters>
            <assignToReference>checkanswerblank</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Error_for_Case_closure</name>
        <label>Error for Case closure</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.BLN_ClosureCaseMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>test</name>
        <label>test</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.BLN_CaseClosureARPMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>answerblank</name>
        <label>answerblank</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>answerblank1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkanswerblank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test</targetReference>
            </connector>
            <label>answerblank1</label>
        </rules>
        <rules>
            <name>Check_answers_are_present_on_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_answers_record_from_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_data_collect</targetReference>
            </connector>
            <label>Check answers are present on case</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_ARP_present</name>
        <label>check ARP present</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_ARP_present1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_AR_for_fleet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_AR_for_insurance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_for_Case_closure</targetReference>
            </connector>
            <label>check ARP present1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_coporate_is_present</name>
        <label>check  coporate is present</label>
        <locationX>798</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_coporate_is_present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_corporate_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_corporate_record_type</targetReference>
            </connector>
            <label>check  coporate is present1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_corporate_record_type</name>
        <label>check corporate record type</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>check_ARP_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_corporate_record_type_insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_corporate_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AR_for_insurance</targetReference>
            </connector>
            <label>check corporate record type insurance</label>
        </rules>
        <rules>
            <name>check_corporate_record_type_fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_corporate_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_CorporateFleet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AR_for_fleet</targetReference>
            </connector>
            <label>check corporate record type fleet</label>
        </rules>
    </decisions>
    <description>FOUK-5016 This is used to check mandatory answers are filled on associated account&apos;s ARP</description>
    <environments>Default</environments>
    <formulas>
        <name>todaysdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Check MandatoryAPR for case closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Mandatory APR for case closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_answers_record_from_case</name>
        <label>get answers record from case</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_DataCollectAnswer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AR_for_fleet</name>
        <label>get AR for fleet</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_ARP_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_corporate_record.BLN_CorporateSite__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_data_collect.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Mandatory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mandatory for Case Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AR_for_insurance</name>
        <label>get AR for insurance</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_ARP_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_corporate_record.BLN_InsuranceSite__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_data_collect.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Mandatory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mandatory for Case Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_corporate_record</name>
        <label>get corporate record</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_coporate_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLN_Corporate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_data_collect</name>
        <label>get data collect</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_corporate_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_DataCollect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_answers_record_from_case</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed-Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed-Completed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>checkanswerblank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>checkboolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
