force-app/main/default/flows/BLN_RunCreditCheckForAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_CreditSafe_Apex</name>
        <label>Call CreditSafe Apex</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>BLN_CheckCreditSafeController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_CreditSafe_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>getAccountRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_CheckCreditSafeController</nameSegment>
        <outputParameters>
            <assignToReference>creditSafeStatus</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_CompanyRegistrationNumber</name>
        <label>Check CompanyRegistrationNumber</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Call_CreditSafe_Apex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.BLN_CompanyRegistrationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandatory_CompanyRegistrationNumber</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CreditSafe_Response</name>
        <label>Check CreditSafe Response</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_CreditSafe_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Successful Response</defaultConnectorLabel>
        <rules>
            <name>Failed_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditSafeStatusNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account4</targetReference>
            </connector>
            <label>Failed Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CreditSafe_Status</name>
        <label>Check CreditSafe Status</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Account3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Several</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditSafeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>OK</label>
        </rules>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditSafeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account2</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <description>FOUK - 602 This Screen flow is to check the credit score for account.</description>
    <environments>Default</environments>
    <formulas>
        <name>creditSafeStatusNull</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!creditSafeStatus})</expression>
    </formulas>
    <interviewLabel>Run Credit Check For Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Credit Check For Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_Record8</name>
        <label>Create Exception Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>UpdateCreditCheck4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records</name>
        <label>Create Exception Records</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records2</name>
        <label>Create Exception Records</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Account2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records3</name>
        <label>Create Exception Records</label>
        <locationX>3218</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_CreditCheck3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records4</name>
        <label>Create Exception Records</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_CreditCheck2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records5</name>
        <label>Create Exception Records</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_CreditCheck3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records6</name>
        <label>Create Exception Records</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_CreditCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records7</name>
        <label>Create Exception Records</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_RunCreditCheckForAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Account4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CompanyRegistrationNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_CompanyRegistrationNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_CreditCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringCheckStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringErrorMessage__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_CreditCheck2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringCheckStatus__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringErrorMessage__c</field>
            <value>
                <elementReference>$Label.BLN_CreditCheckZeroMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringLastCreditCheckDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account3</name>
        <label>Update Account</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_CreditCheck3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringCheckStatus__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringErrorMessage__c</field>
            <value>
                <elementReference>$Label.BLN_CreditCheckSeveralMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringLastCreditCheckDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account4</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>UpdateCreditCheck4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records7</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringCheckStatus__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringErrorMessage__c</field>
            <value>
                <elementReference>$Label.BLN_CreditCheckFailedMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CreditScoringLastCreditCheckDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CreditCheck</name>
        <label>Update CreditCheck</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Record_Matched</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CreditCheck2</name>
        <label>Update CreditCheck</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>No_Record_Matched</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CreditCheck3</name>
        <label>Update CreditCheck</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Too_Many_Records_Matched</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Records5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCreditCheck4</name>
        <label>Update CreditCheck</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Failed_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Record8</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_CreditCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Failed_Screen</name>
        <label>Failed Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreditCheckFailedMessage</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_CreditCheckFailedMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mandatory_CompanyRegistrationNumber</name>
        <label>Mandatory CompanyRegistrationNumber</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompanyRegistrationNumberErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_CompanyRegistrationNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Record_Matched</name>
        <label>No Record Matched</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ZeroMessage</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_CreditCheckZeroMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Matched</name>
        <label>Record Matched</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OkMessage</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_CreditCheckOKMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Records_Matched</name>
        <label>Too Many Records Matched</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SeveralMeassge</name>
            <fieldText>&lt;p&gt;{!$Label.BLN_CreditCheckSeveralMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>creditSafeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
