force-app/main/default/flows/BLN_PDSSearch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>IS_Close_Flow</name>
        <label>IS Close Flow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFinish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pdsSearchLWC.finishFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isFinish</label>
        </rules>
    </decisions>
    <description>FOUK: 6513 PDS - Initiating an Insurance/Corporate API Request (Happy Path)</description>
    <environments>Default</environments>
    <interviewLabel>PDS Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Corporate/Insurance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>PDS_Search</name>
        <label>PDS Search</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IS_Close_Flow</targetReference>
        </connector>
        <fields>
            <name>PDS_Search_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PDS_Search_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pdsSearchLWC</name>
                    <extensionName>c:bln_PDSSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>personaccountID</name>
                        <value>
                            <elementReference>personaccountID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRow</name>
                        <value>
                            <elementReference>selectedRow</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>callMotoristFlow1</name>
                        <value>
                            <elementReference>callMotoristFlow1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>corporateObj</name>
                        <value>
                            <elementReference>corporateObj</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PDS_Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callMotoristFlow1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>corporateObj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>personaccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>selectedRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
