force-app/main/default/flows/BLN_UpdateSplitReplacementAppointmentViaRecalibrationAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Exception</name>
        <label>Flow Exception</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Appointment_Depend_Found</name>
        <label>Check Appointment Depend Found</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Dependency_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Appointment_Dependency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Appointment_Dependency.FSL__Service_Appointment_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Replacement_Appointment</targetReference>
            </connector>
            <label>Appointment Dependency Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_type_and_Status_of_related_SA</name>
        <label>Check Work type and Status of related SA</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Replacement_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Replacement_Appointment.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Replacement_Appointment</targetReference>
            </connector>
            <label>SA found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Split Replacement Appointment Via Recalibration Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Split Replacement Appointment Via Recalibration Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception</name>
        <label>Create Exception</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Flow_Exception</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateSplitReplacementAppointmentViaRecalibrationAppointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Replacement_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Appointment_Dependency</name>
        <label>get Appointment Dependency</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Depend_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Service_Appointment_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Replacement_Appointment</name>
        <label>get Replacement Appointment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_type_and_Status_of_related_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Appointment_Dependency.FSL__Service_Appointment_2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_SubStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Customer Handover</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Replacement_Appointment</name>
        <label>Update Replacement Appointment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Create_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Replacement_Appointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SubStatus__c</field>
            <value>
                <stringValue>Customer Handover Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Appointment_Dependency</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.BLN_SubStatus__c}) &amp;&amp;
{!$Record.WorkType.Name}= &apos;Recalibration&apos; &amp;&amp;
ISPICKVAL({!$Record.Status}, &apos;Completed&apos;) &amp;&amp;
ISPICKVAL({!$Record.BLN_SubStatus__c}, &apos;Customer Handover Completed&apos;)</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
