force-app/main/default/flows/BLN_ResupplyVanVAPSInventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_counter</name>
        <label>Add to counter</label>
        <locationX>1106</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_total_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Loop_Count</name>
        <label>Sub Loop Count</label>
        <locationX>1018</locationX>
        <locationY>2432</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_If_Product_List_null</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_Correct</name>
        <choiceText>Part Correct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_Incorrect</name>
        <choiceText>Part Incorrect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Checkin_Checkout</name>
        <label>Check Checkin Checkout</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VAPS_Checkin_list</targetReference>
            </connector>
            <label>Checkin</label>
        </rules>
        <rules>
            <name>Checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VAPS_Checkout_list</targetReference>
            </connector>
            <label>Checkout</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Product_List_null</name>
        <label>Check If Product List null</label>
        <locationX>1018</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Checkin_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Checkin_Select</targetReference>
            </connector>
            <label>Checkin</label>
        </rules>
        <rules>
            <name>Checkout_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkout_Select</targetReference>
            </connector>
            <label>Checkout</label>
        </rules>
        <rules>
            <name>No_More_Checkin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_More_Checkin_Screen</targetReference>
            </connector>
            <label>No More Checkin</label>
        </rules>
        <rules>
            <name>No_More_Checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckinCheckout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_More_Checkout_Screen</targetReference>
            </connector>
            <label>No More Checkout</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkin_Part_Correct</name>
        <label>Checkin Part Correct</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Product_Checkin_Select</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Checkin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkin_Screen</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkin_WMS</name>
        <label>Checkin WMS</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Checkin_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WMS_Tracked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedProductRecord.BLN_WMSTracked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scan_Barcode</targetReference>
            </connector>
            <label>WMS Tracked</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkinConfirm_decision</name>
        <label>Checkin Confirm</label>
        <locationX>226</locationX>
        <locationY>1832</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Product_Checkin_Select</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_checkin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkinConfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Transfer_checkin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkout_Confirm</name>
        <label>Checkout Confirm</label>
        <locationX>886</locationX>
        <locationY>1832</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Checkout_Select</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkoutConfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkout_Part_Correct</name>
        <label>Checkout Part Correct</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Checkout_Select</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_CO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer_Checkout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkout_screen</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkout_WMS</name>
        <label>Checkout WMS</label>
        <locationX>886</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Checkout_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WMS_Tracked_Checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedProductRecord.BLN_WMSTracked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scan_Barcode_Checkout</targetReference>
            </connector>
            <label>WMS Tracked</label>
        </rules>
    </decisions>
    <description>FOUK-4138</description>
    <dynamicChoiceSets>
        <name>CheckinChoiceSet</name>
        <dataType>String</dataType>
        <displayField>BLN_Title__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ResupplyQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <object>ProductItem</object>
        <sortField>BLN_Title__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CheckoutChoiceSet</name>
        <dataType>String</dataType>
        <displayField>BLN_Title__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ResupplyQuantity__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <object>ProductItem</object>
        <sortField>BLN_Title__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AbsResupplyQuantity</name>
        <dataType>Number</dataType>
        <expression>ABS({!selectedProductRecord.BLN_ResupplyQuantity__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuantityAfterTransfer</name>
        <dataType>Number</dataType>
        <expression>{!selectedProductRecord.QuantityOnHand} - {!selectedProductRecord.BLN_ResupplyQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ResupplyVanVAPSInventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resupply Van VAPS Inventory</label>
    <loops>
        <name>Count_total_products</name>
        <label>Count total products</label>
        <locationX>1018</locationX>
        <locationY>542</locationY>
        <assignNextValueToReference>LoopProduct</assignNextValueToReference>
        <collectionReference>VAPSProductRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Product_List_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>754</locationX>
        <locationY>1940</locationY>
        <connector>
            <targetReference>Update_Product_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>selectedProductRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>AbsResupplyQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>AbsResupplyQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer_checkin</name>
        <label>Create Product Transfer</label>
        <locationX>94</locationX>
        <locationY>1940</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Product_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>selectedProductRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>AbsResupplyQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>AbsResupplyQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordLookups>
        <name>get_selected_product</name>
        <label>get selected product</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkin_WMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAPS_to_Checkin</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>selectedProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ResupplyQuantity__c</queriedFields>
        <queriedFields>BLN_ProductCode__c</queriedFields>
        <queriedFields>ProductItemNumber</queriedFields>
        <queriedFields>ProductName</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>BLN_WMSTracked__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_selected_product2</name>
        <label>get selected product</label>
        <locationX>886</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkout_WMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAPS_to_Checkout</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>selectedProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ResupplyQuantity__c</queriedFields>
        <queriedFields>BLN_ProductCode__c</queriedFields>
        <queriedFields>ProductItemNumber</queriedFields>
        <queriedFields>ProductName</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>BLN_WMSTracked__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get Service Resource</label>
        <locationX>1018</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Checkin_Checkout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResourceId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VAPS_Checkin_list</name>
        <label>Get VAPS Checkin list</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_total_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ResupplyQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>VAPSProductRecordList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VAPS_Checkout_list</name>
        <label>Get VAPS Checkout list</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_total_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ResupplyQuantity__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>29</stringValue>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>VAPSProductRecordList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Product_Item</name>
        <label>Copy 1 of Update Product Item</label>
        <locationX>94</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>PartCheckedin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProductRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <elementReference>QuantityAfterTransfer</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Item</name>
        <label>Update Product Item</label>
        <locationX>754</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Checkout_Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProductRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <elementReference>QuantityAfterTransfer</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <screens>
        <name>Checkin_Screen</name>
        <label>Checkin Screen</label>
        <locationX>226</locationX>
        <locationY>1724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkinConfirm_decision</targetReference>
        </connector>
        <fields>
            <name>CheckinText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 18px;&quot;&gt;Confirmed that part is returned?﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkinConfirm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Checkout_screen</name>
        <label>Checkout Screen</label>
        <locationX>886</locationX>
        <locationY>1724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checkout_Confirm</targetReference>
        </connector>
        <fields>
            <name>CheckoutText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Is Part OK?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkoutConfirm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Checkout_Screen2</name>
        <label>Checkout Screen</label>
        <locationX>754</locationX>
        <locationY>2156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sub_Loop_Count</targetReference>
        </connector>
        <fields>
            <name>Checkedout</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Part Successfully Checked Out&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Checkout_Select</name>
        <label>Product Checkout Select</label>
        <locationX>886</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_selected_product2</targetReference>
        </connector>
        <fields>
            <name>VAPS_to_Checkout</name>
            <choiceReferences>CheckoutChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VAPS to Checkout</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_More_Checkin_Screen</name>
        <label>No More Checkin Screen</label>
        <locationX>1282</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoMoreStockcheckinDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have no further items of stock to check in&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_More_Checkout_Screen</name>
        <label>No More Checkout Screen</label>
        <locationX>1546</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoStockCheckoutDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;You have no further items of stock to check out&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PartCheckedin</name>
        <label>PartCheckedin</label>
        <locationX>94</locationX>
        <locationY>2156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sub_Loop_Count</targetReference>
        </connector>
        <fields>
            <name>Checkintxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Part is Checked-In&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Checkin_Select</name>
        <label>Product Checkin Select</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_selected_product</targetReference>
        </connector>
        <fields>
            <name>VAPS_to_Checkin</name>
            <choiceReferences>CheckinChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VAPS to Checkin</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scan_Barcode</name>
        <label>Scan Barcode</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkin_Part_Correct</targetReference>
        </connector>
        <fields>
            <name>Scan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Scan Barcode&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkinCode</name>
            <fieldText>&lt;p&gt;Is &lt;strong&gt;{!selectedProductRecord.BLN_Title__c}&lt;/strong&gt; Correct?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer_Checkin</name>
            <choiceReferences>Part_Correct</choiceReferences>
            <choiceReferences>Part_Incorrect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scan_Barcode_Checkout</name>
        <label>Scan Barcode</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkout_Part_Correct</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Scan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Scan Barcode&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_checkinCode</name>
            <fieldText>&lt;p&gt;Is &lt;strong&gt;{!selectedProductRecord.BLN_Title__c}&lt;/strong&gt; Correct?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer_Checkout</name>
            <choiceReferences>Part_Correct</choiceReferences>
            <choiceReferences>Part_Incorrect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckinCheckout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>selectedProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>UserIdFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAPSProductRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
</Flow>
