force-app/main/default/flows/BLN_SendGlassOnTheWaySMSForSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Invoke_Apex_Action</name>
        <label>Copy 1 of Invoke Apex Action</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Apex_Action</name>
        <label>Invoke Apex Action</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_template</name>
        <label>Assign template</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BLN_GlassOnTheWay</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_mobile_and_template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_mobile_and_template</name>
        <label>Check mobile and template</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.Account.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS</targetReference>
            </connector>
            <label>If present</label>
        </rules>
        <rules>
            <name>If_Present_For_Nominated_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_For_Nominated_Person</targetReference>
            </connector>
            <label>If Present For Nominated Person</label>
        </rules>
    </decisions>
    <description>FOUK-5540: This flow is created to Send Glass On the Way SMS For SA.</description>
    <environments>Default</environments>
    <interviewLabel>Send Glass On the Way SMS For SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Glass On The Way SMS For SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Records</name>
        <label>Create Exception Records</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendGlassOnTheWaySMSForSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records_For_Nominated_Person</name>
        <label>Create Exception Records For Nominated Person</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_SendGlassOnTheWaySMSForSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.Account.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_For_Nominated_Person</name>
        <label>Create SMS For Nominated Person</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Records_For_Nominated_Person</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_ContextRecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingChannelUniqueName__c</field>
            <value>
                <elementReference>$Label.BLN_MessagingChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MessagingTemplateUniqueName__c</field>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientPhoneNumber__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecipientRecordID__c</field>
            <value>
                <elementReference>$Record.BLN_Case__r.BLN_NominatedPerson__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TriggeredOutboundType__c</field>
            <value>
                <elementReference>$Label.BLN_Standard</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_TriggerSMS__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_template</targetReference>
        </connector>
        <filterFormula>AND({!$Record.BLN_GlassShipped__c},
ISPICKVAL({!$Record.BLN_Case__r.Account.BLN_PreferredContactMethod__c}, &apos;SMS&apos;),
ISPICKVAL({!$Record.BLN_Case__r.BLN_BookingStatus__c}, &apos;Quality&apos;),
ISPICKVAL({!$Record.Status}, &apos;Scheduled&apos;),
OR(ISNEW(), ISCHANGED({!$Record.BLN_GlassShipped__c})),
NOT({!$Permission.BLN_BypassFlows})
)</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>templateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
