force-app/main/default/flows/BLN_UpdateAssistAppointmentStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Start_Time_End_Time_on_InProgress</name>
        <label>Assign Start Time &amp; End Time on InProgress</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>statusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_For_Get_WOLI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Value_For_Complete_Assist</name>
        <label>Status Value For Complete Assist</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>statusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_For_Get_WOLI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Value_For_Meet_and_Greet</name>
        <label>Status Value For Meet and Greet</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>statusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrived</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_For_Get_WOLI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Start_Time</name>
        <label>Store Start Time</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Id_and_UserId_Null_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Start_Assist_Or_Complete_Assist</name>
        <label>Check Start Assist Or Complete Assist</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Assist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WSRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start Assist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_In_Progress</targetReference>
            </connector>
            <label>Start Assist</label>
        </rules>
        <rules>
            <name>Complete_Assist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WSRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete Assist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Completed</targetReference>
            </connector>
            <label>Complete Assist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clock_In_Check</name>
        <label>Clock In Check?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>InstructionsForCICO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCheckedIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Work_Step</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_and_UserId_Null_Check</name>
        <label>Id and UserId Null Check</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Id_And_UserId_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_In_Check_Flow</targetReference>
            </connector>
            <label>Check if Id And UserId is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Current_Work_Plan_And_Check_Work_Plan_Name</name>
        <label>Null Check For Current Work Plan And Check Work Plan Name</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meet_and_Greet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WPRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meet and Greet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WSRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Status To Arrived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Arrived</targetReference>
            </connector>
            <label>Meet and Greet</label>
        </rules>
        <rules>
            <name>Assist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WPRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Start_Assist_Or_Complete_Assist</targetReference>
            </connector>
            <label>Assist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_WOLI_Record</name>
        <label>Null Check For Get WOLI Record</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment</targetReference>
            </connector>
            <label>Get WOLI Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Work_Step</name>
        <label>Null Check For Get Work Step</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_WS_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Work_Plan</targetReference>
            </connector>
            <label>Get WS Null Check</label>
        </rules>
    </decisions>
    <description>Created as a part of FOUK-8097</description>
    <environments>Default</environments>
    <formulas>
        <name>ScheduleEndFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ({!SARecord.Duration}/1440)</expression>
    </formulas>
    <interviewLabel>Update Assist Appointment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assist Appointment Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Current_Work_Plan</name>
        <label>Get Current Work Plan</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOLI_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WSRecord.WorkPlanId</elementReference>
            </value>
        </filters>
        <object>WorkPlan</object>
        <outputReference>WPRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Work_Step</name>
        <label>Get Current Work Step</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WSRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkPlanId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Current_Work_Plan_And_Check_Work_Plan_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRecord.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Duration</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Record</name>
        <label>Get WOLI Record</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WSRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Work_Step_To_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SARecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>statusValue</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_To_Complete</name>
        <label>Update Work Step To Complete</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>InstructionsForCICO</name>
        <label>Instructions For CICO</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow</targetReference>
        </connector>
        <fields>
            <name>OpenCICO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click the &quot;Next&quot; button below to &quot;Clock-In&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Status_To_Arrived</name>
        <label>Update Status To Arrived</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Value_For_Meet_and_Greet</targetReference>
        </connector>
        <fields>
            <name>Arrived</name>
            <fieldText>&lt;p&gt;Do you wish to update status to Arrived?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Status_To_Completed</name>
        <label>Update Status To Completed</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Value_For_Complete_Assist</targetReference>
        </connector>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;p&gt;Do you wish to update status to Completed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Status_To_In_Progress</name>
        <label>Update Status To In Progress</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Start_Time_End_Time_on_InProgress</targetReference>
        </connector>
        <fields>
            <name>InProgress</name>
            <fieldText>&lt;p&gt;Do you wish to update status to In Progress?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Start_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow</name>
        <label>Calling CICO Flow</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Current_Work_Step</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Clock_In_Check_Flow</name>
        <label>Clock In Check Flow</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Clock_In_Check</targetReference>
        </connector>
        <flowName>BLN_ClockInCheck</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsCheckedIn</assignToReference>
            <name>OutputOfTheFlow</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>endTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCheckedIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>startTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>WSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
