force-app/main/default/flows/BLN_ContractStartApprovalProcessForContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>578</locationX>
        <locationY>2363</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Exception_logs2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_approval</name>
        <label>Submit for approval</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_logs2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>BLN_ContractApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Finance_Director</name>
        <label>Assign Finance Director</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>financeDirectorRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Approvers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Managing_Director</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Director</name>
        <label>Assign Legal Director</label>
        <locationX>534</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>legalDirectorRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Approvers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Finance_Director</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Managing_Director</name>
        <label>Assign Managing Director</label>
        <locationX>534</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>managingDirectorRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Approvers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Director</name>
        <label>Assign Sales Director</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>salesDirectorRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Approvers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Legal_Director</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>salesApprover.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesDirectorRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>legalDirectorRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financeDirectorRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>managingDirectorRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesApprover.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalApprover.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financeApprover.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managingApprover.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>legalApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>financeApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>managingApprover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Shares</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Approvers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Approvers</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Filter_Approvers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Approvers</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Sales Director</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Legal Director</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Finance Director</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Managing Director</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_Approvers</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <name>ApproversNotFoundError</name>
        <label>ApproversNotFoundError</label>
        <locationX>842</locationX>
        <locationY>2147</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.BLN_ApproverNotFoundLabel}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>All_Required_Found</name>
        <label>All Required Found ?</label>
        <locationX>446</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>ApproversNotFoundError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>salesDirectorRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>legalDirectorRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>financeDirectorRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>managingDirectorRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Finance_Director</name>
        <label>Check Finance Director</label>
        <locationX>666</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Check_Managing_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Finance Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Finance_Director</targetReference>
            </connector>
            <label>Finance ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_Director</name>
        <label>Check Legal Director</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_Finance_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Legal Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_Director</targetReference>
            </connector>
            <label>Legal ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Managing_Director</name>
        <label>Check Managing Director</label>
        <locationX>666</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Managing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Managing Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managing_Director</targetReference>
            </connector>
            <label>Managing ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_and_UserRole</name>
        <label>Check Record Type and UserRole</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Negotiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_NegotiatedContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_LegalCounsel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approvers</targetReference>
            </connector>
            <label>If Negotiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Director</name>
        <label>Check Sales Director</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Legal_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Approvers.BLN_UserApprovalFunction__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Director</targetReference>
            </connector>
            <label>Sales ?</label>
        </rules>
    </decisions>
    <description>FOUK - 3823</description>
    <environments>Default</environments>
    <interviewLabel>Cntract - Start Approval Process for Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Start Approval Process for Contract</label>
    <loops>
        <name>Loop_on_Approvers</name>
        <label>Loop on Approvers</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionReference>Filter_Approvers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sales_Director</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Required_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Shares</name>
        <label>Create Account Shares</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <inputReference>approverList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_logs</name>
        <label>Error Exception logs</label>
        <locationX>578</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Error_Handling</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ContractStartApprovalProcessForContract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <elementReference>Update_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Exception_logs2</name>
        <label>Error Exception logs</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_ContractStartApprovalProcessForContract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_MethodStep__c</field>
            <value>
                <stringValue>Submit for approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Approvers</name>
        <label>Get Approvers</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Submit_for_approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Exception_logs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BLN_FinanceDirector__c</field>
            <value>
                <elementReference>financeDirectorRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LegalCounselAuthority__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LegalDirector__c</field>
            <value>
                <elementReference>legalDirectorRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ManagingDirector__c</field>
            <value>
                <elementReference>managingDirectorRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_SalesDirector__c</field>
            <value>
                <elementReference>salesDirectorRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_and_UserRole</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
 {!$Permission.BLN_BypassFlows} = False,
ISPICKVAL({!$Record.Status}, &quot;Approval Request&quot;)
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>approverList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>financeApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>financeDirectorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>legalApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>legalDirectorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>managingApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>managingDirectorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>salesApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>salesDirectorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
