force-app/main/default/flows/BLN_WorkStepAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_product_transfer</name>
        <label>assign product transfer</label>
        <locationX>1062</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>PTAssign.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.BLN_ProductRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_product_required.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_product_required.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_product_required.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_product_required.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTAssign.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Territory_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PT_collect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_collect</name>
        <label>PT collect</label>
        <locationX>1062</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>PTCollect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PTAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_product_required</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_non_stockable_product_found</name>
        <label>Check non stockable product found</label>
        <locationX>1172</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Territory_Location</targetReference>
            </connector>
            <label>Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PT_Collect_not_null</name>
        <label>Check PT Collect not null</label>
        <locationX>974</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_collect_is_null_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTCollect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_product_transfer</targetReference>
            </connector>
            <label>PT collect is null false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Appointment</name>
        <label>Check Service Appointment</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EBS_Stock_Order_Movement_Callout_Flow_1</targetReference>
            </connector>
            <label>SA found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Select_Which_Flow_To_Call</name>
        <label>Decision To Select Which Flow To Call</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_WOLI_Description_For_Captured_Resin_Date_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_WorkStepUniqueName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaptureResinDetails</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WOLI_Description_For_Captured_Resin_Date_Time_Flow</targetReference>
            </connector>
            <label>Update WOLI Description For Captured Resin Date Time</label>
        </rules>
        <rules>
            <name>Call_reprice_Callout</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete Fitting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Service_Appointment</targetReference>
            </connector>
            <label>Call reprice Callout</label>
        </rules>
        <rules>
            <name>Repair_Product_Stock_Check_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Summary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_WOLI</targetReference>
            </connector>
            <label>Repair Product Stock Check in</label>
        </rules>
    </decisions>
    <description>FOUK-9564</description>
    <environments>Default</environments>
    <interviewLabel>Work Step After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Step After Update</label>
    <loops>
        <name>loop_on_product_required</name>
        <label>loop on product required</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <collectionReference>get_product_required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_product_transfer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_PT_Collect_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_product_transfer</name>
        <label>Create product transfer</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>service_resource</targetReference>
        </connector>
        <inputReference>PTCollect</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_product_required</name>
        <label>get Non Stockable product required</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_non_stockable_product_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WOLI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsConsumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_StockCheckInCondition__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsProductStockable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Appointment</name>
        <label>get Service Appointment</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_service_resource</name>
        <label>get service resource</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_product_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Territory_Location</name>
        <label>get Territory Location</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_product_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WOLI.ServiceTerritory.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_GUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WOLI.ServiceTerritory.BLN_GUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WOLI</name>
        <label>get WOLI</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_service_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>service_resource</name>
        <label>service resource</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_resource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_NonStockableProduct__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_To_Select_Which_Flow_To_Call</targetReference>
        </connector>
        <filterFormula>NOT {!$Permission.BLN_BypassFlows}</filterFormula>
        <object>WorkStep</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>EBS_Stock_Order_Movement_Callout_Flow_1</name>
        <label>EBS Stock Order Movement Callout Flow 1</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <flowName>BLN_EBSStockOrderMovementCallout</flowName>
        <inputAssignments>
            <name>SARec</name>
            <value>
                <elementReference>get_Service_Appointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_WOLI_Description_For_Captured_Resin_Date_Time_Flow</name>
        <label>Update WOLI Description For Captured Resin Date Time Flow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>BLN_UpdateWOLIDescriptionForCapturedResinDateTime</flowName>
        <inputAssignments>
            <name>woliId</name>
            <value>
                <elementReference>$Record.WorkOrderLineItem.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PTAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTCollect</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>SourceLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
