force-app/main/default/flows/BLN_UpdateCaseOwnerAndCreateTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_case</name>
        <label>assign case</label>
        <locationX>798</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.BLN_ProvisionalBookingTheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Case_Checbox</name>
        <label>assign Case Checbox</label>
        <locationX>270</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.BLN_ProvisionalBookingTheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_provisional_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Collect</name>
        <label>Case Collect</label>
        <locationX>864</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Create</name>
        <label>Task Create</label>
        <locationX>864</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BVT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.BLN_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BVT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_task_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_BVT_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.BLN_TaskSubjectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.BLN_IsAutomated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Create_Collection</name>
        <label>Task Create Collection</label>
        <locationX>864</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Collect</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_SA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter SA</label>
        <locationX>402</locationX>
        <locationY>1619</locationY>
        <assignNextValueToReference>currentItem_Filter_SA_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_SA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_SA_0.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>check_SA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_SA1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter SA1</label>
        <locationX>930</locationX>
        <locationY>1619</locationY>
        <assignNextValueToReference>currentItem_filter_SA1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_SA1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_SA1.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_SA1</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Case_record_type</name>
        <label>Case record type</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_record_type_is_job_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_cases</targetReference>
            </connector>
            <label>Case record type is job request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Customer_B2B_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BLN_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type</targetReference>
            </connector>
            <label>Account is Customer B2B Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_booking_status</name>
        <label>Check booking status</label>
        <locationX>864</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_status_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.BLN_BookingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SA</targetReference>
            </connector>
            <label>Booking status Quality</label>
        </rules>
        <rules>
            <name>Booking_status_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.BLN_BookingStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SA1</targetReference>
            </connector>
            <label>Booking status is Provisional</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_collection</name>
        <label>check case collection</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_check_case_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Outcome 1 of check case collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_SA</name>
        <label>check SA</label>
        <locationX>402</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Case_Checbox</targetReference>
            </connector>
            <label>SA not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA1</name>
        <label>Check SA1</label>
        <locationX>930</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filter_SA1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_case</targetReference>
            </connector>
            <label>SA found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Corporate Policyholder</label>
        <locationX>1227</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.BLN_Corporate__r.BLN_PolicyHolderName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_booking_status</targetReference>
            </connector>
            <label>Check Corporate</label>
        </rules>
    </decisions>
    <description>FOUK-5029</description>
    <environments>Default</environments>
    <interviewLabel>Update Case Owner and Create Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Owner And Create Tasks</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop on case</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <collectionReference>get_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_case_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BVT_tasks</name>
        <label>Create BVT tasks</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_CustomerB2BAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BVT_queue</name>
        <label>get BVT queue</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_provisional_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_BVT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_task_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_JobRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_cases</name>
        <label>get cases</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsRepriced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_provisional_queue</name>
        <label>get provisional queue</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_Provisional</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA</name>
        <label>get SA</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1</name>
        <label>get SA1</label>
        <locationX>930</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_SA1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_task_record_type</name>
        <label>get task record type</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_BVT_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_BVT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Create_BVT_tasks</targetReference>
        </connector>
        <inputReference>CaseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <filterFormula>NOT({!$Permission.BLN_BypassFlows})</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CorIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_Corporate__c</objectType>
    </variables>
    <variables>
        <name>CorporateIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filter_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_SA1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_SA_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_Corporate__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
