force-app/main/default/flows/BLN_CaptureDataCollect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_account_is_present_on_case</name>
        <label>check account is present on case</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBillingMethodIsuranceAndCorporateBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.BLN_BillingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance / Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_data_select_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errormessage2</targetReference>
            </connector>
            <label>isBillingMethodIsuranceAndCorporateBlank</label>
        </rules>
        <rules>
            <name>check_account_is_present_on_case1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_corporate_record_type</targetReference>
            </connector>
            <label>check account is present on case1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_corporate_record_type</name>
        <label>check corporate record type</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>errormessage1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_corporate_record_type1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_account.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataCollectorScreen</targetReference>
            </connector>
            <label>check corporate record type Insurance</label>
        </rules>
        <rules>
            <name>check_corporate_record_type2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_CorporateFleet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_account.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DataCollectorScreen</targetReference>
            </connector>
            <label>check corporate record type fleet</label>
        </rules>
        <rules>
            <name>check_split_bill_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_SpiltBill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_account.BLN_InsuranceSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_account.BLN_CorporateSite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SplitBill_DataCollectorScreen</targetReference>
            </connector>
            <label>check split bill record type</label>
        </rules>
    </decisions>
    <description>FOUK-8278 This flow is used for Capturing Data Collect</description>
    <environments>Default</environments>
    <interviewLabel>Capture Data Collect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Data Collect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_account_is_present_on_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.BLN_Corporate__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BLN_Corporate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_data_select_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_data_select_record_type</name>
        <label>get data select record type</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_DataCollect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_DataCollectorScreen</name>
        <label>Copy 1 of DataCollectorScreen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DataCollectorScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_DataCollectorScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_DataCollectorScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_datacollector1</name>
                    <extensionName>c:bln_DataCollectorContainers</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>recordId.BLN_Corporate__r.BLN_CorporateSite__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>caserecordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountType</name>
                        <value>
                            <stringValue>corporate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCloseTab</name>
                        <value>
                            <elementReference>booleanVariableForFlow</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_DataCollectorScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DataCollectorScreen</name>
        <label>DataCollectorScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DataCollectorScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DataCollectorScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DataCollectorScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datacollector1</name>
                    <extensionName>c:bln_DataCollectorContainers</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>recordId.BLN_Corporate__r.BLN_InsuranceSite__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>caserecordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountType</name>
                        <value>
                            <stringValue>insurance</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCloseTab</name>
                        <value>
                            <elementReference>booleanVariableForFlow</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DataCollectorScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errormessage1</name>
        <label>errormessage1</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormessage1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>errormessage1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>errormessage1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>errormessage1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>errormessage1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_showerrormessage</name>
                    <fieldText>&lt;p&gt;{!$Label.BLN_CorporateAccount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>errormessage1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errormessage2</name>
        <label>errormessage2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormessage2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>errormessage2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>errormessage2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_showerrormessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!$Label.BLN_AccountErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>errormessage2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SplitBill_DataCollectorScreen</name>
        <label>Split Bill DataCollectorScreen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SplitBill_DataCollectorScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SplitBill_DataCollectorScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SplitBill_DataCollectorScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SplitBill_datacollector1</name>
                    <extensionName>c:bln_DataCollectorContainers</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>recordId.BLN_Corporate__r.BLN_CorporateSite__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>caserecordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountId2</name>
                        <value>
                            <elementReference>recordId.BLN_Corporate__r.BLN_InsuranceSite__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountType</name>
                        <value>
                            <stringValue>both</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCloseTab</name>
                        <value>
                            <elementReference>booleanVariableForFlow</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SplitBill_DataCollectorScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booleanVariableForFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
