force-app/main/default/flows/BLN_UpdateDataCollectAnswerRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Invoke_Apex_Action</name>
        <label>Copy 1 of Invoke Apex Action</label>
        <locationX>1254</locationX>
        <locationY>2855</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Apex_Action</name>
        <label>Invoke Apex Action</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Answer_records</name>
        <label>Assign Answer records</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Answer_records.BLN_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormatterFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAnswerRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Answer_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Answer_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_answer_records_for_creation</name>
        <label>Assign answer records for creation</label>
        <locationX>1078</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>singleAnswerRecord.BLN_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_arpRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAnswerRecord.BLN_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAnswerRecord.BLN_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFormatterFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answerRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAnswerRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_arpRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_corporate_site_arp_records</name>
        <label>Assign corporate site arp records</label>
        <locationX>754</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>arpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_corporate_site_arp_split_bill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_corporate_site_arp_split_bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_corporate_site_arp_records_corporate</name>
        <label>Assign corporate site arp records corporate</label>
        <locationX>1714</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>arpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_corporate_site_arp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_corporate_site_arp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_insurance_site_arp_records</name>
        <label>Assign insurance site arp records</label>
        <locationX>754</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>arpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_insurance_site_arp_split_bill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_insurance_site_arp_split_bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_insurance_site_arp_records_insurance</name>
        <label>Assign insurance site arp records</label>
        <locationX>1234</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>arpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_insurance_site_arp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_insurance_site_arp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_corporate_record_type</name>
        <label>Check corporate record type</label>
        <locationX>1254</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Corporate_site_ARP_records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Corporate</defaultConnectorLabel>
        <rules>
            <name>Split_Bill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Corporate__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_SpiltBill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Corporate_site_ARP_records</targetReference>
            </connector>
            <label>Split Bill</label>
        </rules>
        <rules>
            <name>Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BLN_Corporate__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLN_Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurance_site_ARP_records_1</targetReference>
            </connector>
            <label>Insurance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_EDI_Type_Code</name>
        <label>Check for EDI Type Code</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Answer_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDAT_code_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Answer_records.BLN_Question__r.BLN_EDITypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answer_records</targetReference>
            </connector>
            <label>IDAT code present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_corporate_arp</name>
        <label>Check null corporate arp</label>
        <locationX>1734</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate_site_ARP_records_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_corporate_site_arp</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_corporate_arp_split_bill</name>
        <label>Check null corporate arp split bill</label>
        <locationX>774</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_null_insurance_arp_split_bill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate_site_ARP_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_corporate_site_arp_split_bill</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_for_arpRecords</name>
        <label>Check null for arpRecords</label>
        <locationX>1254</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_arpRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>arpRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_arpRecords</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_insurance_arp</name>
        <label>Check null insurance arp</label>
        <locationX>1254</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Insurance_site_ARP_records_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_insurance_site_arp</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_insurance_arp_split_bill</name>
        <label>Check null insurance arp split bill</label>
        <locationX>774</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Insurance_site_ARP_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_insurance_site_arp_split_bill</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_EDI_Type_Code</name>
        <label>Copy 1 of Check for EDI Type Code</label>
        <locationX>1210</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Loop_for_arpRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IDAT_code_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_arpRecords.BLN_EDITypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_answer_records_for_creation</targetReference>
            </connector>
            <label>IDAT code present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Answer</name>
        <label>Null Check For Get Answer</label>
        <locationX>652</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Data_Collect_Record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Answer_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Answer_records</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <description>FOUK-9628 This flow is used to update data collect answer record.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateFormatterFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(DATEVALUE({!$Record.BLN_IncidentDate__c})))
 &amp; &quot;-&quot; &amp; 
RIGHT(&quot;00&quot; &amp; TEXT(MONTH(DATEVALUE({!$Record.BLN_IncidentDate__c}))), 2)
&amp; &quot;-&quot; &amp; 
RIGHT(&quot;00&quot; &amp; TEXT(DAY(DATEVALUE({!$Record.BLN_IncidentDate__c}))), 2)</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Data Collect Answer Record</label>
    <loops>
        <name>Loop_corporate_site_arp</name>
        <label>Loop corporate site arp</label>
        <locationX>1626</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Corporate_site_ARP_records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_corporate_site_arp_records_corporate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_corporate_site_arp_split_bill</name>
        <label>Loop corporate site arp split bill</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Corporate_site_ARP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_corporate_site_arp_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_null_insurance_arp_split_bill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_arpRecords</name>
        <label>Loop for arpRecords</label>
        <locationX>990</locationX>
        <locationY>2147</locationY>
        <collectionReference>arpRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_for_EDI_Type_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_answer_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_insurance_site_arp</name>
        <label>Loop insurance site arp</label>
        <locationX>1146</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Insurance_site_ARP_records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_insurance_site_arp_records_insurance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_insurance_site_arp_split_bill</name>
        <label>Loop insurance site arp split bill</label>
        <locationX>666</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_Insurance_site_ARP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_insurance_site_arp_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_null_for_arpRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Answer_records</name>
        <label>Loop on Answer records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Answer_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_EDI_Type_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Answer_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Exception_Records_For_Update_Data_Answer</name>
        <label>Copy 1 of Create Exception Records For Update Data Answer</label>
        <locationX>1254</locationX>
        <locationY>2747</locationY>
        <connector>
            <targetReference>Copy_1_of_Invoke_Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateDataCollectAnswerRecord</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_answer_records</name>
        <label>Create answer records</label>
        <locationX>990</locationX>
        <locationY>2639</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Exception_Records_For_Update_Data_Answer</targetReference>
        </faultConnector>
        <inputReference>answerRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records_For_Update_Data_Answer</name>
        <label>Create Exception Records For Update Data Answer</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Invoke_Apex_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_CurrentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_EntityName__c</field>
            <value>
                <stringValue>BLN_UpdateDataCollectAnswerRecord</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_LogType__c</field>
            <value>
                <elementReference>$Label.BLN_ExceptionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_RecordIdIdentifier__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_FlowException__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Answer_records</name>
        <label>Get Answer records</label>
        <locationX>652</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Answer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_DataCollectAnswer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corporate_site_ARP_records</name>
        <label>Get Corporate site ARP records</label>
        <locationX>774</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurance_site_ARP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__r.BLN_CorporateSite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_EDITypeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corporate_site_ARP_records_1</name>
        <label>Get Corporate site ARP records_1</label>
        <locationX>1734</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_null_corporate_arp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__r.BLN_CorporateSite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_EDITypeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Collect_Record_type</name>
        <label>Get Data Collect Record type</label>
        <locationX>1254</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_corporate_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_DataCollect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_site_ARP_records</name>
        <label>Get Insurance site ARP records</label>
        <locationX>774</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_null_corporate_arp_split_bill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__r.BLN_InsuranceSite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_EDITypeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_site_ARP_records_1</name>
        <label>Get Insurance site ARP records_1</label>
        <locationX>1254</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_null_insurance_arp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_Corporate__r.BLN_InsuranceSite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveFrom__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ActiveTo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collect_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_EDITypeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BLN_AccountRuleParameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Answer_records</name>
        <label>Update Answer records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Records_For_Update_Data_Answer</targetReference>
        </faultConnector>
        <inputReference>UpdatedAnswerRecordList</inputReference>
    </recordUpdates>
    <start>
        <locationX>526</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Answer_records</targetReference>
        </connector>
        <filterFormula> AND(ISCHANGED({!$Record.BLN_IncidentDate__c}),NOT(ISBLANK({!$Record.BLN_IncidentDate__c})),NOT({!$Permission.BLN_BypassFlows}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>answerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_DataCollectAnswer__c</objectType>
    </variables>
    <variables>
        <name>arpRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_AccountRuleParameter__c</objectType>
    </variables>
    <variables>
        <name>singleAnswerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_DataCollectAnswer__c</objectType>
    </variables>
    <variables>
        <name>UpdatedAnswerRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_DataCollectAnswer__c</objectType>
    </variables>
</Flow>
