force-app/main/default/flows/BLN_CorrectiveActionReportQuickAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_BWoF_and_Product_Issue</name>
        <label>Assign BWoF and Product Issue</label>
        <locationX>1282</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_BWoFIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BelronWayOfFitting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_ProductIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductQuality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_ProductReturned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_product_being_returned1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BWoF_Product_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BWoF_Issue</name>
        <label>Assign BWoF Issue</label>
        <locationX>446</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_BWoFIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BWoF_Issue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BWoF_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Corrective_Action_Screen</name>
        <label>Assign Corrective Action Screen</label>
        <locationX>864</locationX>
        <locationY>8600</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_CorrectiveActionsNeeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_the_corrective_actions_needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_BusinessFaultWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_Business_at_Fault_for_this_Warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Corrective_Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Concerns_are_not_resolved</name>
        <label>Assign Customer Concerns are not resolved</label>
        <locationX>952</locationX>
        <locationY>8084</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_ActionsNeededtoResolveWarranty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Action_s_are_needed_to_resolve_the_warranty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Concerns_are_not_resolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Fault</name>
        <label>Assign No Fault</label>
        <locationX>314</locationX>
        <locationY>7094</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_NotAtFault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Not_at_Fault_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Not_at_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR_Code</name>
        <label>Assign PR Code</label>
        <locationX>1381</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>ProductCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productRequiredData.BLN_ProductCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCode</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR_Code_1</name>
        <label>Assign PR Code 1</label>
        <locationX>1293</locationX>
        <locationY>4874</locationY>
        <assignmentItems>
            <assignToReference>ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Quality_Screen</name>
        <label>Assign Product Quality Screen</label>
        <locationX>754</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_ProductIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_ProductReturned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_product_being_returned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_Of_Issue</name>
        <label>Assign Type Of Issue</label>
        <locationX>864</locationX>
        <locationY>6230</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_TypeofIssue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Issue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Type_of_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warranty_Visit</name>
        <label>Assign Warranty Visit</label>
        <locationX>864</locationX>
        <locationY>7652</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_WarrantyVisitFindings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_were_you_findings_from_the_warranty_visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_CustomerConcernsResolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolved_all_Customer_s_Concern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Warranty_Visit_Findings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Tech_Name</name>
        <label>Assigning Tech Name</label>
        <locationX>1639</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>allTechName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allTechNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allUserManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allUserManagerNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Technician_Name_To_Variable</name>
        <label>Assigning Technician Name To Variable</label>
        <locationX>2032</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>allTechName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SRRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allTechName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allUserManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userManagerName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allUserManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Through_All_Parent_SA_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_No_Fault</name>
        <label>Copy 1 of Assign No Fault</label>
        <locationX>1018</locationX>
        <locationY>7094</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_NotAtFault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Not_at_Fault_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Not_at_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Submitted</name>
        <label>Status Submitted</label>
        <locationX>864</locationX>
        <locationY>8924</locationY>
        <assignmentItems>
            <assignToReference>checkCAR.BLN_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Start_Time</name>
        <label>Store Start Time</label>
        <locationX>3151</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Warranty_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_IsNull</name>
        <label>Case IsNull</label>
        <locationX>3039</locationX>
        <locationY>2462</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Concern_Resolved</name>
        <label>Check Customer Concern Resolved</label>
        <locationX>864</locationX>
        <locationY>7868</locationY>
        <defaultConnector>
            <targetReference>Customer_s_concerns_are_not_resolved_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_RESOLVED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resolved_all_Customer_s_Concern</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corrective_Action_Needed_Screen</targetReference>
            </connector>
            <label>YES RESOLVED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Vehicle</name>
        <label>Check For Vehicle</label>
        <locationX>864</locationX>
        <locationY>5306</locationY>
        <defaultConnector>
            <targetReference>Create_Corrective_Action_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Existing_Draft_CAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkCAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkCAR.BLN_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Photo</targetReference>
            </connector>
            <label>If Existing Draft CAR</label>
        </rules>
        <rules>
            <name>If_Existing_Submitted_CAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkCAR.BLN_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Created_CAR</targetReference>
            </connector>
            <label>If Existing Submitted CAR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_latest_Record</name>
        <label>Check latest Record</label>
        <locationX>864</locationX>
        <locationY>5822</locationY>
        <defaultConnector>
            <targetReference>Type_Of_Issue_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkCAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_CAR</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_Fault_Found</name>
        <label>Check No Fault Found</label>
        <locationX>446</locationX>
        <locationY>6878</locationY>
        <defaultConnector>
            <targetReference>Warranty_Visit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Fault_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BWoF_Issue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Fault Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Fault_Found_Screen</targetReference>
            </connector>
            <label>No Fault Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null_SR_Ids</name>
        <label>Check Null SR Ids</label>
        <locationX>2164</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Looping_Through_All_Parent_SA_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SALoopingVariable.BLN_AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR_Record</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check Work Type</label>
        <locationX>1293</locationX>
        <locationY>4982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_WS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>workTypeRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workTypeRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corrective_Action_Report_Start</targetReference>
            </connector>
            <label>IS WS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_No_Fault_Found</name>
        <label>Copy 1 of Check No Fault Found</label>
        <locationX>1282</locationX>
        <locationY>6878</locationY>
        <defaultConnector>
            <targetReference>Warranty_Visit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_Fault_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BelronWayOfFitting</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Fault Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Update_Not_at_Fault</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_No_Fault_Found_Screen</targetReference>
            </connector>
            <label>Copy 1 of No Fault Found</label>
        </rules>
        <rules>
            <name>Selected_Product_quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductQuality</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Electronic_Defective_Material_Report</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Electronic_Defective_Material_Report</targetReference>
            </connector>
            <label>Selected Product quality</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Get_Parent_SA_s</name>
        <label>Null Check For Get Parent SA&apos;s</label>
        <locationX>2229</locationX>
        <locationY>3110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_SA_s_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentsSAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Through_All_Parent_SA_s</targetReference>
            </connector>
            <label>Parent SA&apos;s Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Original_SR</name>
        <label>Null Check For Original SR</label>
        <locationX>1944</locationX>
        <locationY>4034</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_Rec_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allTechName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Tech_Name</targetReference>
            </connector>
            <label>SR Rec Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Parent_Case</name>
        <label>Null Check For Parent Case</label>
        <locationX>2772</locationX>
        <locationY>2678</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_WO</targetReference>
            </connector>
            <label>Parent Case Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Parent_WO</name>
        <label>Null Check For Parent WO</label>
        <locationX>2503</locationX>
        <locationY>2894</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_WO_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_SA_s</targetReference>
            </connector>
            <label>Parent WO Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Parent_WOLI</name>
        <label>Null Check For Parent WOLI</label>
        <locationX>1639</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PR_For_Product_Code</targetReference>
            </connector>
            <label>Parent WOLI Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_SR</name>
        <label>Null Check For SR</label>
        <locationX>3151</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Record_For_Current_Service_Resource</targetReference>
            </connector>
            <label>SR Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Entry_Record</name>
        <label>Null Check For Time Sheet Entry Record</label>
        <locationX>1699</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Entry_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Time_Sheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI</targetReference>
            </connector>
            <label>Time Sheet Entry Null Check</label>
        </rules>
        <rules>
            <name>Null_Check_Plus_No_C_In_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Time_Sheet_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_CICO_Flow</targetReference>
            </connector>
            <label>Null Check Plus No C-In Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Record</name>
        <label>Null Check For Time Sheet Record</label>
        <locationX>1941</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Open_CICO_Flow1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Sheet_Record_For_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Time_Sheet_Entry_Record</targetReference>
            </connector>
            <label>Time Sheet Record Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_WOLI</name>
        <label>Null Check For WOLI</label>
        <locationX>3833</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woliId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>WOLI Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Work_Order</name>
        <label>Null Check For Work Order</label>
        <locationX>3569</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type</targetReference>
            </connector>
            <label>Work Order Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Work_Type</name>
        <label>Null Check For Work Type</label>
        <locationX>3304</locationX>
        <locationY>2246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Type_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workTypeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Work Type Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>T1Terr</name>
        <label>R1 Territory</label>
        <locationX>1941</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Null_Check_For_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>R2</defaultConnectorLabel>
        <rules>
            <name>R1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerr.BLN_ConsiderforR1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R2_only</targetReference>
            </connector>
            <label>R1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Issue_Check</name>
        <label>Type of Issue Check</label>
        <locationX>864</locationX>
        <locationY>6446</locationY>
        <defaultConnector>
            <targetReference>BWofAndPQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BWoF and PQ</defaultConnectorLabel>
        <rules>
            <name>Belron_Way_of_Fitting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belron Way of Fitting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Belron_Way_of_Fitting_Screen</targetReference>
            </connector>
            <label>Belron Way of Fitting</label>
        </rules>
        <rules>
            <name>Product_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Quality_Screen</targetReference>
            </connector>
            <label>Product Quality</label>
        </rules>
    </decisions>
    <description>FOUK-3982 Generate Corrective Action Report from Quick Action.</description>
    <dynamicChoiceSets>
        <name>BWoFIssue</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BLN_BWoFIssue__c</picklistField>
        <picklistObject>BLN_CorrectiveActionReport__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductIssue</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BLN_ProductIssue__c</picklistField>
        <picklistObject>BLN_CorrectiveActionReport__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofIssue</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BLN_TypeofIssue__c</picklistField>
        <picklistObject>BLN_CorrectiveActionReport__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>allTechNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!allTechName}, LEN({!allTechName}) - 1)</expression>
    </formulas>
    <formulas>
        <name>allUserManagerNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!allUserManagerName}, LEN({!allUserManagerName}) - 1)</expression>
    </formulas>
    <formulas>
        <name>ProductCodeFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductCode}, LEN({!ProductCode}) - 1)</expression>
    </formulas>
    <formulas>
        <name>TaskFor</name>
        <dataType>String</dataType>
        <expression>&apos;Warranty Job - Customer’s concerns not resolved.&apos; + &apos; &apos; + {!What_Action_s_are_needed_to_resolve_the_warranty}</expression>
    </formulas>
    <interviewLabel>Corrective Action Report Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Corrective Action Report Quick Action</label>
    <loops>
        <name>Loop_on_PR</name>
        <label>Loop on PR</label>
        <locationX>1293</locationX>
        <locationY>4574</locationY>
        <assignNextValueToReference>productRequiredData</assignNextValueToReference>
        <collectionReference>productReqCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PR_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_PR_Code_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Through_All_Parent_SA_s</name>
        <label>Looping Through All Parent SA&apos;s</label>
        <locationX>1944</locationX>
        <locationY>3218</locationY>
        <assignNextValueToReference>SALoopingVariable</assignNextValueToReference>
        <collectionReference>parentsSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Null_SR_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_For_Original_SR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Corrective_Action_Report</name>
        <label>Create Corrective Action Report</label>
        <locationX>1084</locationX>
        <locationY>5414</locationY>
        <assignRecordIdToReference>correctionReportId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_Case__c</field>
            <value>
                <elementReference>caseId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_CustomerIssueDescription__c</field>
            <value>
                <elementReference>parentCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ManagerName__c</field>
            <value>
                <elementReference>allUserManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_OriginalCase__c</field>
            <value>
                <elementReference>caseId.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ProductCode__c</field>
            <value>
                <elementReference>ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_TechniciansOnOriginalAppointments__c</field>
            <value>
                <elementReference>allTechName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_Vehicle__c</field>
            <value>
                <elementReference>parentCase.BLN_Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_WorkOrderLineItem__c</field>
            <value>
                <elementReference>parentWOLI.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BLN_CorrectiveActionReport__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>952</locationX>
        <locationY>8300</locationY>
        <connector>
            <targetReference>Corrective_Action_Needed_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_Account__c</field>
            <value>
                <elementReference>workOrderId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>warrantyQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>workOrderId.CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource_User</name>
        <label>Get Assigned Resource User</label>
        <locationX>2032</locationX>
        <locationY>3542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Manager_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRRecord.RelatedRecordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CAR</name>
        <label>Get CAR</label>
        <locationX>864</locationX>
        <locationY>5198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_OriginalCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.ParentId</elementReference>
            </value>
        </filters>
        <object>BLN_CorrectiveActionReport__c</object>
        <outputReference>checkCAR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Status__c</queriedFields>
        <queriedFields>BLN_ActionsNeededtoResolveWarranty__c</queriedFields>
        <queriedFields>BLN_BusinessFaultWarranty__c</queriedFields>
        <queriedFields>BLN_BWoFIssue__c</queriedFields>
        <queriedFields>BLN_CorrectiveActionsNeeded__c</queriedFields>
        <queriedFields>BLN_CustomerConcernsResolved__c</queriedFields>
        <queriedFields>BLN_NotAtFault__c</queriedFields>
        <queriedFields>BLN_ProductReturned__c</queriedFields>
        <queriedFields>BLN_TypeofIssue__c</queriedFields>
        <queriedFields>BLN_WarrantyVisitFindings__c</queriedFields>
        <queriedFields>BLN_ProductIssue__c</queriedFields>
        <queriedFields>BLN_WorkOrderLineItem__c</queriedFields>
        <queriedFields>BLN_TechniciansOnOriginalAppointments__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>3039</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_IsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>BLN_Vehicle__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>BLN_SubType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_CAR</name>
        <label>Get Latest CAR</label>
        <locationX>732</locationX>
        <locationY>5930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Of_Issue_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_OriginalCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.ParentId</elementReference>
            </value>
        </filters>
        <object>BLN_CorrectiveActionReport__c</object>
        <outputReference>checkCAR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Status__c</queriedFields>
        <queriedFields>BLN_ActionsNeededtoResolveWarranty__c</queriedFields>
        <queriedFields>BLN_BusinessFaultWarranty__c</queriedFields>
        <queriedFields>BLN_BWoFIssue__c</queriedFields>
        <queriedFields>BLN_CorrectiveActionsNeeded__c</queriedFields>
        <queriedFields>BLN_CustomerConcernsResolved__c</queriedFields>
        <queriedFields>BLN_NotAtFault__c</queriedFields>
        <queriedFields>BLN_ProductReturned__c</queriedFields>
        <queriedFields>BLN_TypeofIssue__c</queriedFields>
        <queriedFields>BLN_WarrantyVisitFindings__c</queriedFields>
        <queriedFields>BLN_ProductIssue__c</queriedFields>
        <queriedFields>BLN_WorkOrderLineItem__c</queriedFields>
        <queriedFields>BLN_TechniciansOnOriginalAppointments__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>2772</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>parentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Vehicle__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>BLN_SubType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_SA_s</name>
        <label>Get Parent SA&apos;s</label>
        <locationX>2229</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Get_Parent_SA_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_WorkOrderNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentWO.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>parentsSAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ServiceResourceID__c</queriedFields>
        <queriedFields>BLN_AssignedServiceResource__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_WO</name>
        <label>Get Parent WO</label>
        <locationX>2503</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Parent_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId.ParentId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>parentWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_WOLI</name>
        <label>Get Parent WOLI</label>
        <locationX>1639</locationX>
        <locationY>4250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Parent_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_WorkTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assist</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_WorkTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Stock Collect</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>parentWOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_PR_For_Product_Code</name>
        <label>Get PR For Product Code</label>
        <locationX>1293</locationX>
        <locationY>4466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentWOLI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ProductCategory__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>VAPS</stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>productReqCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ProductCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1941</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_WorkOrderNumber__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_Record</name>
        <label>Get SR Record</label>
        <locationX>2032</locationX>
        <locationY>3434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SALoopingVariable.BLN_AssignedServiceResource__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>SRRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Record_For_Current_Service_Resource</name>
        <label>Get Time Sheet Record For Current Service Resource</label>
        <locationX>1941</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceResource.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Manager_Name</name>
        <label>Get User Manager Name</label>
        <locationX>2032</locationX>
        <locationY>3650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Technician_Name_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIds.ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userManagerName</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Queue</name>
        <label>Get Warranty Queue</label>
        <locationX>3151</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Current_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLN_Warranty</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>warrantyQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>1941</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>woliId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>3569</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>3304</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Getting_Current_Service_Resource</name>
        <label>Getting Current Service Resource</label>
        <locationX>3151</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recent_Time_Sheet_Entry_Record</name>
        <label>Recent Time Sheet Entry Record</label>
        <locationX>1699</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Entry_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Service_Territory</name>
        <label>Service Territory</label>
        <locationX>1941</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>T1Terr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SARecord.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>ServiceTerr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ConsiderforR1__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Not_at_Fault</name>
        <label>Copy 1 of Update Not at Fault</label>
        <locationX>1018</locationX>
        <locationY>7202</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Check_No_Fault_Found</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BWoF_Issue</name>
        <label>Update BWoF Issue</label>
        <locationX>446</locationX>
        <locationY>6770</locationY>
        <connector>
            <targetReference>Check_No_Fault_Found</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BWoF_Product_Issue</name>
        <label>Update BWoF &amp; Product Issue</label>
        <locationX>1282</locationX>
        <locationY>6770</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_No_Fault_Found</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Corrective_Action_Screen</name>
        <label>Update Corrective Action Screen</label>
        <locationX>864</locationX>
        <locationY>8708</locationY>
        <connector>
            <targetReference>Submit_Corrective_Action_Report</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Concerns_are_not_resolved</name>
        <label>Update Customer Concerns are not resolved</label>
        <locationX>952</locationX>
        <locationY>8192</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Not_at_Fault</name>
        <label>Update Not at Fault</label>
        <locationX>314</locationX>
        <locationY>7202</locationY>
        <connector>
            <targetReference>Warranty_Visit_Screen</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Issue</name>
        <label>Update Product Issue</label>
        <locationX>754</locationX>
        <locationY>6770</locationY>
        <connector>
            <targetReference>Electronic_Defective_Material_Report</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>864</locationX>
        <locationY>9032</locationY>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Type_of_Issue</name>
        <label>Update Type of Issue</label>
        <locationX>864</locationX>
        <locationY>6338</locationY>
        <connector>
            <targetReference>Type_of_Issue_Check</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warranty_Visit_Findings</name>
        <label>Update Warranty Visit Findings</label>
        <locationX>864</locationX>
        <locationY>7760</locationY>
        <connector>
            <targetReference>Check_Customer_Concern_Resolved</targetReference>
        </connector>
        <inputReference>checkCAR</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Created_CAR</name>
        <label>Already Created CAR</label>
        <locationX>820</locationX>
        <locationY>5414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyCreatedCAR</name>
            <fieldText>&lt;p&gt;You have already created corrective action report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Belron_Way_of_Fitting_Screen</name>
        <label>Belron Way of Fitting Screen</label>
        <locationX>446</locationX>
        <locationY>6554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_BWoF_Issue</targetReference>
        </connector>
        <fields>
            <name>BWoF_Issue</name>
            <choiceReferences>BWoFIssue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_BWoFIssue__c</elementReference>
            </defaultValue>
            <fieldText>BWoF Issue</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BWofAndPQ</name>
        <label>BWofAndPQ</label>
        <locationX>1282</locationX>
        <locationY>6554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_BWoF_and_Product_Issue</targetReference>
        </connector>
        <fields>
            <name>BelronWayOfFitting</name>
            <choiceReferences>BWoFIssue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_BWoFIssue__c</elementReference>
            </defaultValue>
            <fieldText>Belron Way of Fitting</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_the_product_being_returned1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_ProductReturned__c</elementReference>
            </defaultValue>
            <fieldText>Is the product being returned</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductQuality</name>
            <choiceReferences>ProductIssue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_ProductIssue__c</elementReference>
            </defaultValue>
            <fieldText>Product Quality</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Photo</name>
        <label>Capture Photo</label>
        <locationX>864</locationX>
        <locationY>5714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_latest_Record</targetReference>
        </connector>
        <fields>
            <name>CallSrviceReport</name>
            <fieldText>&lt;p&gt;{!displayLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Electronic_Defective_Material_Report</name>
        <label>Copy 1 of Electronic Defective Material Report</label>
        <locationX>1282</locationX>
        <locationY>6986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Check_No_Fault_Found</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ElectronicDefectiveMaterialReport</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please complete an electronic Defective Material Report.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_Fault_Found_Screen</name>
        <label>Copy 1 of No Fault Found Screen</label>
        <locationX>1018</locationX>
        <locationY>6986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_No_Fault</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Not_at_Fault_Description</name>
            <defaultValue>
                <stringValue>{!checkCAR.BLN_NotAtFault__c}</stringValue>
            </defaultValue>
            <fieldText>Not at Fault Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Corrective_Action_Needed_Screen</name>
        <label>Corrective Action Needed Screen</label>
        <locationX>864</locationX>
        <locationY>8492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Corrective_Action_Screen</targetReference>
        </connector>
        <fields>
            <name>What_are_the_corrective_actions_needed</name>
            <defaultValue>
                <stringValue>{!checkCAR.BLN_CorrectiveActionsNeeded__c}</stringValue>
            </defaultValue>
            <fieldText>What are the corrective actions needed to avoid this quality issue moving forward?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_Business_at_Fault_for_this_Warranty</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_BusinessFaultWarranty__c</elementReference>
            </defaultValue>
            <fieldText>Are Business at Fault for this Warranty</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Corrective_Action_Report_Start</name>
        <label>Corrective Action Report Start</label>
        <locationX>864</locationX>
        <locationY>5090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CAR</targetReference>
        </connector>
        <fields>
            <name>StartCAR</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Click Next to Start Corrective Action Report&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_s_concerns_are_not_resolved_Screen</name>
        <label>Customer’s concerns are not resolved Screen</label>
        <locationX>952</locationX>
        <locationY>7976</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Customer_Concerns_are_not_resolved</targetReference>
        </connector>
        <fields>
            <name>What_Action_s_are_needed_to_resolve_the_warranty</name>
            <defaultValue>
                <stringValue>{!checkCAR.BLN_ActionsNeededtoResolveWarranty__c}</stringValue>
            </defaultValue>
            <fieldText>What Action(s) are needed to resolve the warranty</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Electronic_Defective_Material_Report</name>
        <label>Electronic Defective Material Report</label>
        <locationX>754</locationX>
        <locationY>6878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Warranty_Visit_Screen</targetReference>
        </connector>
        <fields>
            <name>ElectronicDefectiveMaterialReport</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please complete an electronic Defective Material Report.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Fault_Found_Screen</name>
        <label>No Fault Found Screen</label>
        <locationX>314</locationX>
        <locationY>6986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_No_Fault</targetReference>
        </connector>
        <fields>
            <name>Not_at_Fault_Description</name>
            <defaultValue>
                <stringValue>{!checkCAR.BLN_NotAtFault__c}</stringValue>
            </defaultValue>
            <fieldText>Not at Fault Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow</name>
        <label>Open CICO Flow</label>
        <locationX>1655</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow_1</targetReference>
        </connector>
        <fields>
            <name>OpenCICO1</name>
            <fieldText>&lt;p&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow1</name>
        <label>Open CICO Flow</label>
        <locationX>2183</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OpenCICO1</name>
            <fieldText>&lt;p&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Quality_Screen</name>
        <label>Product Quality Screen</label>
        <locationX>754</locationX>
        <locationY>6554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Product_Quality_Screen</targetReference>
        </connector>
        <fields>
            <name>Is_the_product_being_returned</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_ProductReturned__c</elementReference>
            </defaultValue>
            <fieldText>Is the product being returned</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Issue</name>
            <choiceReferences>ProductIssue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_ProductIssue__c</elementReference>
            </defaultValue>
            <fieldText>Product Issue</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>R2_only</name>
        <label>R2 only</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>R2_only_feature</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: -apple-system, Arial; color: rgb(68, 68, 68);&quot;&gt;This feature is available for R2.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Corrective_Action_Report</name>
        <label>Submit Corrective Action Report</label>
        <locationX>864</locationX>
        <locationY>8816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Submitted</targetReference>
        </connector>
        <fields>
            <name>Submit</name>
            <fieldText>&lt;p&gt;Click Next to Submit Corrective Action Report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_Of_Issue_Screen</name>
        <label>Type Of Issue Screen</label>
        <locationX>864</locationX>
        <locationY>6122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Type_Of_Issue</targetReference>
        </connector>
        <fields>
            <name>Type_of_Issue</name>
            <choiceReferences>TypeofIssue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_TypeofIssue__c</elementReference>
            </defaultValue>
            <fieldText>Type of Issue</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warranty_Visit_Screen</name>
        <label>Warranty Visit Screen</label>
        <locationX>864</locationX>
        <locationY>7544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Warranty_Visit</targetReference>
        </connector>
        <fields>
            <name>What_were_you_findings_from_the_warranty_visit</name>
            <defaultValue>
                <stringValue>{!checkCAR.BLN_WarrantyVisitFindings__c}</stringValue>
            </defaultValue>
            <fieldText>What were you findings from the warranty visit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Resolved_all_Customer_s_Concern</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>checkCAR.BLN_CustomerConcernsResolved__c</elementReference>
            </defaultValue>
            <fieldText>Resolved all Customer&apos;s Concern</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3025</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Start_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow2</name>
        <label>Calling CICO Flow2</label>
        <locationX>2183</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calling_CICO_Flow_1</name>
        <label>Calling CICO Flow 1</label>
        <locationX>1655</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>allTechName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allUserManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>checkCAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_CorrectiveActionReport__c</objectType>
    </variables>
    <variables>
        <name>childCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>childWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>correctionReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>correctiveActionReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_CorrectiveActionReport__c</objectType>
    </variables>
    <variables>
        <name>CurrentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>displayLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&apos;com.salesforce.fieldservice://v1/sObject/{!woliId.Id}/quickaction/Image_Capture?workOrderNumber={!workOrderId.WorkOrderNumber}&amp;SANumber={!SARecord.AppointmentNumber}&apos;&gt;Capture Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>parentsSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>parentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>parentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productReqCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>productRequiredData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>SALoopingVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceTerr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>SRIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRLoopingVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>SRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>SRRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>testDeeplinkFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&apos;com.salesforce.fieldservice://v1/sObject/{!WorkStepRecord.WorkOrderLineItemId}/flow/RepairResinFlow?WSIds={!WorkStepRecord.Id}&apos;&gt;Invoke Flow&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userManagerName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLN_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>warrantyQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>woliId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>workTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
