force-app/main/default/flows/BLN_ADASPostScan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_1_of_Desc</name>
        <label>Copy 1 of Desc</label>
        <locationX>732</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Device Used - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Device</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Faults Found - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Below</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desc</name>
        <label>Desc</label>
        <locationX>72</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Device Used - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Device</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Faults Found - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Below</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fault Description - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADAS Post Scan Successful - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompleteWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Post_Scan_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desc1</name>
        <label>Desc</label>
        <locationX>336</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Device Used - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Device</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Faults Found - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Below</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fault Description - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Notes1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADAS Post Scan Successful - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompleteWork1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Post_Scan_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Values</name>
        <label>Set Variable Values</label>
        <locationX>2621</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>FlowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bosch</name>
        <choiceText>Bosch Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bosch</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Bosch</name>
        <choiceText>Non Bosch Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Bosch</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recalibration_Declined_by_Customer</name>
        <choiceText>Recalibration Declined by Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recalibration Declined by Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recalibration_Failed</name>
        <choiceText>Recalibration Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recalibration Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recalibration_Not_Completed_Dealer_Recalibration_Only</name>
        <choiceText>Recalibration Not Completed - Dealer Recalibration Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recalibration Not Completed - Dealer Recalibration Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recalibration_Not_Required_Blanking_Plate</name>
        <choiceText>Recalibration Not Required - Blanking Plate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recalibration Not Required - Blanking Plate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recalibration_Successful</name>
        <choiceText>Recalibration Successful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recalibration Successful</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Post_Scan_Success</name>
        <label>Check for Post Scan Success</label>
        <locationX>402</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failure_for_Post_Scan</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Select_Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bosch</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non_Bosch</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompleteWork</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompleteWork1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Record</targetReference>
            </connector>
            <label>Failure for Post Scan</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Split_SA</name>
        <label>check Split SA</label>
        <locationX>732</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSplit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppRecord.WorkTypeFormula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_SA</targetReference>
            </connector>
            <label>isSplit</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Split_SA1</name>
        <label>check Split SA</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_isSplit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppRecord.WorkTypeFormula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>isSplit</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Split_SA2</name>
        <label>check Split SA</label>
        <locationX>622</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_isSplit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppRecord.WorkTypeFormula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replacement &amp; Recalibration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_SA</targetReference>
            </connector>
            <label>isSplit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_9</name>
        <label>Decision 9</label>
        <locationX>402</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Desc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bosch_Faults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bosch</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Below</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Notes</targetReference>
            </connector>
            <label>Bosch Faults</label>
        </rules>
        <rules>
            <name>Non_Bosch_Faults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Device</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non_Bosch</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Below</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowOpenCameraScreen</targetReference>
            </connector>
            <label>Non Bosch Faults</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null</name>
        <label>Null Check for SA</label>
        <locationX>2084</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>SA Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_And_Clock_In_Check_For_TimeSheet_Entry</name>
        <label>Null And Clock-In Check For TimeSheet Entry</label>
        <locationX>853</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check_For_Time_Sheet_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Timesheet_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_PreScan</targetReference>
            </connector>
            <label>Null Check For Time Sheet Entry</label>
        </rules>
        <rules>
            <name>Null_Check_Plus_No_C_In_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Timesheet_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord.BLN_ShiftStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_CICO_Flow_1</targetReference>
            </connector>
            <label>Null Check Plus No C-In Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Service_Resource</name>
        <label>Null Check For Service Resource</label>
        <locationX>1521</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet</targetReference>
            </connector>
            <label>Service Resource Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Time_Sheet_Record</name>
        <label>Null Check For Time Sheet Record</label>
        <locationX>1210</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Open_CICO_Flow_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Sheet_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Sheet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Timesheet_Entry</targetReference>
            </connector>
            <label>Time Sheet Record Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_WO</name>
        <label>Null Check for WO</label>
        <locationX>1808</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Service_Resource</targetReference>
            </connector>
            <label>WO Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_WOLI</name>
        <label>Null Check for WOLI</label>
        <locationX>2354</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ST</targetReference>
            </connector>
            <label>WOLI Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Work_Step</name>
        <label>Null Check For Work Step</label>
        <locationX>2621</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Step_Record_Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI</targetReference>
            </connector>
            <label>Work Step Record Null Check</label>
        </rules>
    </decisions>
    <description>FOUK-5547, FOUK-9330,FOUK-12268</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTimePlus2Hrs</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (2/24)</expression>
    </formulas>
    <interviewLabel>ADAS Post-Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADAS Post-Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>182</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>check_Split_SA1</targetReference>
        </connector>
        <inputAssignments>
            <field>BLN_Account__c</field>
            <value>
                <elementReference>WorkOrderRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLN_ServiceTerritory__c</field>
            <value>
                <elementReference>STRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PublicGroupRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>CurrentTimePlus2Hrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up ADAS Post Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WorkOrderRecord.CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Service_Resource</name>
        <label>Get Current Service Resource</label>
        <locationX>1521</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>2084</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>STRecord.BLN_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>PublicGroupRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>2084</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRecord.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>BLN_WorkOrderNumber__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>BLN_SubStatus__c</queriedFields>
        <queriedFields>WorkTypeFormula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ST</name>
        <label>Get ST</label>
        <locationX>2084</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRecord.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>STRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Region__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BLN_SplitReplaceAndRecalibration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet</name>
        <label>Get Time Sheet</label>
        <locationX>1210</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Time_Sheet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceResource.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>1808</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>2354</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_WorkTypeName__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>2621</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recent_Timesheet_Entry</name>
        <label>Recent Timesheet Entry</label>
        <locationX>853</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_And_Clock_In_Check_For_TimeSheet_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_WOLI</name>
        <label>Copy 1 of Copy 1 of Update WOLI</label>
        <locationX>732</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>check_Split_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ADASPostScanDetails__c</field>
            <value>
                <elementReference>ScanDetails</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_SA</name>
        <label>Update SA</label>
        <locationX>490</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SubStatus__c</field>
            <value>
                <stringValue>Pending Customer Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_WOLI</name>
        <label>Copy 1 of Update WOLI</label>
        <locationX>622</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>check_Split_SA2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ADASPostScanDetails__c</field>
            <value>
                <elementReference>ScanDetails</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Work_Step</name>
        <label>Copy 1 of Update Work Step</label>
        <locationX>622</locationX>
        <locationY>3734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_SA</name>
        <label>Copy 2 of Update SA</label>
        <locationX>600</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SubStatus__c</field>
            <value>
                <stringValue>Pending Customer Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Work_Step</name>
        <label>Copy 2 of Update Work Step</label>
        <locationX>732</locationX>
        <locationY>2918</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>Update_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_SubStatus__c</field>
            <value>
                <stringValue>Pending Customer Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>182</locationX>
        <locationY>3842</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLN_ADASPostScanDetails__c</field>
            <value>
                <elementReference>ScanDetails</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step</name>
        <label>Update Work Step</label>
        <locationX>182</locationX>
        <locationY>3734</locationY>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>FlowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Capture_Notes</name>
        <label>Capture Notes</label>
        <locationX>72</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desc</targetReference>
        </connector>
        <fields>
            <name>FaultsFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Faults Found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompleteWork</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Post-Scan Successful?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Notes_0</name>
        <label>Capture Notes</label>
        <locationX>336</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desc1</targetReference>
        </connector>
        <fields>
            <name>FaultsFound_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Faults Found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes1</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompleteWork1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Post-Scan Successful?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeviceBeingUsed</name>
        <label>DeviceBeingUsed</label>
        <locationX>402</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Faults</targetReference>
        </connector>
        <fields>
            <name>StartPreScan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Device Being Used?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Device</name>
            <choiceReferences>Bosch</choiceReferences>
            <choiceReferences>Non_Bosch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Device</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Faults</name>
        <label>Faults</label>
        <locationX>402</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
        <fields>
            <name>FaultsOrNot</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Faults Found?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Below</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Below</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow_1</name>
        <label>Open CICO Flow 1</label>
        <locationX>1040</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow</targetReference>
        </connector>
        <fields>
            <name>OpenCICO1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_CICO_Flow_2</name>
        <label>Open CICO Flow 2</label>
        <locationX>1568</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calling_CICO_Flow_2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OpenCICO1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowOpenCameraScreen</name>
        <label>ShowOpenCameraScreen</label>
        <locationX>336</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Notes_0</targetReference>
        </connector>
        <fields>
            <name>ShowOpenCamera</name>
            <fieldText>&lt;p&gt;{!displayLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NextToCaptureFaultDesc</name>
            <fieldText>&lt;p&gt;Click &apos;Next&apos; to Capture Notes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_PreScan</name>
        <label>Start PreScan</label>
        <locationX>402</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeviceBeingUsed</targetReference>
        </connector>
        <fields>
            <name>StartPS</name>
            <fieldText>&lt;p&gt;Click Next to Start ADAS Post-Scan Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2495</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Variable_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_CICO_Flow</name>
        <label>Calling CICO Flow</label>
        <locationX>1040</locationX>
        <locationY>2078</locationY>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calling_CICO_Flow_2</name>
        <label>Calling CICO Flow 2</label>
        <locationX>1568</locationX>
        <locationY>1862</locationY>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>CurrentServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&apos;com.salesforce.fieldservice://v1/sObject/{!WorkStepRecord.WorkOrderLineItemId}/quickaction/Image_Capture?workStepName={!WorkStepRecord.Name}&amp;workOrderNumber={!WorkOrderRecord.WorkOrderNumber}&amp;SANumber={!ServiceAppRecord.AppointmentNumber}&apos;&gt;Capture Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>PublicGroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>ScanDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>STRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
