force-app/main/default/flows/BLN_StockCheckInFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_counter</name>
        <label>Add to counter</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_total_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_PR_Value</name>
        <label>Assign Selected PR Value</label>
        <locationX>204</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SelectedPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_selected_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Loop_Count</name>
        <label>Sub Loop Count</label>
        <locationX>204</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_other_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_quantity_used_on_PR</name>
        <label>update quantity used on PR</label>
        <locationX>204</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>SelectedPrRecord.BLN_ProductQuantityConsumedOrTransferred__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnusedQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrRecord.BLN_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unusedQuantity2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnusedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_selected_PR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_existing_Return_Order</name>
        <label>check existing Return Order</label>
        <locationX>204</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>create_Return_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnOrderRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ROLI2</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_more_Products_to_checkin</name>
        <label>Check if more Products to checkin</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Product_Data_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAPS_Checkin_Flow</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_other_product</name>
        <label>check other product</label>
        <locationX>204</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_more_Products_to_checkin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAPS_Checkin_Flow</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_res_null</name>
        <label>Check res null</label>
        <locationX>594</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceResID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_timesheet_record</targetReference>
            </connector>
            <label>is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_time_sheet_entry</name>
        <label>Check time sheet entry</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Clock_in2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shift Status not clocked in</defaultConnectorLabel>
        <rules>
            <name>is_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimeSheetEntryIds.BLN_ShiftStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_product_list</targetReference>
            </connector>
            <label>is not null and clockedin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Timesheet</name>
        <label>Check Timesheet</label>
        <locationX>325</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>is null</defaultConnectorLabel>
        <rules>
            <name>Time_sheet_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_timesheet_entry</targetReference>
            </connector>
            <label>Time sheet not null</label>
        </rules>
    </decisions>
    <description>FOUK-5461 and FOUK-5459 FSL Mobile flow for Stock check-in of product required</description>
    <dynamicChoiceSets>
        <name>ListOfProductRequired</name>
        <dataType>String</dataType>
        <displayField>BLN_ProductData__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_StockCheckInCondition__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Title__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_IsConsumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_IsProductStockable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <sortField>BLN_ProductData__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>requiredPRCollectionChoices</name>
        <collectionReference>requiredPRRecordData</collectionReference>
        <dataType>String</dataType>
        <displayField>BLN_ProductData__c</displayField>
        <object>ProductRequired</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>requiredSACollectionChoices</name>
        <collectionReference>displayServiceAppointmentRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>AppointmentNumber</displayField>
        <object>ServiceAppointment</object>
        <valueField>BLN_WorkOrderLineItem__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UnusedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!SelectedPrRecord.QuantityRequired}-{!SelectedPrRecord.BLN_ProductQuantityConsumedOrTransferred__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updateProductQuantityConsumedOrTransferredInPRFormula</name>
        <dataType>Number</dataType>
        <expression>{!selectedProductRequiredRecord.BLN_ProductQuantityConsumedOrTransferred__c} + {!productTransfer.QuantityReceived}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserIDFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Stock Check-In Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Stock Check-In Flow</label>
    <loops>
        <name>Count_total_products</name>
        <label>Count total products</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>TempLoopProd</assignNextValueToReference>
        <collectionReference>AllProductToCheckin</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_more_Products_to_checkin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>204</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>update_quantity_used_on_PR</targetReference>
        </connector>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SelectedPrRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>UnusedQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>UnusedQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>SRLocationID</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>create_Return_Order</name>
        <label>create Return Order</label>
        <locationX>336</locationX>
        <locationY>2786</locationY>
        <assignRecordIdToReference>NewReturnOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>create_ROLI</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>selectedWO.BLN_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>SRLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordCreates>
    <recordCreates>
        <name>create_ROLI</name>
        <label>create ROLI</label>
        <locationX>336</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Part_is_checked_in</targetReference>
        </connector>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SelectedPrRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReturned</field>
            <value>
                <elementReference>unusedQuantity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnOrderId</field>
            <value>
                <elementReference>NewReturnOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>SRLocationID</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>create_ROLI2</name>
        <label>create ROLI</label>
        <locationX>72</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Part_is_checked_in</targetReference>
        </connector>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SelectedPrRecord.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReturned</field>
            <value>
                <elementReference>unusedQuantity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnOrderId</field>
            <value>
                <elementReference>ReturnOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>SRLocationID</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>get_other_products_to_checkin_on_woli</name>
        <label>get other products to checkin on woli</label>
        <locationX>204</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_WO_of_selected_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPrRecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputAssignments>
            <assignToReference>otherPRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_product_list</name>
        <label>get product list</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_total_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_StockCheckInCondition__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResID</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_Title__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_IsConsumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_IsProductStockable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>AllProductToCheckin</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Return_Order_record</name>
        <label>get Return Order record</label>
        <locationX>204</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_existing_Return_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedWO.BLN_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <outputReference>ReturnOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SourceLocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_selected_product</name>
        <label>get selected product</label>
        <locationX>204</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPR</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>SelectedPrRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Status__c</queriedFields>
        <queriedFields>BLN_Title__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>BLN_ProductQuantityConsumedOrTransferred__c</queriedFields>
        <queriedFields>QuantityRequired</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>BLN_WorkOrder__c</queriedFields>
        <queriedFields>BLN_WOLI__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>594</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_res_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>serviceResID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SRLocationID</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_timesheet_entry</name>
        <label>Get timesheet entry</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_time_sheet_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BLN_ShiftStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIN</stringValue>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_ShiftStatus__c</queriedFields>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_timesheet_record</name>
        <label>Get timesheet record</label>
        <locationX>325</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheetID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_WO_of_selected_Product</name>
        <label>get WO of selected Product</label>
        <locationX>204</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Return_Order_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPrRecord.BLN_WorkOrder__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>selectedWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLN_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_selected_PR</name>
        <label>update selected PR</label>
        <locationX>204</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>get_other_products_to_checkin_on_woli</targetReference>
        </connector>
        <inputReference>SelectedPrRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Clock_in2</name>
        <label>Clock in</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clockin_flow</targetReference>
        </connector>
        <fields>
            <name>Clock_in</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Before performing any operation you must need to &quot;Clock-In&quot; first. Please click Next to &quot;Clock-In&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>204</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Confirmed that part is returned?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Part_is_checked_in</name>
        <label>Part is checked in</label>
        <locationX>204</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sub_Loop_Count</targetReference>
        </connector>
        <fields>
            <name>part_checkedin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Part is Checked-In&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Data_Screen</name>
        <label>Product Data Screen</label>
        <locationX>204</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_PR_Value</targetReference>
        </connector>
        <fields>
            <name>Product_List</name>
            <choiceReferences>ListOfProductRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product List</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>468</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clockin_flow</name>
        <label>Clockin flow</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>get_product_list</targetReference>
        </connector>
        <flowName>BLN_ShiftCICOManagement</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VAPS_Checkin_Flow</name>
        <label>VAPS Checkin Flow</label>
        <locationX>50</locationX>
        <locationY>3644</locationY>
        <flowName>BLN_ResupplyVanVAPSInventory</flowName>
        <inputAssignments>
            <name>CheckinCheckout</name>
            <value>
                <stringValue>Checkin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllProductToCheckin</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>checkAllPRCompletedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>displayServiceAppointmentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>latestQueriedProductRequiredData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>latestQueriedProductRequiredIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MoreProductsToCheckin</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>NewReturnOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherPRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>productRequiredIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>productTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>productTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requiredPRRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>requiredServiceAppointmentData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ReturnOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>sacount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SelectedPR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductRequiredRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>SelectedPrRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>selectedWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceResID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>SRLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempLoopProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>unusedQuantity2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>UserIDFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>woliId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>woliIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woliIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>woliRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
