force-app/main/default/flows/Consent_details_generation_on_Lead_insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Error</name>
        <label>Apex Error</label>
        <locationX>704</locationX>
        <locationY>1511</locationY>
        <actionName>BLN_FlowExceptionLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>excmessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BLN_FlowExceptionLogger</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_6</name>
        <label>Assignment 6</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AllCPTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCPTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCPTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCPTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCPTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPTC5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CPTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTC_1</name>
        <label>CPTC1</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CPTC1.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose_Newsletter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTCName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPTC_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTC_2</name>
        <label>CPTC2</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CPTC2.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTCName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPTC_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTC_3</name>
        <label>CPTC3</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CPTC3.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTCName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPTC_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTC_4</name>
        <label>CPTC4</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CPTC4.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>post</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTCName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPTC_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTC_5</name>
        <label>CPTC5</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CPTC5.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>social</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.BLN_ContactChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.BLN_ChannelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPTC5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPTCName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
    </assignments>
    <description>FOUK-5363 consent details generation on Lead insert</description>
    <environments>Default</environments>
    <formulas>
        <name>CPTCName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}+&quot;_Consent-&quot;+{!Get_Business_Brand.Name}</expression>
    </formulas>
    <formulas>
        <name>email</name>
        <dataType>String</dataType>
        <expression>if(INCLUDES({!$Record.BLN_MarketingConsent__c}, &apos;Email&apos;),&quot;OptIn&quot;,&quot;OptOut&quot;)</expression>
    </formulas>
    <formulas>
        <name>email1</name>
        <dataType>String</dataType>
        <expression>if(INCLUDES({!$Record.BLN_InformationConsent__c}, &apos;Email&apos;),&quot;OptIn&quot;,&quot;OptOut&quot;)</expression>
    </formulas>
    <formulas>
        <name>post</name>
        <dataType>String</dataType>
        <expression>if(INCLUDES({!$Record.BLN_MarketingConsent__c}, &apos;Post&apos;),&quot;OptIn&quot;,&quot;OptOut&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrivacyConsentStatus</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!$Record.BLN_MarketingConsent__c}),&quot;OptOut&quot;,&quot;OptIn&quot;)</expression>
    </formulas>
    <formulas>
        <name>sms</name>
        <dataType>String</dataType>
        <expression>if(INCLUDES({!$Record.BLN_MarketingConsent__c}, &apos;sms&apos;),&quot;OptIn&quot;,&quot;OptOut&quot;)</expression>
    </formulas>
    <formulas>
        <name>social</name>
        <dataType>String</dataType>
        <expression>if(INCLUDES({!$Record.BLN_MarketingConsent__c}, &apos;Social&apos;),&quot;OptIn&quot;,&quot;OptOut&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Consent details generation on Lead insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent details generation on Lead insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CPTCs</name>
        <label>Create CPTCs</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Individual</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apex_Error</targetReference>
        </faultConnector>
        <inputReference>AllCPTCs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Business_Brand</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Brand</name>
        <label>Get Business Brand</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BLN_OwningBusinessUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessBrand</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Use_Purpose_Newsletter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ConsentPurpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_BusinessBrand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Brand.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose_Newsletter</name>
        <label>Get Data Use Purpose</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPTC_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLN_ConsentPurpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Newsletter</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLN_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BLN_BusinessBrand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Brand.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Individual</name>
        <label>Update Individual</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Individual</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCPTCs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>CPTC5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
</Flow>
