force-app/main/default/flows/LAD_Reason_of_Price_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>FOUK-7777</description>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Adjustment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Price</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_of_Price_Adjustment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Data Empty</label>
        </rules>
    </decisions>
    <description>FOUK 7773
Flow is used for adjust cart item total price with reason on salesforce</description>
    <dynamicChoiceSets>
        <name>ReasonofPriceAdjustment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAD_Reason_of_Price_Adjustment__c</picklistField>
        <picklistObject>LAD_Reason_for_Price_Adjustment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AdjustmentAmount</name>
        <dataType>Currency</dataType>
        <expression>-(({!Get_Cart_Item.SalesPrice}-{!New_Price}))*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>checkPortalUser</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT(ISBLANK({!$User.ContactId})),AND(NOT({!$UserRole.Name}=&apos;Wholesale Manager&apos;),NOT({!$UserRole.Name}=&apos;Hub Manager&apos;),NOT({!$UserRole.Name}=&apos;Hub Team User&apos;)))</expression>
    </formulas>
    <formulas>
        <name>FinalAggreedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!New_Price}*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NonReturnableValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Non_Returnable}==null, {!Get_Cart_Item.LAD_Non_Returnable__c}, {!Non_Returnable})</expression>
    </formulas>
    <formulas>
        <name>OriginalTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Cart_Item.SalesPrice}*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountCorrected</name>
        <dataType>Currency</dataType>
        <expression>{!New_Price}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPriceAfterAllAdjustments</name>
        <dataType>Currency</dataType>
        <expression>{!New_Price}*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnitAdjustmentAmount</name>
        <dataType>Currency</dataType>
        <expression>-(({!Get_Cart_Item.SalesPrice}-{!New_Price}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Reason of Price Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Price Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>FOUK-7777</description>
        <name>Create_Price_Adjustment_Record</name>
        <label>Create Price Adjustment Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Promotion_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_of_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LAD_Account__c</field>
            <value>
                <elementReference>Account_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_AdjustedPrice__c</field>
            <value>
                <elementReference>New_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Agreed_Price__c</field>
            <value>
                <elementReference>FinalAggreedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Cart_Item__c</field>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Cart__c</field>
            <value>
                <elementReference>Get_Cart_Item.Cart.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Customer_Price__c</field>
            <value>
                <elementReference>OriginalTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Product__c</field>
            <value>
                <elementReference>Get_Cart_Item.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Reason_of_Price_Adjustment__c</field>
            <value>
                <elementReference>Reason_of_Price_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LAD_Reason_for_Price_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Price_Adjustment_Record</name>
        <label>Create Standard Price Adjustment Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Cart_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_of_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AdjustmentAmountScope</field>
            <value>
                <stringValue>Total</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentBasisReferenceId</field>
            <value>
                <elementReference>Get_Coupon.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentSource</field>
            <value>
                <stringValue>Promotion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentTargetType</field>
            <value>
                <stringValue>Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentType</field>
            <value>
                <stringValue>OverrideAmount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentValue</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartId</field>
            <value>
                <elementReference>Get_Cart_Item.CartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartItemId</field>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Cart_Item.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceAdjustmentCauseId</field>
            <value>
                <elementReference>Get_Promotion_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>CartItemPriceAdjustment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>FOUK-7777
Get account name of that cart item</description>
        <name>Account_Name</name>
        <label>Account Name</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Cart.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-7777</description>
        <name>Get_Cart_Item</name>
        <label>Get Cart Item</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Coupon</name>
        <label>Get Coupon</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_Price_Adjustment_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_of_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PromotionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Coupon</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Record</name>
        <label>Get Promotion Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Coupon</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_of_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Adjustment Standard Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-7777
Get record type price adjustment</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Adjustment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAD_Price_Adjustment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart_Items</name>
        <label>Update Cart Items</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_of_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LAD_Is_Price_Adjustment_Applied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Non_Returnable__c</field>
            <value>
                <elementReference>NonReturnableValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_UnitPriceAdjustment__c</field>
            <value>
                <elementReference>UnitAdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAdjustmentAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPriceAfterAllAdjustments</field>
            <value>
                <elementReference>TotalPriceAfterAllAdjustments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPromoAdjustmentAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitAdjustmentAmount</field>
            <value>
                <elementReference>UnitAdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>CartItem</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The price has been successfully changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;Add New Price and Reason of Price Adjustment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_of_Failure</name>
        <label>Error of Failure</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;This Error occured in the flow: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Price_Adjustment</name>
        <label>Price Adjustment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <fieldText>&lt;p&gt;Account Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Adjustment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Price_Adjustment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountValue</name>
                    <fieldText>&lt;p&gt;{!Account_Name.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product</name>
            <fieldText>&lt;p&gt;Product Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.Product2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductCode</name>
            <fieldText>&lt;p&gt;Product Code &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductCodeValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.LAD_Product_Code__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSKU</name>
            <fieldText>&lt;p&gt;Product SKU&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSKUValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.Sku}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price</name>
            <fieldText>&lt;p&gt;Original Price&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OriginalPriceValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.SalesPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Non_Returnable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Cart_Item.LAD_Non_Returnable__c</elementReference>
            </defaultValue>
            <fieldText>Non Returnable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>checkPortalUser</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Price</name>
            <dataType>Currency</dataType>
            <fieldText>New Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Reason_of_Price_Adjustment</name>
            <choiceReferences>ReasonofPriceAdjustment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason of Price Adjustment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cart_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
