force-app/main/default/flows/LAD_Technical_Details_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Category</name>
        <label>Category</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Non_Glass_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Category_is_Glass_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCategoryName.ProductCategory.ParentCategory.ParentCategory.ParentCategory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glass Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Details</targetReference>
            </connector>
            <label>If Category is Glass Products</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADASValue</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Product_Details.BLN_ADASRecalibrationNeeded__c}, &apos;Needed&apos;, &apos;Not Needed&apos;)</expression>
    </formulas>
    <interviewLabel>LAD_Technical_Details_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>LAD_Technical_Details_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_Details</name>
        <label>Get Product Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCategoryName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCategoryName</name>
        <label>GetCategoryName</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategoryProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Non_Glass_Products</name>
        <label>Non Glass Products</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Non_Glass_Products_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_Glass_Products_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Data2</name>
                    <fieldText>&lt;p&gt;Colour&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Non_Glass_Products_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Value2</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Colour__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Non_Glass_Products_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_Glass_Products_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Data7</name>
                    <fieldText>&lt;p&gt;Component Quantity&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Non_Glass_Products_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Value7</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Component_Quantity__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Non_Glass_Products_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_Glass_Products_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Data8</name>
                    <fieldText>&lt;p&gt;Vehicle Hole&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Non_Glass_Products_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Value8</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Vehicle_Hole__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Non_Glass_Products_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_Glass_Products_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Data9</name>
                    <fieldText>&lt;p&gt;Vehicle Details&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Non_Glass_Products_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Value9</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Vehicle_Details__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Technical_Details</name>
        <label>Glass Products</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Technical_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data1</name>
                    <fieldText>&lt;p&gt;ADAS Recalibration Needed&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value1</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.BLN_ADASRecalibrationNeeded__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data2</name>
                    <fieldText>&lt;p&gt;Colour&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value2</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Colour__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data3</name>
                    <fieldText>&lt;p&gt;Height&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value3</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Height__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data4</name>
                    <fieldText>&lt;p&gt;Weight&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value4</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Weight__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data5</name>
                    <fieldText>&lt;p&gt;Width&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value5</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Width__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data6</name>
                    <fieldText>&lt;p&gt;Thickness&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value6</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Thickness__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data8</name>
                    <fieldText>&lt;p&gt;Vehicle Hole&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value8</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Vehicle_Hole__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Details_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Details_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data9</name>
                    <fieldText>&lt;p&gt;Vehicle Details&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Details_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value9</name>
                    <fieldText>&lt;p&gt;{!Get_Product_Details.LAD_Vehicle_Details__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
