force-app/main/default/flows/LAD_Price_Match_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Pricematch</name>
        <choiceText>Price match</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>FOUK-8991
check product/ account/ category is blocked for price match</description>
        <name>Is_Blocked_for_Price_Match</name>
        <label>Is Blocked for Price Match</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Internal_Price_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unblock</defaultConnectorLabel>
        <rules>
            <name>Blocked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.LAD_Not_Eligible_for_Price_Match__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.LAD_Blocked_for_Price_Match__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Category.LAD_Blocked_for_Price_Match__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Blocked</label>
        </rules>
    </decisions>
    <description>FOUK-8991 
Flow is used for price match of cart item on salesforce</description>
    <environments>Default</environments>
    <formulas>
        <name>AdjustmentAmount</name>
        <dataType>Currency</dataType>
        <expression>-(({!Get_Cart_Item.SalesPrice}-{!Agreed_Price}))*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPriceAfterAllAdjustments</name>
        <dataType>Currency</dataType>
        <expression>{!Agreed_Price}*{!Get_Cart_Item.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnitAdjustmentAmount</name>
        <dataType>Currency</dataType>
        <expression>-(({!Get_Cart_Item.SalesPrice}-{!Agreed_Price}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Price Match Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Price Match Internal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>FOUK-8991</description>
        <name>Create_Price_Adjustment_Record</name>
        <label>Create Price Adjustment Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Promotion_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errormsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LAD_Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Agreed_Price__c</field>
            <value>
                <elementReference>Agreed_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Cart_Item__c</field>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Cart__c</field>
            <value>
                <elementReference>Get_Cart_Item.Cart.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Comment__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Competitor_Price_Validated__c</field>
            <value>
                <elementReference>Competitor_Price_Validated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Competitor_Price__c</field>
            <value>
                <elementReference>Competitor_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Competitor__c</field>
            <value>
                <elementReference>CompetitorAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Customer_Price__c</field>
            <value>
                <elementReference>Get_Cart_Item.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Product__c</field>
            <value>
                <elementReference>Get_Cart_Item.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_Reason_of_Price_Adjustment__c</field>
            <value>
                <stringValue>Price match</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LAD_Reason_for_Price_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Price_Adjustment_Record</name>
        <label>Create Standard Price Adjustment Record</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_cart_Item</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errormsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AdjustmentAmountScope</field>
            <value>
                <stringValue>Total</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentBasisReferenceId</field>
            <value>
                <elementReference>Get_Coupon.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentSource</field>
            <value>
                <stringValue>Promotion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentTargetType</field>
            <value>
                <stringValue>Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentType</field>
            <value>
                <stringValue>OverrideAmount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentValue</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartId</field>
            <value>
                <elementReference>Get_Cart_Item.CartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartItemId</field>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Cart_Item.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceAdjustmentCauseId</field>
            <value>
                <elementReference>Get_Promotion_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>CartItemPriceAdjustment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>FOUK-8991</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Cart.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-8991</description>
        <name>Get_Cart_Item</name>
        <label>Get Cart Item</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-8991</description>
        <name>Get_Category</name>
        <label>Get Category</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Category_Product.ProductCategory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Coupon</name>
        <label>Get Coupon</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_Price_Adjustment_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errormsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PromotionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Coupon</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-8991</description>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Category_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-8991</description>
        <name>Get_Product_Category_Product</name>
        <label>Get Product Category Product</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategoryProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Record</name>
        <label>Get Promotion Record</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Coupon</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errormsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Adjustment Standard Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FOUK-8991
Get price match record type</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Blocked_for_Price_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAD_Price_Match</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>FOUK-8991
update total price</description>
        <name>Update_cart_Item</name>
        <label>Update cart Item</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errormsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LAD_Is_Price_Adjustment_Applied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAD_UnitPriceAdjustment__c</field>
            <value>
                <elementReference>UnitAdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAdjustmentAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPriceAfterAllAdjustments</field>
            <value>
                <elementReference>TotalPriceAfterAllAdjustments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPromoAdjustmentAmount</field>
            <value>
                <elementReference>AdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitAdjustmentAmount</field>
            <value>
                <elementReference>UnitAdjustmentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>CartItem</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;The price has been successfully changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errormsg</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Error:{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Price_Match</name>
        <label>Internal Price Match</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Price_Adjustment_Record</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <fieldText>&lt;p&gt;Account Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountNameValue</name>
            <fieldText>&lt;p&gt;{!Get_Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CartItem</name>
            <fieldText>&lt;p&gt;Cart Item&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CartItemvalue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductCode</name>
            <fieldText>&lt;p&gt;Product Code&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductCodeValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.LAD_Product_Code__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSKU</name>
            <fieldText>&lt;p&gt;Product SKU&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSKUValue</name>
            <fieldText>&lt;p&gt;{!Get_Cart_Item.Sku}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompetitorAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LAD_Competitor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Competitor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LAD_Reason_for_Price_Adjustment__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Internal_Price_Match_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Internal_Price_Match_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerPrice</name>
                    <fieldText>&lt;p&gt;Customer Price&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OriginalPriceValue</name>
                    <fieldText>&lt;p&gt;{!Get_Cart_Item.&lt;span style=&quot;font-size: 13px;&quot;&gt;SalesPrice&lt;/span&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Internal_Price_Match_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minimumprice</name>
                    <fieldText>&lt;p&gt;Minimum Price&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MinimumPriceValue</name>
                    <fieldText>&lt;p&gt;{!Get_Product.LAD_Minimum_Price__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Internal_Price_Match_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Internal_Price_Match_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agreed_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Agreed Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Internal_Price_Match_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Competitor_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Competitor Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Competitor_Price_Validated</name>
            <dataType>Boolean</dataType>
            <fieldText>Competitor Price Validated</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Price_Adjustment_Reason</name>
            <choiceReferences>Pricematch</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Pricematch</defaultSelectedChoiceReference>
            <fieldText>Price Adjustment Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 15px;&quot;&gt;This Product / Product category is not available for Price Match. Please contact the Hub Team if you want to proceed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cart_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
