force-app/main/default/flows/LAD_UpdatePriceAdjustmentOnQtyChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_If_PriceAdjustmentRecord_Exist</name>
        <label>Check If PriceAdjustmentRecord Exist</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CartItemPriceAdjustment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Changed</name>
        <label>Is Quantity Changed</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIschanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Adjustment_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_CartItem.LAD_UnitPriceAdjustment__c}*{!Get_CartItem.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>check1232</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Quantity}) +&apos;-&apos;+TEXT({!$Record__Prior.Quantity})</expression>
    </formulas>
    <formulas>
        <name>FinalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_CartItem.TotalPrice}+{!Adjustment_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LAD_UpdatePriceAdjustmentOnQtyChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAD_UpdatePriceAdjustmentOnQtyChange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CartItem</name>
        <label>Get CartItem</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CartItemPriceAdjustment_Record</name>
        <label>Get CartItemPriceAdjustment Record</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_PriceAdjustmentRecord_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PriceAdjustmentCauseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItemPriceAdjustment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion</name>
        <label>Get Promotion</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CartItemPriceAdjustment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Adjustment Standard Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>check</name>
        <label>check</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_Quantity_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Fg00000CTaijIAD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>check1232</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_check</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of check</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Cart_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Fg00000CTaijIAD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Adjustment_Amount} +&apos;-&apos;+{!Adjustment_Amount}</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_check</name>
        <label>Copy 1 of Copy 1 of Copy 2 of check</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Cart_Item_Price_Adjustment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Fg00000CTaijIAD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>copy 2</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_check</name>
        <label>Copy 1 of Copy 2 of check</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_CartItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Fg00000CTaijIAD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>copy 2</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_check</name>
        <label>Copy 2 of check</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Fg00000CTaijIAD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cart_Item</name>
        <label>Update Cart Item</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>TotalAdjustmentAmount</field>
            <value>
                <elementReference>Adjustment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPriceAfterAllAdjustments</field>
            <value>
                <elementReference>FinalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPromoAdjustmentAmount</field>
            <value>
                <elementReference>Adjustment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cart_Item_Price_Adjustment</name>
        <label>Update Cart Item Price Adjustment</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CartItemPriceAdjustment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustmentValue</field>
            <value>
                <elementReference>Adjustment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmount</field>
            <value>
                <elementReference>Adjustment_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>CartItemPriceAdjustment</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CartItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
