force-app/main/default/flows/LAD_Account_Switcher_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_All_Contact_Id_to_Ids_Collection</name>
        <label>Assign All Contact Id to Ids Collection</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_Through_All_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_All_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id_to_Ids_Collection</name>
        <label>Assign Contact Id to Ids Collection</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_Through_Selected_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ext_Mng_Acc_Records</name>
        <label>Assign Ext. Mng. Acc Records</label>
        <locationX>1062</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>externalManagedAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>externalManagedAccountrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_External_Managed_Account_record</name>
        <label>Define External Managed Account record</label>
        <locationX>1062</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>externalManagedAccountrecord.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Selected_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalManagedAccountrecord.ManagedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalManagedAccountrecord.AccessBuyFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buy_For</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalManagedAccountrecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_for_External_Manage_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalManagedAccountrecord.AccessManageUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manage_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ext_Mng_Acc_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAD_Permission_Set_Group_Assignment</name>
        <label>Permission Set Group Assignment</label>
        <locationX>1073</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LAD_Get_Permission_Set_Assignment.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAD_Get_Permission_Set_Assignment.PermissionSetGroup.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LAD_Get_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Records</name>
        <label>User Records</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>usersRecordsCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Selected_Users</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>allUsers</name>
        <choiceText>All Employees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Employees</stringValue>
        </value>
    </choices>
    <choices>
        <name>buyFor</name>
        <choiceText>Buy For</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buy For</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndividualUser</name>
        <choiceText>﻿Individual Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>manageUsers</name>
        <choiceText>Manage Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage Users</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiple</name>
        <choiceText>Group of Employees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group of Employees</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Developer_name</name>
        <label>Is Developer name?</label>
        <locationX>985</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IF NOT</defaultConnectorLabel>
        <rules>
            <name>IF_YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LAD_Get_Permission_Set_Assignment.PermissionSetGroup.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LAD_Wholesale_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LAD_Get_Permission_Set_Assignment.PermissionSetGroup.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LAD_Hub_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAD_Is_Account_List_Empty</targetReference>
            </connector>
            <label>IF YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAD_Is_Account_List_Empty</name>
        <label>Is Account List Empty?</label>
        <locationX>424</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>LAD_Get_Selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfoScreen1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAD_Number_of_Users</name>
        <label>Number of Users</label>
        <locationX>798</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IndividualUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Single User</label>
        </rules>
        <rules>
            <name>Multiple_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>multiple</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Multiple Users</label>
        </rules>
        <rules>
            <name>All_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>allUsers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAD_Get_All_Contacts</targetReference>
            </connector>
            <label>All Users</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>laddawInternalAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LAD_Is_Internal_Laddaw_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Internal_Laddaw_Account</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>roleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAD_Role__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>buyForFormulaOutput</name>
        <dataType>Boolean</dataType>
        <expression>if({!buyFor}==&apos;true&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>manageUserFormulaOutput</name>
        <dataType>Boolean</dataType>
        <expression>if({!manageUsers}==&apos;True&apos;,true,false)</expression>
    </formulas>
    <interviewLabel>Account Switcher Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account Switcher Flow</label>
    <loops>
        <name>Go_Through_All_Contacts</name>
        <label>Go Through All Contacts</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <collectionReference>LAD_Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_All_Contact_Id_to_Ids_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_Through_Selected_Accounts</name>
        <label>Go Through Selected Accounts</label>
        <locationX>974</locationX>
        <locationY>1898</locationY>
        <collectionReference>LAD_Get_Selected_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_External_Managed_Account_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Go_Through_Selected_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_Through_Selected_Contacts</name>
        <label>Go Through Selected Contacts</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Id_to_Ids_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_Through_Selected_Users</name>
        <label>Go Through Selected Users</label>
        <locationX>798</locationX>
        <locationY>1790</locationY>
        <collectionReference>usersRecordsCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Go_Through_Selected_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LAD_Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>985</locationX>
        <locationY>242</locationY>
        <collectionReference>LAD_Get_Permission_Set_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LAD_Permission_Set_Group_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Developer_name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>798</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>infoScreen2</targetReference>
        </connector>
        <inputReference>externalManagedAccountCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_User_Records</name>
        <label>Get All User Records</label>
        <locationX>1018</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_Selected_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>usersRecordsCollections</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_Selected_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Internal_Laddaw_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>LAD_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_employee_group_by_role</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_select_the_employee.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_Selected_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>usersRecordsCollections</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LAD_Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>1018</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_All_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Internal_Laddaw_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LAD_Get_Permission_Set_Group</name>
        <label>Get Permission Set Group</label>
        <locationX>985</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LAD_Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LAD_Get_Selected_Accounts</name>
        <label>Get Selected Accounts</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LAD_Select_Laddaw_Internal_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>LAD_Is_Internal_Laddaw_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1546</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 18, 18);&quot;&gt;You do not have access to allocate account visibility&amp;nbsp;- Please speak to your line manager if you need additional access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InfoScreen1</name>
        <label>InfoScreen1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;🚫&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(195, 24, 24);&quot;&gt;You haven&apos;t selected any account. Please go back and select all accounts you want to assign to Internal Laddaw Portal users&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>infoScreen2</name>
        <label>infoScreen2</label>
        <locationX>798</locationX>
        <locationY>2498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Internal User Account Assignment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LAD_CheckBox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CreateRecordMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(36, 157, 58);&quot;&gt;You have successfully assign accounts.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LAD_Select_Contact</name>
        <label>Select Contact</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LAD_Number_of_Users</targetReference>
        </connector>
        <fields>
            <name>Message4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Internal User Account Assignment&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LAD_selectWhichContacts</name>
            <choiceReferences>IndividualUser</choiceReferences>
            <choiceReferences>multiple</choiceReferences>
            <choiceReferences>allUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To which users should the selected accounts be assigned?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_select_the_employee</name>
            <choiceReferences>listOfContacts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>User</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IndividualUser</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_the_employee_group_by_role</name>
            <choiceReferences>roleType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>User Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>multiple</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Access_Label</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; &lt;strong&gt;Access&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IndividualUser</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>multiple</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>allUsers</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Buy_For</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Buy For</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IndividualUser</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>multiple</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>allUsers</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manage_Users</name>
            <dataType>Boolean</dataType>
            <fieldText>Manage Users</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IndividualUser</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>multiple</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LAD_selectWhichContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>allUsers</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LAD_Select_Laddaw_Internal_Account</name>
        <label>Select Laddaw Internal Account</label>
        <locationX>798</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LAD_Select_Contact</targetReference>
        </connector>
        <fields>
            <name>Message3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Internal User Account Assignment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internal_Laddaw_Account</name>
            <choiceReferences>laddawInternalAccounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Internal Laddaw Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>859</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LAD_Get_Permission_Set_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Name_for_External_Manage_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Access for {!Go_Through_Selected_Accounts.Name} to {!Get_User.Name}</text>
    </textTemplates>
    <variables>
        <name>externalManagedAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DelegatedAccount</objectType>
    </variables>
    <variables>
        <name>externalManagedAccountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DelegatedAccount</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>usersRecordsCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
