force-app/main/default/flows/LAD_Create_Supersession_Data_Event_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>LAD_Define_Supersession_Data_Record_for_stock_Code</name>
        <label>Define Supersession Data Record for stock Code</label>
        <locationX>50</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Code_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock code</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Code_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Code_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Old_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Old_Stock_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_New_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_New_Stock_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_stockCodeSupersessionDataRecord.LAD_Code_Change_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_recordsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAD_stockCodeSupersessionDataRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LAD_Create_Supersession_Data_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAD_Define_Supersession_Record_for_Sales_Code</name>
        <label>Define Supersession Record for Sales Code</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Code_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Code</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Code_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Code_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Old_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Old_Sales_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_New_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_New_Sales_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_salesCodeSupersessionDataRecord.LAD_Code_Change_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LAD_Code_Change_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAD_recordsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAD_salesCodeSupersessionDataRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LAD_Is_Stock_Code_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LAD_Is_Sales_Code_changed</name>
        <label>Is Sales Code changed</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>LAD_Is_Stock_Code_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LAD_Sales_code_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LAD_New_Sales_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LAD_Old_Sales_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAD_Define_Supersession_Record_for_Sales_Code</targetReference>
            </connector>
            <label>Sales code Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAD_Is_Stock_Code_changed</name>
        <label>Is Stock Code changed</label>
        <locationX>182</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>LAD_Create_Supersession_Data_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Stock_Code_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LAD_New_Stock_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LAD_Old_Stock_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAD_Define_Supersession_Data_Record_for_stock_Code</targetReference>
            </connector>
            <label>Stock Code changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Super {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Supersession Data Event Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LAD_Create_Supersession_Data_Record</name>
        <label>Create Supersession Data Record</label>
        <locationX>182</locationX>
        <locationY>770</locationY>
        <inputReference>LAD_recordsToBeCreated</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LAD_Is_Sales_Code_changed</targetReference>
        </connector>
        <object>LAD_Supersession_Data_event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LAD_recordsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LAD_Supersession_Data__c</objectType>
    </variables>
    <variables>
        <name>LAD_salesCodeSupersessionDataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LAD_Supersession_Data__c</objectType>
    </variables>
    <variables>
        <name>LAD_stockCodeSupersessionDataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LAD_Supersession_Data__c</objectType>
    </variables>
</Flow>
