force-app/main/default/flows/LAD_Abandoned_Cart_Email_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>FOUK-8503,
Created action to send email alert.</description>
        <name>Abandoned_Cart_Email</name>
        <label>Abandoned Cart Email</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>WebCart.LAD_Abandoned_Cart_Email</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WebCart.LAD_Abandoned_Cart_Email</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <description>FOUK-9969</description>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>FOUK -8503</description>
        <name>Fault_Error</name>
        <label>Fault Error</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>FOUK-8503, 
Flow Trigger when cart is created or updated. It used to send email alert 24 hours after last modified date.</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Abandoned Cart Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abandoned Cart Email flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>FOUK-9969</description>
        <name>Update_Cart</name>
        <label>Update Cart</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LAD_Abandoned_Cart__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>PendingClosed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </filters>
        <object>WebCart</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>LAD_24_Hours_Alert</name>
            <connector>
                <targetReference>Abandoned_Cart_Email</targetReference>
            </connector>
            <label>24 Hours Alert</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Abandoned_cart_after_48_Hours</name>
            <connector>
                <targetReference>Update_Cart</targetReference>
            </connector>
            <label>Abandoned cart after 48 Hours</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
